<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.talend.designer.pigmap.model.emf.pigmap.PigmapPackage"
            genModel="model/pigmap.genmodel"
            uri="http://www.talend.org/pigmap">
      </package>
   </extension>
   <extension
         point="org.talend.core.external_component">
      <ExternalComponent
            class="org.talend.designer.pigmap.PigMapComponent">
      </ExternalComponent>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.designer.pigmap.PigMapService"
            serviceId="IPigMapService">
      </Service>
   </extension>
</plugin>
