<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.help.toc">
         
    <toc
            file="perlfunc.xml"/>         
         
   </extension>
   
   
      	<extension
		point="org.eclipse.ui.actionSets">
   
   		<actionSet
			id="org.talend.help.perl"
			label="%HelpAction.label"
			visible="true">
			<action 
				id="org.talend.help.perl.OpenPerlHelpAction"
				class="org.talend.help.perl.OpenPerlHelpAction"
				menubarPath="help/additions"
				label="%HelpAction.label"/>
		</actionSet>
   </extension>
       <extension
             point="org.talend.core.runtime.service">
          <Service
                class="org.talend.help.perl.HelpPerlService"
                serviceId="IHelpPerlService">
          </Service>
       </extension>

</plugin>
