<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
        <libraryNeeded
              context="plugin:org.talend.librairies.pig"
              language="java"
              message="Needed pigmap"
              name="pig-0.10.0.jar" mvn_uri="mvn:org.talend.libraries/pig-0.10.0/6.0.0" 
              required="true">
        </libraryNeeded>
    </extension>
</plugin>
