<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.code.jobscript"
            contentProvider="org.talend.repository.pigudf.content.PigudfContentProvider"
            icon="icons/pigudf.gif"
            id="org.talend.repository.viewer.code.PigUdf"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="%NavigatorContent.pigUdf"
            priority="normal">
      <triggerPoints>
           <and>
              <instanceof
                    value="org.talend.repository.model.RepositoryNode">
              </instanceof>
              <or>
                 <test
                       forcePluginActivation="true"
                       property="org.talend.repository.node.code.isPigudf">
                 </test>
                 <test
                       forcePluginActivation="true"
                       property="org.talend.repository.node.isCodeTopNode">
                 </test>
              </or>
           </and>
        </triggerPoints>            
        <possibleChildren>
           <and>
              <instanceof
                    value="org.talend.repository.model.RepositoryNode">
              </instanceof>
              <test
                    forcePluginActivation="true"
                    property="org.talend.repository.node.code.isPigudf">
              </test>
           </and>
        </possibleChildren>
        <actionProvider
              class="org.talend.repository.view.di.viewer.action.DIRepositoryNodeActionProvider">
           <enablement>
              <and>
                 <instanceof
                       value="org.talend.repository.model.RepositoryNode">
                 </instanceof>
                 <test
                       forcePluginActivation="true"
                       property="org.talend.repository.node.code.isPigudf">
                 </test>
                 <not>
                    <test
                          forcePluginActivation="true"
                          property="org.talend.repository.node.isDeleted">
                    </test>
                 </not>
              </and>
           </enablement>
        </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.repository.pigudf.tester.PigudfNodeTester"
            id="org.talend.repository.node.tester.code.pigudf"
            namespace="org.talend.repository.node.code"
            properties="isPigudf"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
   </extension>
   <extension
         point="org.talend.core.repository.repositorySeeker">
      <seeker
            class="org.talend.repository.pigudf.seeker.PigudfSeeker"
            name="PigudfSeeker">
      </seeker>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            folder="code/pigudf"
            icon="icons/pigudf.gif"
            isResouce="true"
            label="%NavigatorContent.pigUdf"
            ordinal="4"
            parentNodeType="CODE"
            products="DI"
            type="PIG_UDF">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.pigudf.actions.CreatePigudfAction"
            id="org.talend.repository.pigudf.actions.CreatePigudfAction"
            level="10"
            name="%NavigatorContent.action.createPigudf">
      </Action>
      <Action
            class="org.talend.repository.pigudf.actions.EditPigudfAction"
            id="org.talend.repository.pigudf.actions.EditPigudfAction"
            isEditAction="false"
            isPropertiesAction="false"
            isReadAction="false"
            level="10"
            name="%NavigatorContent.action.editPigudf">
      </Action>
      <Action
            class="org.talend.repository.pigudf.actions.ReadPigudfAction"
            id="org.talend.repository.pigudf.actions.ReadPigudfAction"
            level="10"
            name="%NavigatorContent.action.readPigudf">
      </Action>
      <Action
            class="org.talend.repository.pigudf.actions.EditPigudfPropertiesAction"
            id="org.talend.repository.pigudf.actions.EditPigudfPropertiesAction"
            level="10"
            name="%NavigatorContent.action.editPigudfProperties">
      </Action>
   </extension>
</plugin>
