<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
        
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="talend-bigdata-launcher-qubole-1.2.7-20181108.jar" name="talend-bigdata-launcher-qubole-1.2.7-20181108.jar" mvn_uri="mvn:org.talend.libraries/talend-bigdata-launcher-qubole-1.2.7-20181108/7.1.1" />

		<!-- Qubole SDK 0.9.1 and it's dependencies -->
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="qds-sdk-java-0.9.1.jar" name="qds-sdk-java-0.9.1.jar" mvn_uri="mvn:com.qubole.qds-sdk-java/qds-sdk-java/0.9.1" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jersey-client-2.5.jar" name="jersey-client-2.5.jar" mvn_uri="mvn:org.glassfish.jersey.core/jersey-client/2.5" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jersey-common-2.5.jar" name="jersey-common-2.5.jar" mvn_uri="mvn:org.glassfish.jersey.core/jersey-common/2.5" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="javax.annotation-api-1.2.jar" name="javax.annotation-api-1.2.jar" mvn_uri="mvn:javax.annotation/javax.annotation-api/1.2" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="javax.ws.rs-api-2.0.jar" name="javax.ws.rs-api-2.0.jar" mvn_uri="mvn:javax.ws.rs/javax.ws.rs-api/2.0" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hk2-api-2.2.0-b21.jar" name="hk2-api-2.2.0-b21.jar" mvn_uri="mvn:org.glassfish.hk2/hk2-api/2.2.0-b21" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hk2-utils-2.2.0-b21.jar" name="hk2-utils-2.2.0-b21.jar" mvn_uri="mvn:org.glassfish.hk2/hk2-utils/2.2.0-b21" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hk2-locator-2.2.0-b21.jar" name="hk2-locator-2.2.0-b21.jar" mvn_uri="mvn:org.glassfish.hk2/hk2-locator/2.2.0-b21" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="javax.inject-2.2.0-b21.jar" name="javax.inject-2.2.0-b21.jar" mvn_uri="mvn:org.glassfish.hk2.external/javax.inject/2.2.0-b21" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="cglib-2.2.0-b21.jar" name="cglib-2.2.0-b21.jar" mvn_uri="mvn:org.glassfish.hk2.external/cglib/2.2.0-b21" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jersey-media-json-jackson-2.5.jar" name="jersey-media-json-jackson-2.5.jar" mvn_uri="mvn:org.glassfish.jersey.media/jersey-media-json-jackson/2.5" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jackson-core-asl-1.9.13.jar" name="jackson-core-asl-1.9.13.jar" mvn_uri="mvn:org.codehaus.jackson/jackson-core-asl/1.9.13" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jackson-mapper-asl-1.9.13.jar" name="jackson-mapper-asl-1.9.13.jar" mvn_uri="mvn:org.codehaus.jackson/jackson-mapper-asl/1.9.13" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jackson-jaxrs-1.9.13.jar" name="jackson-jaxrs-1.9.13.jar" mvn_uri="mvn:org.codehaus.jackson/jackson-jaxrs/1.9.13" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jackson-xc-1.9.13.jar" name="jackson-xc-1.9.13.jar" mvn_uri="mvn:org.codehaus.jackson/jackson-xc/1.9.13" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="guava-16.0.1.jar" name="guava-16.0.1.jar" mvn_uri="mvn:com.google.guava/guava/16.0.1" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jackson-annotations-2.6.0.jar" name="jackson-annotations-2.6.0.jar" mvn_uri="mvn:com.fasterxml.jackson.core/jackson-annotations/2.6.0" />
		<libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="parquet-pig-1.5.0.jar" name="parquet-pig-1.5.0.jar" mvn_uri="mvn:com.twitter/parquet-pig/1.5.0" />

		<!-- Talend nexus jars -->
        <libraryNeeded
            context="plugin:org.talend.libraries.pig"
            id="pigutil.jar"
            name="pigutil.jar"
            mvn_uri="mvn:org.talend.libraries/pigutil/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.libraries.pig"
            id="elephant-bird-rcfile-4.9-patched-hive-1.x.jar"
            name="elephant-bird-rcfile-4.9-patched-hive-1.x.jar"
            mvn_uri="mvn:org.talend.libraries/elephant-bird-rcfile-4.9-patched-hive-1.x/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.qubole"
            id="avro-mapred-1.7.7-hadoop2.jar"
            name="avro-mapred-1.7.7-hadoop2.jar"
            mvn_uri="mvn:org.apache.avro/avro-mapred/1.7.7-hadoop2"/>

		<!-- Jars for DI Hive/Pig -->
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="parquet-pig-bundle-1.5.0-cdh5.12.1.jar"
			name="parquet-pig-bundle-1.5.0-cdh5.12.1.jar"
			mvn_uri="mvn:com.twitter/parquet-pig-bundle/1.5.0-cdh5.12.1">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="avro-1.7.6.jar"
			name="avro-1.7.6.jar"
			mvn_uri="mvn:org.apache.avro/avro/1.7.6">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="elephant-bird-core-4.9.jar"
			name="elephant-bird-core-4.9.jar"
			mvn_uri="mvn:com.twitter.elephantbird/elephant-bird-core/4.9">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="elephant-bird-hadoop-compat-4.9.jar"
			name="elephant-bird-hadoop-compat-4.9.jar"
			mvn_uri="mvn:com.twitter.elephantbird/elephant-bird-hadoop-compat/4.9">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="elephant-bird-pig-4.9.jar"
			name="elephant-bird-pig-4.9.jar"
			mvn_uri="mvn:com.twitter.elephantbird/elephant-bird-pig/4.9">
		</libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.libraries.pig"
            id="hive-common-1.1.0.jar"
            name="hive-common-1.1.0.jar"
            mvn_uri="mvn:org.apache.hive/hive-common/1.1.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.libraries.pig"
            id="hive-exec-1.1.0.jar"
            name="hive-exec-1.1.0.jar"
            mvn_uri="mvn:org.apache.hive/hive-exec/1.1.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.libraries.pig"
            id="hive-serde-1.1.0.jar"
            name="hive-serde-1.1.0.jar"
            mvn_uri="mvn:org.apache.hive/hive-serde/1.1.0">
        </libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="aws-java-sdk-s3-1.11.160.jar"
			name="aws-java-sdk-s3-1.11.160.jar"
			mvn_uri="mvn:com.amazonaws/aws-java-sdk-s3/1.11.160">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="aws-java-sdk-core-1.11.160.jar"
			name="aws-java-sdk-core-1.11.160.jar"
			mvn_uri="mvn:com.amazonaws/aws-java-sdk-core/1.11.160">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="commons-logging-1.1.3.jar"
			name="commons-logging-1.1.3.jar"
			mvn_uri="mvn:commons-logging/commons-logging/1.1.3">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="jackson-databind-2.6.5.jar"
			name="jackson-databind-2.6.5.jar"
			mvn_uri="mvn:com.fasterxml.jackson.core/jackson-databind/2.6.5">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="jackson-core-2.6.6.jar"
			name="jackson-core-2.6.6.jar"
			mvn_uri="mvn:com.fasterxml.jackson.core/jackson-core/2.6.6">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="httpclient-4.5.2.jar"
			name="httpclient-4.5.2.jar"
			mvn_uri="mvn:org.apache.httpcomponents/httpclient/4.5.2">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="httpcore-4.4.4.jar"
			name="httpcore-4.4.4.jar"
			mvn_uri="mvn:org.apache.httpcomponents/httpcore/4.4.4">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="joda-time-2.8.1.jar"
			name="joda-time-2.8.1.jar"
			mvn_uri="mvn:joda-time/joda-time/2.8.1">
		</libraryNeeded>
            
        <!-- Jars for Spark 2 -->
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="commons-codec-1.10.jar"
			name="commons-codec-1.10.jar"
			mvn_uri="mvn:commons-codec/commons-codec/1.10">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="commons-lang-2.6.jar"
			name="commons-lang-2.6.jar"
			mvn_uri="mvn:commons-lang/commons-lang/2.6">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="commons-lang3-3.5.jar"
			name="commons-lang3-3.5.jar"
			mvn_uri="mvn:org.apache.commons/commons-lang3/3.5">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="commons-logging-1.2.jar"
			name="commons-logging-1.2.jar"
			mvn_uri="mvn:commons-logging/commons-logging/1.2">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="hadoop-common-2.7.3.jar"
			name="hadoop-common-2.7.3.jar"
			mvn_uri="mvn:org.apache.hadoop/hadoop-common/2.7.3">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="hadoop-mapreduce-client-core-2.7.3.jar"
			name="hadoop-mapreduce-client-core-2.7.3.jar"
			mvn_uri="mvn:org.apache.hadoop/hadoop-mapreduce-client-core/2.7.3">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="kryo-shaded-3.0.3.jar"
			name="kryo-shaded-3.0.3.jar"
			mvn_uri="mvn:com.esotericsoftware/kryo-shaded/3.0.3">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="scala-library-2.11.8.jar"
			name="scala-library-2.11.8.jar"
			mvn_uri="mvn:org.scala-lang/scala-library/2.11.8">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="scala-reflect-2.11.8.jar"
			name="scala-reflect-2.11.8.jar"
			mvn_uri="mvn:org.scala-lang/scala-reflect/2.11.8">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="slf4j-api-1.7.16.jar"
			name="slf4j-api-1.7.16.jar"
			mvn_uri="mvn:org.slf4j/slf4j-api/1.7.16">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="spark-catalyst_2.11-2.2.0.jar"
			name="spark-catalyst_2.11-2.2.0.jar"
			mvn_uri="mvn:org.apache.spark/spark-catalyst_2.11/2.2.0">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="spark-core_2.11-2.2.0.jar"
			name="spark-core_2.11-2.2.0.jar"
			mvn_uri="mvn:org.apache.spark/spark-core_2.11/2.2.0">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="spark-graphx_2.11-2.2.0.jar"
			name="spark-graphx_2.11-2.2.0.jar"
			mvn_uri="mvn:org.apache.spark/spark-graphx_2.11/2.2.0">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="spark-mllib_2.11-2.2.0.jar"
			name="spark-mllib_2.11-2.2.0.jar"
			mvn_uri="mvn:org.apache.spark/spark-mllib_2.11/2.2.0">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="spark-mllib-local_2.11-2.2.0.jar"
			name="spark-mllib-local_2.11-2.2.0.jar"
			mvn_uri="mvn:org.apache.spark/spark-mllib-local_2.11/2.2.0">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="spark-network-common_2.11-2.2.0.jar"
			name="spark-network-common_2.11-2.2.0.jar"
			mvn_uri="mvn:org.apache.spark/spark-network-common_2.11/2.2.0">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="spark-sql_2.11-2.2.0.jar"
			name="spark-sql_2.11-2.2.0.jar"
			mvn_uri="mvn:org.apache.spark/spark-sql_2.11/2.2.0">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="spark-streaming_2.11-2.2.0.jar"
			name="spark-streaming_2.11-2.2.0.jar"
			mvn_uri="mvn:org.apache.spark/spark-streaming_2.11/2.2.0">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="wsdl4j-1.6.3.jar"
			name="wsdl4j-1.6.3.jar"
			mvn_uri="mvn:wsdl4j/wsdl4j/1.6.3">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="jackson-core-2.8.9.jar"
			name="jackson-core-2.8.9.jar"
			mvn_uri="mvn:com.fasterxml.jackson.core/jackson-core/2.8.9">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="cxf-rt-rs-client-3.2.4.jar"
			name="cxf-rt-rs-client-3.2.4.jar"
			mvn_uri="mvn:org.apache.cxf/cxf-rt-rs-client/3.2.4">
		</libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.libraries.apache.cxf"
            id="cxf-bundle-jaxrs-2.7.18.jar"
            name="cxf-bundle-jaxrs-2.7.18.jar"
            mvn_uri="mvn:org.apache.cxf/cxf-bundle-jaxrs/2.7.18"
            uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/cxf-bundle-jaxrs-2.7.18.jar">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="json-simple-1.1.jar"
			name="json-simple-1.1.jar"
			mvn_uri="mvn:com.googlecode.json-simple/json-simple/1.1">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="jaxen-1.1.6.jar"
			name="jaxen-1.1.6.jar"
			mvn_uri="mvn:jaxen/jaxen/1.1.6">
		</libraryNeeded>

		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="aws-java-sdk-dynamodb-1.11.160.jar"
			name="aws-java-sdk-dynamodb-1.11.160.jar"
			mvn_uri="mvn:com.amazonaws/aws-java-sdk-dynamodb/1.11.160">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="emr-dynamodb-hadoop-4.2.0.jar"
			name="emr-dynamodb-hadoop-4.2.0.jar"
			mvn_uri="mvn:com.amazon.emr/emr-dynamodb-hadoop/4.2.0">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="commons-pool2-2.4.2.jar"
			name="commons-pool2-2.4.2.jar"
			mvn_uri="mvn:org.apache.commons/commons-pool2/2.4.2">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="spark-streaming-kinesis-asl_2.11-2.2.0.jar"
			name="spark-streaming-kinesis-asl_2.11-2.2.0.jar"
			mvn_uri="mvn:org.apache.spark/spark-streaming-kinesis-asl_2.11/2.2.0">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="amazon-kinesis-client-1.9.1.jar"
			name="amazon-kinesis-client-1.9.1.jar"
			mvn_uri="mvn:com.amazonaws/amazon-kinesis-client/1.9.1">
		</libraryNeeded>
		<libraryNeeded
			context="plugin:org.talend.hadoop.distribution.qubole"
			id="aws-java-sdk-kinesis-1.11.186.jar"
			name="aws-java-sdk-kinesis-1.11.186.jar"
			mvn_uri="mvn:com.amazonaws/aws-java-sdk-kinesis/1.11.186">
		</libraryNeeded>


        <!-- Big data launcher group -->
        <libraryNeededGroup description="qubole big data launcher and its dependencies" id="BIGDATA-LAUNCHER-LIB-QUBOLE" name="BIGDATA-LAUNCHER-LIB-QUBOLE ">
            <library id="talend-bigdata-launcher-qubole-1.2.7-20181108.jar" />
            <library id="qds-sdk-java-0.9.1.jar" />
            <library id="javax.ws.rs-api-2.0.jar" />
            <library id="jersey-client-2.5.jar" />
            <library id="guava-16.0.1.jar" />
            <library id="hk2-api-2.2.0-b21.jar" />
            <library id="hk2-locator-2.2.0-b21.jar" />
            <library id="hk2-utils-2.2.0-b21.jar" />
            <library id="jersey-common-2.5.jar" />
            <library id="jackson-mapper-asl-1.9.13.jar" />
            <library id="jackson-core-asl-1.9.13.jar" />
            <library id="jersey-media-json-jackson-2.5.jar" />
            <library id="javax.annotation-api-1.2.jar" />
            <library id="cglib-2.2.0-b21.jar" />
            <library id="jackson-jaxrs-1.9.13.jar" />
            <library id="jackson-xc-1.9.13.jar" />
            <library id="javax.inject-2.2.0-b21.jar" />
        </libraryNeededGroup>

        <!-- S3 sdk group -->
        <libraryNeededGroup description="s3 sdk and its dependencies" id="S3-LIB-QUBOLE" name="S3-LIB-QUBOLE">
            <library id="aws-java-sdk-s3-1.11.160.jar" />
            <library id="aws-java-sdk-core-1.11.160.jar" />
            <library id="commons-logging-1.1.3.jar" />
            <library id="jackson-databind-2.6.5.jar" />
            <library id="jackson-core-2.6.6.jar" />
            <library id="jackson-annotations-2.6.0.jar" />
            <library id="httpclient-4.5.2.jar" />
            <library id="httpcore-4.4.4.jar" />
            <library id="joda-time-2.8.1.jar" />
        </libraryNeededGroup>

        <!-- Pig parquet loader/storer group -->
        <libraryNeededGroup description="Pig parquet loader/storer libraries for Qubole" id="PIG-PARQUET-LIB-QUBOLE" name="PIG-PARQUET-LIB-QUBOLE">
            <library id="parquet-pig-bundle-1.5.0.jar" />
            <library id="parquet-pig-1.5.0.jar" />
        </libraryNeededGroup>

        <!-- Pig avro loader/storer group -->
        <libraryNeededGroup description="Pig avro loader/storer libraries for Qubole" id="PIG-AVRO-LIB-QUBOLE" name="PIG-AVRO-LIB-QUBOLE">
            <library id="piggybank-cdh5.4.jar"/>
            <library id="avro-1.7.6.jar"/>
        </libraryNeededGroup>

        <!-- Pig sequence file loader/storer group -->
        <libraryNeededGroup description="Pig SequenceFile libraries for Qubole" id="PIG-SEQUENCEFILE-LIB-QUBOLE" name="PIG-SEQUENCEFILE-LIB-QUBOLE">
            <library id="elephant-bird-core-4.9.jar"/>
            <library id="elephant-bird-hadoop-compat-4.9.jar"/>
            <library id="elephant-bird-pig-4.9.jar"/>
            <library id="pigutil.jar"/>
        </libraryNeededGroup>

        <!-- Pig RCFile loader/storer group -->
        <libraryNeededGroup description="Pig RCFile libraries for Qubole" id="PIG-RCFILE-LIB-QUBOLE" name="PIG-RCFILE-LIB-QUBOLE">
            <library id="hive-common-1.1.0.jar"/>
            <library id="hive-exec-1.1.0.jar"/>
            <library id="hive-serde-1.1.0.jar"/>
            <library id="elephant-bird-core-4.9.jar"/>
            <library id="elephant-bird-hadoop-compat-4.9.jar"/>
            <library id="elephant-bird-rcfile-4.9-patched-hive-1.x.jar"/>
        </libraryNeededGroup>

        <!-- Spark Batch 2.2 group -->
        <libraryNeededGroup
           description="Spark 2.2 libraries for Qubole" id="SPARK-LIB-QUBOLE" name="SPARK-LIB-QUBOLE">
			 <library id="avro-1.7.6.jar"/>
             <library id="avro-mapred-1.7.7-hadoop2.jar"/>
             <library id="commons-lang3-3.5.jar"/>
             <library id="commons-logging-1.2.jar"/>
             <library id="slf4j-api-1.7.16.jar"/>
             <library id="wsdl4j-1.6.3.jar"/>
             <library id="jackson-core-2.8.9.jar"/>
             <library id="json-simple-1.1.jar"/>
             <library id="commons-lang-2.6.jar"/>
             <library id="commons-codec-1.10.jar"/>
             <library id="hadoop-common-2.7.3.jar"/>
             <library id="hadoop-mapreduce-client-core-2.7.3.jar"/>
             <library id="kryo-shaded-3.0.3.jar"/>
             <library id="scala-library-2.11.8.jar"/>
             <library id="scala-reflect-2.11.8.jar"/>
             <library id="spark-mllib-local_2.11-2.2.0.jar"/>
             <library id="spark-mllib_2.11-2.2.0.jar"/>
             <library id="spark-catalyst_2.11-2.2.0.jar"/>
             <library id="spark-core_2.11-2.2.0.jar"/>
             <library id="spark-graphx_2.11-2.2.0.jar"/>
             <library id="spark-sql_2.11-2.2.0.jar"/>
             <library id="spark-network-common_2.11-2.2.0.jar"/>
             <library id="jaxen-1.1.6.jar"/>
        </libraryNeededGroup>
        
        <!-- Spark 2.2 dynamodb group -->
        <libraryNeededGroup
           description="Spark 2.2 dynamodb libraries for Qubole" id="SPARK-DYNAMODB-LIB-QUBOLE" name="SPARK-DYNAMODB-LIB-QUBOLE">
             <library id="aws-java-sdk-dynamodb-1.11.160.jar"/>
             <library id="emr-dynamodb-hadoop-4.2.0.jar"/>
             <library id="commons-pool2-2.4.2.jar"/>
        </libraryNeededGroup>

        <!-- Spark Streaming 2.2 kinesis group -->
        <libraryNeededGroup
           description="Spark 2.2 kinesis libraries for Qubole" id="SPARK-KINESIS-LIB-QUBOLE" name="SPARK-KINESIS-LIB-QUBOLE">
			 <library id="aws-java-sdk-kinesis-1.11.186.jar"/>
             <library id="spark-streaming-kinesis-asl_2.11-2.2.0.jar"/>
             <library id="amazon-kinesis-client-1.9.1.jar"/>
        </libraryNeededGroup>

        <!-- Spark Streaming 2.2 group -->
        <libraryNeededGroup
           description="Spark Streaming 2.2 libraries for Qubole" id="SPARK-STREAMING-LIB-QUBOLE" name="SPARK-STREAMING-LIB-QUBOLE">
             <library id="spark-streaming_2.11-2.2.0.jar"/>
        </libraryNeededGroup>

        <!-- Spark Streaming 2.2 MRREQUIRED group -->
        <libraryNeededGroup
           description="Spark Streaming 2.2 MRREQUIRED libraries for Qubole" id="SPARK-STREAMING-LIB-MRREQUIRED-QUBOLE" name="SPARK-STREAMING-LIB-QUBOLE">
           	 <library id="talend-bigdata-launcher-qubole-1.2.7-20181108.jar" />
        </libraryNeededGroup>

    </extension>
    <extension point="org.talend.core.runtime.classloader_provider" />
</plugin>
