<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.talend.core.root"
            class="org.talend.oozie.scheduler.views.TOozieView"
            icon="icons/oozie_schedule.gif"
            id="org.talend.oozie.scheduler.views.OozieSchedulerView"
            name="Talend Oozie"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.talend.designer.runprocess"
            class="org.talend.oozie.scheduler.ui.prefs.OozieExecutionPreferencePage"
            id="org.talend.oozie.scheduler.ui.prefs.OoziePreferencePage"
            name="Oozie">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.talend.oozie.scheduler.ui.prefs.OozieExecutionPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
