<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.runtime.classloader_provider">
      <classloader
            index="HIVE:AMAZON_EMR:APACHE_1_0_3_EMR:STANDALONE"
            libraries="hive-exec-0.9.0.jar;hive-jdbc-0.9.0.jar;hive-metastore-0.9.0.jar;hive-service-0.9.0.jar;libfb303_new.jar;libthrift.jar;hadoop-core-1.0.0.jar;commons-logging-1.1.1.jar;datanucleus-connectionpool-2.0.3.jar;datanucleus-enhancer-2.0.3.jar;datanucleus-core-2.0.3.jar;datanucleus-rdbms-2.0.3.jar;hive-builtins-0.4.0.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;antlr-runtime-3.0.1.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;derby-10.4.2.0.jar;commons-configuration-1.6.jar;jdo2-api-2.3-ec.jar;commons-lang-2.4.jar;slf4j-log4j12-1.6.1.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HIVE:AMAZON_EMR:APACHE_1_0_3_EMR:EMBEDDED"
            libraries="hive-exec-0.9.0.jar;hive-jdbc-0.9.0.jar;hive-metastore-0.9.0.jar;hive-service-0.9.0.jar;libfb303_new.jar;libthrift.jar;hadoop-core-1.0.0.jar;commons-logging-1.1.1.jar;datanucleus-connectionpool-2.0.3.jar;datanucleus-enhancer-2.0.3.jar;datanucleus-core-2.0.3.jar;datanucleus-rdbms-2.0.3.jar;hive-builtins-0.4.0.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;antlr-runtime-3.0.1.jar;commons-dbcp-1.4.jar;commons-pool-1.5.4.jar;derby-10.4.2.0.jar;commons-configuration-1.6.jar;jdo2-api-2.3-ec.jar;commons-lang-2.4.jar;slf4j-log4j12-1.6.1.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HBASE:AMAZON_EMR:APACHE_1_0_3_EMR"
            libraries="hbase-0.92.0.jar;zookeeper-3.4.2.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;commons-logging-1.1.1.jar;hadoop-core-1.0.0.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar">
      </classloader>  
      <classloader
            index="MAP_REDUCE:AMAZON_EMR:APACHE_1_0_3_EMR"
            libraries="hadoop-core-1.0.3.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.16.jar">
      </classloader>    
      <classloader
            index="HDFS:AMAZON_EMR:APACHE_1_0_3_EMR"
            libraries="hadoop-core-1.0.3.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:AMAZON_EMR:APACHE_1_0_3_EMR?USE_KRB"
            libraries="hadoop-core-1.0.3.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;hadoop-conf-kerberos.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>            
   </extension>

</plugin>
