<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
         <actionSet
            id="org.talend.repository.CreateactionSet"
            label="Action set"
            visible="true">
         <action
               class="org.talend.repository.repositoryitem.toolBarAction.CreateToolbarItemAction"
              icon="icons/process_icon.gif"
               id="org.talend.repository.repositoryitem.createJob"
               style="pulldown"
               tooltip="Create"
               label="Create"
               toolbarPath="Default"/>
      </actionSet>
   </extension>
</plugin>
