<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            class="org.talend.repositorynode.test.ExampleExtendRepositoryNode"
            folder="metadata/extend"
            label="extend"
            parentLabel="Metadata"
            products="DI"
            type="Extend">
      </repositoryNode>
   </extension>

</plugin>
