/** Copyright Talend **/
html, body {margin: 0; padding: 0; height: 100%; border:0;}

body {
	margin:0 !important;
	padding:0 !important;
	height:100%;	
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.8125em;
	font-weight:normal;
	color:#5B5B5D !important;
	background-color:#FFFFFF !important;
}

h1 {
	font: bold 24px Verdana, Arial, Helvetica, sans-serif;
	color: #8F8F8F;
	margin: 0px;
	padding: 0px 0px 0px 15px;
}
h2 {
    font: italic 24px Verdana, Arial, Helvetica, sans-serif;
    color: #8F8F8F;
    margin: 0px;
    padding: 0px 0px 0px 15px;
}

img {
	border:0;
}

li{	margin:0; padding:0;}
ul{margin-top:0;}

div#logoTalend	{position:absolute;top:5px;left:7px; padding:0; margin:0;}

div#page {position: relative; min-height: 100%;}
	
div#header {height: 100px;background:#FFFFFF;}


div#contenu {padding: 1px 0;margin: 0;height:100%;}
	
div#footer1 {height: 30px;clear: both;}	

div#footer2 {
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	height: 28px;
	line-height: 28px; text-align: center;
	background:#E7E7E7;
	vertical-align:middle;
	color:#666666 !important;
	font-family:Arial, Helvetica, sans-serif !important ;
	font-size:1.1em !important;
}
	
div#footer2 a{text-decoration:none; color:#666666; }

.title_welcome{
	border-bottom:dashed 1px; 
	font-size:22px; 
	font-weight:bolder; 
	padding-bottom:2px;
	color: #8F8F8F; !important;
}

.doc-section{
	padding-left: 50px;
	height:56px;
    background: url(imgs/logo_doc.png);
    background-repeat:no-repeat;
}
html>body .doc-section {
    min-height:56px;
}
.community-section{
    padding-left: 50px;
    height:56px;
    background: url(imgs/logo_forum.png);
    background-repeat:no-repeat;
}
html>body .community-section{
    min-height:56px;
}

A:link,A:visited {
	text-decoration:none;
}
A:hover{
	text-decoration:underline;
}

.textBox{padding:15px;}