<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
        
 

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.cdh540"
            id="hadoop-aws-2.6.0-cdh5.4.0.jar"
            name="hadoop-aws-2.6.0-cdh5.4.0.jar"
            mvn_uri="mvn:org.talend.libraries/hadoop-aws-2.6.0-cdh5.4.0/6.0.0">
        </libraryNeeded>

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.cdh450"
            id="aws-java-sdk-1.9.16.jar"
            name="aws-java-sdk-1.9.16.jar"
            mvn_uri="mvn:org.talend.libraries/aws-java-sdk-1.9.16/6.0.0">
        </libraryNeeded>

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.cdh540"
            id="jets3t-0.9.0.jar"
            name="jets3t-0.9.0.jar"
            mvn_uri="mvn:org.talend.libraries/jets3t-0.9.0/6.0.0">
        </libraryNeeded>

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.cdh540"
            id="httpclient-4.2.5.jar"
            name="httpclient-4.2.5.jar"
            mvn_uri="mvn:org.talend.libraries/httpclient-4.2.5/6.0.0">
        </libraryNeeded>

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.cdh540"
            id="httpcore-4.2.5.jar"
            name="httpcore-4.2.5.jar"
            mvn_uri="mvn:org.talend.libraries/httpcore-4.2.5/6.0.0">
        </libraryNeeded>

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.cdh540"
            id="guava-11.0.2.jar"
            name="guava-11.0.2.jar"
            mvn_uri="mvn:org.talend.libraries/guava-11.0.2/6.0.0">
        </libraryNeeded>


       <!-- group of hdfs libraries -->
        <libraryNeededGroup
                description="The lastest HDFS libraries of CDH 5.4"
                id="HDFS-LIB-CDH_5_4_LASTEST"
                name="HDFS-LIB-CDH_5_4_LASTEST"  >
             <library
                id="hadoop-common-cdh5.4-lastest">
             </library>
             <library
                 id="hadoop-hdfs-cdh5.4-lastest">
             </library>
             <library
                 id="hadoop-auth-cdh5.4-lastest">
             </library>
             <library
                 id="avro-cdh5.4-lastest">
             </library>
             <library
                 id="commons-configuration-1.6.jar">
             </library>
             <library
                 id="commons-lang-2.6.jar">
             </library>
             <library
                 id="commons-logging-1.1.3.jar">
             </library>
             <library
                 id="commons-cli-1.2.jar">
             </library>
             <library
                 id="commons-collections-3.2.1.jar">
             </library>
             <library
                 id="guava-11.0.2.jar">
             </library>
             <library
                 id="protobuf-java-2.5.0.jar">
             </library>
             <library
                 id="slf4j-api-1.7.5.jar">
             </library>
             <library
                 id="slf4j-log4j12-1.7.5.jar">
             </library>
             <library
                 id="log4j-1.2.17.jar">
             </library>
             <library
                 id="jersey-core-1.9.jar">
             </library>
             <library
                 id="htrace-core-3.0.4.jar">
             </library>
        </libraryNeededGroup>
        

        <libraryNeededGroup
                description="The lastest S3 libraries of CDH 5.4"
                id="SPARK-S3-LIB-MRREQUIRED-CDH_5_4"
                name="SPARK-S3-LIB-MRREQUIRED-CDH_5_4"  >
             <library id="hadoop-aws-2.6.0-cdh5.4.0.jar" />
             <library id="aws-java-sdk-1.9.16.jar" />
             <library id="jets3t-0.9.0.jar" />
             <library id="httpclient-4.2.5.jar" />
             <library id="httpcore-4.2.5.jar" />
             <library id="guava-11.0.2.jar" />
            
        </libraryNeededGroup>
    </extension>
</plugin>