<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.designer.core.generators">
      <generator
            class="org.talend.designer.hdfsbrowse.generators.HadoopFileGenerator"
            mapping="FILE_HADOOP"
            name="File Hadoop">
      </generator>
      <generator
            class="org.talend.designer.hdfsbrowse.generators.HadoopDirectoryGenerator"
            mapping="DIRECTORY_HADOOP"
            name="Directory Hadoop">
      </generator>
      <generator
            class="org.talend.designer.hdfsbrowse.generators.HadoopResourceGenerator"
            mapping="BOTH_HADOOP"
            name="Both Hadoop">
      </generator>
   </extension>

</plugin>
