<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            alias="Oozie"
            folder="metadata/hadoop/oozie"
            icon="icons/Oozie_icon16.png"
            isResouce="true"
            label="%OOZIE"
            ordinal="52"
            parentNodeType="HADOOPCLUSTER"
            products="DI"
            type="OOZIE">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.repository.oozie.node.OozieRepositoryContentHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.oozie.action.EditOoziePropertiesAction"
            id="org.talend.repository.oozie.action.EditOoziePropertiesAction"
            isPropertiesAction="true"
            name="Edit Properties">
      </Action>
      <Action
            class="org.talend.repository.oozie.action.CreateOozieAction"
            id="org.talend.repository.oozie.action.CreateOozieAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create OOZIE">
      </Action>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.talend.repository.model.oozie.OoziePackage"
            uri="http://www.talend.org/oozie">
      </package>
   </extension>
   <extension
         point="org.talend.core.repository.repositorySeeker">
      <seeker
            class="org.talend.repository.oozie.ui.viewer.seeker.OozieRepositorySeeker"
            name="OOZIE">
      </seeker>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.repository.oozie.service.OozieService"
            serviceId="IOozieService">
      </Service>
   </extension>
   <extension
         point="org.talend.repository.items.importexport.handler">
      <importItemsProvider
            id="org.talend.repository.oozie.importProvider"
            name="Ozzie importer"
            priority="NORMAL">
         <importItemsHandler
               class="org.talend.repository.oozie.ui.handler.OzzieImportHandler">
            <parameter
                  name="type"
                  value="OOZIE">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
   </extension>
   <extension
         point="org.talend.core.repository.repository_context">
      <RepositoryContext
            class="org.talend.repository.oozie.ui.handler.OozieContextHandler">
      </RepositoryContext>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.core.IRepositoryContextUpdateService.OozieContextUpdateService"
            serviceId="IRepositoryContextUpdateService">
      </Service>
   </extension>
   <extension
         point="org.talend.core.runtime.hadoopConnectionCreator">
      <creator
            class="org.talend.repository.oozie.creator.OozieConnectionCreator">
      </creator>
   </extension>

</plugin>
