<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
      id="product"
      point="org.eclipse.core.runtime.products">
   <product
         application="org.talend.rcp.branding.tos.bigdata.application"
         name="%productName">
      <property
            name="startupForegroundColor"
            value="FFFFFF"/>
      <property
            name="startupMessageRect"
            value="7,168,441,20"/>
      <property
            name="startupProgressRect"
            value="7,188,441,20"/>
      <property
            name="windowImages"
            value="platform:/plugin/org.talend.rcp/icons/appli_16x16.gif,platform:/plugin/org.talend.rcp/icons/appli_32x32.gif,platform:/plugin/org.talend.rcp/icons/appli_48x48.gif"/>
      <property
            name="aboutImage"
            value="icons/about.jpg"/>
      <property
            name="aboutText"
            value="%productBlurb"/>
      <property
            name="preferenceCustomization"
            value="plugin_customization.ini"/>
      <property
            name="appName"
            value="%productName">
      </property>
   </product>
</extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.talend.rcp.tos.bigdata.intro"
            content="introContent.xml"
            id="org.talend.rcp.tos.bigdata.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
      <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="platform:/plugin/org.talend.rcp/icons/appli_16x16.gif"
            id="org.talend.rcp.tos.bigdata.intro">
      </intro>
      <introProductBinding
            introId="org.talend.rcp.tos.bigdata.intro"
            productId="org.talend.rcp.branding.tos.bigdata.product">
      </introProductBinding>
   </extension>
      <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.talend.rcp.intro.Application">
         </run>
      </application>
   </extension>
         <extension
            point="org.talend.core.runtime.service">
         <Service
               class="org.talend.rcp.branding.tos.bigdata.HortonBrandingService"
               serviceId="org.talend.core.ui.branding.IBrandingService"/>
      </extension>
         <extension
               point="org.eclipse.ui.perspectives">
            <perspective
                  class="org.talend.rcp.perspective.Perspective"
                  icon="platform:/plugin/org.talend.core/icons/process_icon.gif"
                  id="org.talend.rcp.perspective"
                  name="Integration">
            </perspective>
         </extension>
         <extension
               point="org.talend.core.talendperspectives">
            <TalendPerspective
                  refPerspectiveId="org.talend.rcp.perspective"
                  talendPerspectiveId="org.talend.rcp.DesignPerspective">
            </TalendPerspective>
         </extension>
         <extension
               point="org.eclipse.ui.navigator.navigatorContent">
            <navigatorContent
                  activeByDefault="true"
                  contentProvider="org.talend.repository.viewer.content.EmptyContentProvider"
                  id="org.talend.repository.viewer.root.businessModels.removed"
                  labelProvider="org.talend.repository.viewer.label.EmptyLabelProvider"
                  name="business model Removed">
               <override
                     policy="InvokeAlwaysRegardlessOfSuppressedExt"
                     suppressedExtensionId="org.talend.repository.viewer.root.businessModels">
               </override>
               <triggerPoints></triggerPoints>
            </navigatorContent>
            <navigatorContent
                  activeByDefault="true"
                  contentProvider="org.talend.repository.viewer.content.EmptyContentProvider"
                  id="org.talend.repository.viewer.root.documentation.removed"
                  labelProvider="org.talend.repository.viewer.label.EmptyLabelProvider"
                  name="Documentation Removed">
               <override
                     policy="InvokeAlwaysRegardlessOfSuppressedExt"
                     suppressedExtensionId="org.talend.repository.viewer.root.documentation">
               </override>
               <triggerPoints></triggerPoints>
            </navigatorContent>
         </extension>
         
         
</plugin>
