<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.talend.repository.model.hdfs.HDFSPackage"
            uri="http://www.talend.org/hdfs">
      </package>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            alias="HDFS"
            folder="metadata/hadoop/hdfs"
            icon="icons/HDFS_icon16.png"
            isResouce="true"
            key="HDFS"
            label="%HDFS"
            ordinal="50"
            parentNodeType="HADOOPCLUSTER"
            products="DI"
            type="HDFS">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.repository.hdfs.node.HDFSRepositoryContentHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.hdfs.action.EditHDFSPropertiesAction"
            id="org.talend.repository.hdfs.action.EditHDFSPropertiesAction"
            isPropertiesAction="true"
            name="Edit Properties">
      </Action>
      <Action
            class="org.talend.repository.hdfs.action.CreateHDFSAction"
            id="org.talend.repository.hdfs.action.CreateHDFSAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create HDFS">
      </Action>
      <Action
            class="org.talend.repository.hdfs.action.CreateHDFSSchemaAction"
            id="org.talend.repository.hdfs.action.CreateHDFSSchemaAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create table">
      </Action>
   </extension>
   <extension
         point="org.talend.core.repository.repository_handler">
      <RepositoryHandler
            class="org.talend.repository.hdfs.ui.dnd.HDFSDragAndDropHandler">
      </RepositoryHandler>
   </extension>
   <extension
         point="org.talend.core.repository.repositorySeeker">
      <seeker
            class="org.talend.repository.hdfs.ui.viewer.seeker.HDFSRepositorySeeker"
            name="HDFS">
      </seeker>
   </extension>
   <extension
         point="org.talend.core.migrationTask">
      <projecttask
            beforeLogon="false"
            breaks="5.3.0"
            class="org.talend.repository.hdfs.model.migration.PushHDFSIntoHadoopClusterMigrationTask"
            description="Convert old HDFS items into hadoop cluster."
            id="org.talend.repository.hdfs.model.migration.PushHDFSIntoHadoopClusterMigrationTask"
            name="PushHDFSIntoHadoopClusterMigrationTask"
            version="5.3.0">
      </projecttask>
   </extension>
   <extension
         point="org.talend.repository.items.importexport.handler">
      <importItemsProvider
            id="org.talend.repository.hdfs.importProvider"
            name="HDFS importer"
            priority="NORMAL">
         <importItemsHandler
               class="org.talend.repository.hdfs.ui.handler.HdfsImportHandler">
            <parameter
                  name="type"
                  value="HDFS">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
   </extension>
   <extension
         point="org.talend.core.repository.repository_context">
      <RepositoryContext
            class="org.talend.repository.hdfs.ui.handler.HdfsContextHandler">
      </RepositoryContext>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.repository.hdfs.ui.handler.HdfsContextUpdateService"
            serviceId="IRepositoryContextUpdateService">
      </Service>
   </extension>

</plugin>
