<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.runtime.librariesNeeded">
		<libraryNeeded id="commons-pool2-2.4.2.jar" name="commons-pool2-2.4.2.jar"
                       mvn_uri="mvn:org.apache.commons/commons-pool2/2.4.2"
                       context="plugin:org.talend.hadoop.distribution.dbr550"/>
		<libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="azure-data-lake-store-sdk-2.3.1.jar"
            name="azure-data-lake-store-sdk-2.3.1.jar"
            mvn_uri="mvn:com.microsoft.azure/azure-data-lake-store-sdk/2.3.1">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="hadoop-azure-datalake-2.8.1.jar"
            name="hadoop-azure-datalake-2.8.1.jar"
            mvn_uri="mvn:org.talend.libraries/hadoop-azure-datalake-2.8.1/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="talend-bigdata-launcher-databricks-2.4.5.jar"
            name="talend-bigdata-launcher-databricks-2.4.5.jar"
            mvn_uri="mvn:org.talend.bigdata.libs/talend-bigdata-launcher-databricks/2.4.5">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="talend-bigdata-launcher-jobserver-2.0.12"
            name="talend-bigdata-launcher-jobserver-2.0.12.jar"
            mvn_uri="mvn:org.talend.bigdata.libs/talend-bigdata-launcher-jobserver/2.0.12">
        </libraryNeeded>
		<libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="avro-mapred-1.8.2-hadoop2.jar"
            name="avro-mapred-1.8.2-hadoop2.jar"
            mvn_uri="mvn:org.apache.avro/avro-mapred/1.8.2-hadoop2">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="avro-1.8.2.jar"
            name="avro-1.8.2.jar"
            mvn_uri="mvn:org.apache.avro/avro/1.8.2">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="avro-compiler-1.8.2.jar"
            name="avro-compiler-1.8.2.jar"
            mvn_uri="mvn:org.apache.avro/avro-compiler/1.8.2">
        </libraryNeeded>
        <libraryNeeded 
         	context="plugin:org.talend.hadoop.distribution.dbr550" 
         	id="commons-codec-1.15.jar" 
         	name="commons-codec-1.15.jar" 
         	mvn_uri="mvn:commons-codec/commons-codec/1.15">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="commons-lang-2.6.jar"
            name="commons-lang-2.6.jar"
            mvn_uri="mvn:commons-lang/commons-lang/2.6">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="commons-lang3-3.5.jar"
            name="commons-lang3-3.5.jar"
            mvn_uri="mvn:org.apache.commons/commons-lang3/3.5">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="commons-logging-1.1.3.jar"
            name="commons-logging-1.1.3.jar"
            mvn_uri="mvn:commons-logging/commons-logging/1.1.3">
        </libraryNeeded>
        
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="hadoop-common-2.7.3.jar"
            name="hadoop-common-2.7.3.jar"
            mvn_uri="mvn:org.apache.hadoop/hadoop-common/2.7.3">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="hadoop-mapreduce-client-core-2.7.3.jar"
            name="hadoop-mapreduce-client-core-2.7.3.jar"
            mvn_uri="mvn:org.apache.hadoop/hadoop-mapreduce-client-core/2.7.3">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="kryo-shaded-4.0.2.jar"
            name="kryo-shaded-4.0.2.jar"
            mvn_uri="mvn:com.esotericsoftware/kryo-shaded/4.0.2">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="scala-library-2.11.12.jar"
            name="scala-library-2.11.12.jar"
            mvn_uri="mvn:org.scala-lang/scala-library/2.11.12">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="scala-reflect-2.11.12.jar"
            name="scala-reflect-2.11.12.jar"
            mvn_uri="mvn:org.scala-lang/scala-reflect/2.11.12">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="slf4j-api-1.7.16.jar"
            name="slf4j-api-1.7.16.jar"
            mvn_uri="mvn:org.slf4j/slf4j-api/1.7.16">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="slf4j-log4j12-1.7.16.jar"
            name="slf4j-log4j12-1.7.16.jar"
            mvn_uri="mvn:org.slf4j/slf4j-log4j12/1.7.16">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="spark-catalyst_2.11-2.4.3.jar"
            name="spark-catalyst_2.11-2.4.3.jar"
            mvn_uri="mvn:org.apache.spark/spark-catalyst_2.11/2.4.3">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="spark-core_2.11-2.4.3.jar"
            name="spark-core_2.11-2.4.3.jar"
            mvn_uri="mvn:org.apache.spark/spark-core_2.11/2.4.3">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="spark-graphx_2.11-2.4.3.jar"
            name="spark-graphx_2.11-2.4.3.jar"
            mvn_uri="mvn:org.apache.spark/spark-graphx_2.11/2.4.3">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="spark-hive_2.11-2.4.3.jar"
            name="spark-hive_2.11-2.4.3.jar"
            mvn_uri="mvn:org.apache.spark/spark-hive_2.11/2.4.3">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="spark-mllib-local_2.11-2.4.3.jar"
            name="spark-mllib-local_2.11-2.4.3.jar"
            mvn_uri="mvn:org.apache.spark/spark-mllib-local_2.11/2.4.3">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="spark-mllib_2.11-2.4.3.jar"
            name="spark-mllib_2.11-2.4.3.jar"
            mvn_uri="mvn:org.apache.spark/spark-mllib_2.11/2.4.3">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="spark-network-common_2.11-2.4.3.jar"
            name="spark-network-common_2.11-2.4.3.jar"
            mvn_uri="mvn:org.apache.spark/spark-network-common_2.11/2.4.3">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="spark-sql_2.11-2.4.3.jar"
            name="spark-sql_2.11-2.4.3.jar"
            mvn_uri="mvn:org.apache.spark/spark-sql_2.11/2.4.3">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="spark-streaming_2.11-2.4.3.jar"
            name="spark-streaming_2.11-2.4.3.jar"
            mvn_uri="mvn:org.apache.spark/spark-streaming_2.11/2.4.3">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="spark-unsafe_2.11-2.4.3.jar"
            name="spark-unsafe_2.11-2.4.3.jar"
            mvn_uri="mvn:org.apache.spark/spark-unsafe_2.11/2.4.3">
        </libraryNeeded>
        <libraryNeeded
            context="Third party library to connect to Windows Azure"
            id="azure-storage-5.2.0.jar"
            name="azure-storage-5.2.0.jar"
            mvn_uri="mvn:com.microsoft.azure/azure-storage/5.2.0">
        </libraryNeeded>
        <libraryNeeded
              bundleID="org.apache.servicemix.bundles.wsdl4j"
              context="plugin:org.talend.libraries.apache.cxf"
              id="wsdl4j-1.6.3.jar"
              mvn_uri="mvn:wsdl4j/wsdl4j/1.6.3"
              name="wsdl4j-1.6.3.jar"
              uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/wsdl4j-1.6.3.jar">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.libraries.jackson"
            id="jackson-core-2.6.7.jar"
            name="jackson-core-2.6.7.jar"
            mvn_uri="mvn:com.fasterxml.jackson.core/jackson-core/2.6.7"
            uripath="platform:/plugin/org.talend.libraries.jackson/lib/jackson-core-2.6.7.jar">
        </libraryNeeded>
        <libraryNeeded
            context=""
            id="javax.ws.rs-api-2.0-m10.jar"
            name="javax.ws.rs-api-2.0-m10.jar"
            mvn_uri="mvn:org.talend.libraries/javax.ws.rs-api-2.0-m10/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.libraries.jackson"
            id="json_simple-1.1.jar"
            name="json_simple-1.1.jar"
            mvn_uri="mvn:org.talend.libraries/json_simple-1.1/6.0.0"
            uripath="platform:/plugin/org.talend.libraries.jackson/lib/json_simple-1.1.jar">
        </libraryNeeded>
        
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="spark-streaming-kinesis-asl_2.11-2.2.0.jar"
            name="spark-streaming-kinesis-asl_2.11-2.2.0.jar"
            mvn_uri="mvn:org.apache.spark/spark-streaming-kinesis-asl_2.11/2.2.0"/>

       <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="amazon-kinesis-client-1.8.10.jar"
            name="amazon-kinesis-client-1.8.10.jar"
            mvn_uri="mvn:com.amazonaws/amazon-kinesis-client/1.8.10"/>

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="aws-java-sdk-core-1.11.313.jar"
            name="aws-java-sdk-core-1.11.313.jar"
            mvn_uri="mvn:com.amazonaws/aws-java-sdk-core/1.11.313"/>

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="aws-java-sdk-kinesis-1.11.313.jar"
            name="aws-java-sdk-kinesis-1.11.313.jar"
            mvn_uri="mvn:com.amazonaws/aws-java-sdk-kinesis/1.11.313"/>

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="gson-2.9.0.jar"
            name="gson-2.9.0.jar"
            mvn_uri="mvn:com.google.code.gson/gson/2.9.0"/>

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="jackson-databind-2.6.7.1.jar"
            name="jackson-databind-2.6.7.1.jar"
            mvn_uri="mvn:com.fasterxml.jackson.core/jackson-databind/2.6.7.1"/>

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="jackson-annotations-2.6.7.jar"
            name="jackson-annotations-2.6.7.jar"
            mvn_uri="mvn:com.fasterxml.jackson.core/jackson-annotations/2.6.7"/>
            
         <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="parquet-hadoop-bundle-1.6.0.jar"
            name="parquet-hadoop-bundle-1.6.0.jar"
            mvn_uri="mvn:com.twitter/parquet-hadoop-bundle/1.6.0"/>

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="gcs-connector-hadoop2-2.1.6-shaded.jar"
            name="gcs-connector-hadoop2-2.1.6-shaded.jar"
            mvn_uri="mvn:com.google.cloud.bigdataoss/gcs-connector/hadoop2-2.1.6/jar/shaded">
        </libraryNeeded>

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr550"
            id="bigquery-connector-hadoop2-1.1.6-shaded.jar"
            name="bigquery-connector-hadoop2-1.1.6-shaded.jar"
            mvn_uri="mvn:com.google.cloud.bigdataoss/bigquery-connector/hadoop2-1.1.6/jar/shaded">
        </libraryNeeded>

        <!-- Big Data launcher group -->
        <libraryNeededGroup
                description="Big Data launcher libraries for DBR550"
                id="BIGDATA-LAUNCHER-LIB-DBR550"
                name="BIGDATA-LAUNCHER-LIB-DBR550"  >
			<library id="talend-bigdata-launcher-databricks-2.4.5.jar" />
			<library id="talend-bigdata-launcher-jobserver-2.0.12" />
			<library id="gson-2.9.0.jar" />
			<library id="jackson-core-2.6.7.jar" />
			<library id="jackson-databind-2.6.7.1.jar" />
			<library id="jackson-annotations-2.6.7.jar" />
        </libraryNeededGroup>
        
        <!-- Spark group -->
        <libraryNeededGroup
                description="SPARK libraries for DBR550"
                id="SPARK-LIB-MRREQUIRED-DBR550"
                name="SPARK-LIB-MRREQUIRED-DBR550">
             <library id="azure-storage-5.2.0.jar"/>
             <library id="avro-mapred-1.8.2-hadoop2.jar"/>
             <library id="avro-1.8.2.jar"/>
             <library id="avro-compiler-1.8.2.jar"/>
             <library id="commons-codec-1.15.jar"/>
             <library id="commons-lang-2.6.jar"/>
             <library id="commons-lang3-3.5.jar"/>
             <library id="commons-logging-1.1.3.jar"/>
             <library id="hadoop-common-2.7.3.jar"/>
             <library id="hadoop-mapreduce-client-core-2.7.3.jar"/>
             <library id="kryo-shaded-4.0.2.jar"/>
             <library id="scala-library-2.11.12.jar"/>
             <library id="scala-reflect-2.11.12.jar"/>
             <library id="slf4j-api-1.7.16.jar"/>
             <library id="slf4j-log4j12-1.7.16.jar"/>
             <library id="spark-catalyst_2.11-2.4.3.jar"/>
             <library id="spark-core_2.11-2.4.3.jar"/>
             <library id="spark-graphx_2.11-2.4.3.jar"/>
             <library id="spark-mllib-local_2.11-2.4.3.jar"/>
             <library id="spark-mllib_2.11-2.4.3.jar"/>
             <library id="spark-sql_2.11-2.4.3.jar"/>
             <library id="spark-streaming_2.11-2.4.3.jar"/>
             <library id="spark-network-common_2.11-2.4.3.jar"/>
             <library id="spark-unsafe_2.11-2.4.3.jar"/>
             <library id="wsdl4j-1.6.3.jar"/>
             <library id="jackson-core-2.6.7.jar"/>
             <library id="javax.ws.rs-api-2.0-m10.jar"/>
             <library id="json_simple-1.1.jar"/>
             <library id="parquet-hadoop-bundle-1.6.0.jar"/>
        </libraryNeededGroup>

        <!-- Spark Streaming group -->
        <libraryNeededGroup
                description="SPARK libraries for DBR550"
                id="SPARK-STREAMING-LIB-MRREQUIRED-DBR550"
                name="SPARK-STREAMING-LIB-MRREQUIRED-DBR550">
             <library id="spark-streaming_2.11-2.4.3.jar"/>
        </libraryNeededGroup>
        
        
        <!-- Spark Streaming Kinesis group -->
        <libraryNeededGroup
                description="SPARK libraries for DBR550"
                id="SPARK-STREAMING-LIB-KINESIS-DBR550"
                name="SPARK-STREAMING-LIB-KINESIS-DBR550">
             <library id="spark-streaming-kinesis-asl_2.11-2.2.0.jar"/>
            <library id="amazon-kinesis-client-1.8.10.jar"/>
            <library id="aws-java-sdk-kinesis-1.11.313.jar"/>
            <library id="aws-java-sdk-core-1.11.313.jar"/>
            <library id="commons-pool2-2.4.2.jar"/>
        </libraryNeededGroup>
        <!-- HiveOnSpark group -->
        <libraryNeededGroup
                description="Hive On SPARK libraries for DBR550"
                id="HIVEONSPARK-LIB-MRREQUIRED-DBR550"
                name="HIVEONSPARK-LIB-MRREQUIRED-DBR550">
             <library id="spark-hive_2.11-2.4.3.jar"/>
        </libraryNeededGroup>
        
        <!-- Spark Azure group -->
        <libraryNeededGroup
                description="Hive On SPARK libraries for DBR550"
                id="SPARK-AZURE-LIB-MRREQUIRED-DBR550"
                name="SPARK-AZURE-LIB-MRREQUIRED-DBR550">
             <library id="hadoop-azure-datalake-2.8.1.jar"/>
             <library id="azure-data-lake-store-sdk-2.3.1.jar"/>            
        </libraryNeededGroup>

        <libraryNeededGroup
                description="Libraries for GCS"
                id="GCS-GROUP-Databricks_5_5"
                name="GCS-GROUP-Databricks_5_5">
            <library id="gcs-connector-hadoop2-2.1.6-shaded.jar"/>
        </libraryNeededGroup>

        <libraryNeededGroup
                description="Libraries for BigQuery"
                id="BIGQUERY-GROUP-Databricks_5_5"
                name="BIGQUERY-GROUP-Databricks_5_5">
            <library id="gcs-connector-hadoop2-2.1.6-shaded.jar"/>
            <library id="bigquery-connector-hadoop2-1.1.6-shaded.jar"/>
        </libraryNeededGroup>

   </extension>
   <extension
         point="org.talend.core.runtime.classloader_provider">        
   </extension>

</plugin>
