<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">

         <!-- hd insight common libraries -->
        <libraryNeeded
            context=""
            id="javax.ws.rs-api-2.1.jar"
            name="javax.ws.rs-api-2.1.jar"
            mvn_uri="mvn:javax.ws.rs/javax.ws.rs-api/2.1">
        </libraryNeeded>
        <libraryNeeded
              bundleID="org.apache.servicemix.bundles.wsdl4j"
              context="plugin:org.talend.libraries.apache.cxf"
              id="wsdl4j-1.6.3.jar"
              mvn_uri="mvn:wsdl4j/wsdl4j/1.6.3"
              name="wsdl4j-1.6.3.jar"
              uripath="platform:/plugin/org.talend.libraries.apache.cxf/lib/wsdl4j-1.6.3.jar">
        </libraryNeeded>
        <libraryNeeded
            context="Third party library to connect to Windows Azure"
            id="azure-storage-5.0.0.jar"
            name="azure-storage-5.0.0.jar"
            mvn_uri="mvn:com.microsoft.azure/azure-storage/5.0.0">
        </libraryNeeded>

        <libraryNeeded
            context="plugin:org.talend.libraries.jackson"
            id="jackson-core-2.8.9.jar"
            name="jackson-core-2.8.9.jar"
            mvn_uri="mvn:com.fasterxml.jackson.core/jackson-core/2.8.9"
            uripath="platform:/plugin/org.talend.libraries.jackson/lib/jackson-core-2.8.9.jar">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.libraries.jackson"
            id="jackson-databind-2.8.9.jar"
            name="jackson-databind-2.8.9.jar"
            mvn_uri="mvn:org.talend.libraries/jackson-databind-2.8.9/6.0.0"
            uripath="platform:/plugin/org.talend.libraries.jackson/lib/jackson-databind-2.8.9.jar">
        </libraryNeeded>
        <libraryNeeded
        	context="plugin:org.talend.hadoop.distribution.hdinsight360"
        	id="commons-collections-3.2.2.jar"
        	name="commons-collections-3.2.2.jar"
        	mvn_uri="mvn:commons-collections/commons-collections/3.2.2"/>
        <libraryNeeded
        	context="plugin:org.talend.hadoop.distribution.hdinsight360"
        	id="guava-14.0.1.jar"
        	name="guava-14.0.1.jar"
        	mvn_uri="mvn:com.google.guava/guava/14.0.1">
        </libraryNeeded>
        <libraryNeeded
        	context="plugin:org.talend.hadoop.distribution.hdinsight360"
        	id="jackson-core-asl-1.9.14-TALEND"
        	name="jackson-core-asl-1.9.14-TALEND.jar"
        	mvn_uri="mvn:org.codehaus.jackson/jackson-core-asl/1.9.14-TALEND"/>

        <!-- Hive libraries -->
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight340"
            id="parquet-hive-bundle-1.6.0.jar"
            name="parquet-hive-bundle-1.6.0.jar"
            mvn_uri="mvn:org.talend.libraries/parquet-hive-bundle-1.6.0/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight360"
            id="hive-serde-1.2.1000.2.4.1.0-327.jar"
            name="hive-serde-1.2.1000.2.4.1.0-327.jar"
            mvn_uri="mvn:org.talend.libraries/hive-serde-1.2.1000.2.4.1.0-327/6.0.0">
        </libraryNeeded>
        <libraryNeeded
                context="plugin:org.talend.hadoop.distribution.hdinsight360"
                id="hive-common-1.2.1000.2.4.1.0-327.jar"
                name="hive-common-1.2.1000.2.4.1.0-327.jar"
                mvn_uri="mvn:org.talend.libraries/hive-common-1.2.1000.2.4.1.0-327/6.0.0">
        </libraryNeeded>
        <libraryNeeded
                context="plugin:org.talend.hadoop.distribution.hdinsight360"
                id="hive-exec-1.2.1000.2.4.1.0-327.jar"
                name="hive-exec-1.2.1000.2.4.1.0-327.jar"
                mvn_uri="mvn:org.talend.libraries/hive-exec-1.2.1000.2.4.1.0-327/6.0.0">
        </libraryNeeded>

        <!-- GraphFrames libraries -->
        <libraryNeeded
                context="plugin:org.talend.hadoop.distribution.hdinsight360"
                id="graphframes-0.5.0-spark2.1-s_2.11.jar"
                name="graphframes-0.5.0-spark2.1-s_2.11.jar"
                mvn_uri="mvn:graphframes/graphframes/0.5.0-spark2.1-s_2.11">
        </libraryNeeded>

        <!-- Spark 2 libraries-->
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="avro-1.7.7"
                       name="avro-1.7.7.jar" mvn_uri="mvn:org.apache.avro/avro/1.7.7"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="avro-mapred-1.7.7-hadoop2"
                       name="avro-mapred-1.7.7-hadoop2.jar" mvn_uri="mvn:org.apache.avro/avro-mapred/1.7.7-hadoop2"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="commons-codec-1.10"
                       name="commons-codec-1.10.jar" mvn_uri="mvn:commons-codec/commons-codec/1.10"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="commons-lang-2.6" name="commons-lang-2.6.jar" mvn_uri="mvn:commons-lang/commons-lang/2.6"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="commons-lang3-3.5" name="commons-lang3-3.5.jar" mvn_uri="mvn:org.apache.commons/commons-lang3/3.5"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="commons-logging-1.1.3" name="commons-logging-1.1.3.jar" mvn_uri="mvn:commons-logging/commons-logging/1.1.3"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="hadoop-auth-2.7.3.2.6.0.2-76" name="hadoop-auth-2.7.3.2.6.0.2-76.jar" mvn_uri="mvn:org.talend.libraries/hadoop-auth-2.7.3.2.6.0.2-76/6.0.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="hadoop-common-2.7.3.2.6.0.2-76" name="hadoop-common-2.7.3.2.6.0.2-76.jar" mvn_uri="mvn:org.talend.libraries/hadoop-common-2.7.3.2.6.0.2-76/6.0.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="hadoop-hdfs-2.7.3.2.6.0.2-76" name="hadoop-hdfs-2.7.3.2.6.0.2-76.jar" mvn_uri="mvn:org.talend.libraries/hadoop-hdfs-2.7.3.2.6.0.2-76/6.0.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="hadoop-mapreduce-client-app-2.7.3.2.6.0.2-76" name="hadoop-mapreduce-client-app-2.7.3.2.6.0.2-76.jar" mvn_uri="mvn:org.talend.libraries/hadoop-mapreduce-client-app-2.7.3.2.6.0.2-76/6.0.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="hadoop-mapreduce-client-core-2.7.3.2.6.0.2-76" name="hadoop-mapreduce-client-core-2.7.3.2.6.0.2-76.jar" mvn_uri="mvn:org.talend.libraries/hadoop-mapreduce-client-core-2.7.3.2.6.0.2-76/6.0.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="hadoop-mapreduce-client-jobclient-2.7.3.2.6.0.2-76" name="hadoop-mapreduce-client-jobclient-2.7.3.2.6.0.2-76.jar" mvn_uri="mvn:org.talend.libraries/hadoop-mapreduce-client-jobclient-2.7.3.2.6.0.2-76/6.0.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="jodd-core-3.5.2" name="jodd-core-3.5.2.jar" mvn_uri="mvn:org.jodd/jodd-core/3.5.2"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="kryo-shaded-3.0.3" name="kryo-shaded-3.0.3.jar" mvn_uri="mvn:com.esotericsoftware/kryo-shaded/3.0.3"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="parquet-format-2.3.0-incubating" name="parquet-format-2.3.0-incubating.jar" mvn_uri="mvn:org.talend.libraries/parquet-format-2.3.0-incubating/6.0.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="parquet-hadoop-1.8.1" name="parquet-hadoop-1.8.1.jar" mvn_uri="mvn:org.talend.libraries/parquet-hadoop-1.8.1/6.0.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="parquet-hadoop-bundle-1.6.0" name="parquet-hadoop-bundle-1.6.0.jar" mvn_uri="mvn:com.twitter/parquet-hadoop-bundle/1.6.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="scala-library-2.11.8" name="scala-library-2.11.8.jar" mvn_uri="mvn:org.scala-lang/scala-library/2.11.8"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="scala-reflect-2.11.8" name="scala-reflect-2.11.8.jar" mvn_uri="mvn:org.scala-lang/scala-reflect/2.11.8"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="spark-catalyst_2.11-2.1.0.2.6.0.2-76" name="spark-catalyst_2.11-2.1.0.2.6.0.2-76.jar" mvn_uri="mvn:org.talend.libraries/spark-catalyst_2.11-2.1.0.2.6.0.2-76/6.0.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="spark-core_2.11-2.1.0.2.6.0.2-76" name="spark-core_2.11-2.1.0.2.6.0.2-76.jar" mvn_uri="mvn:org.talend.libraries/spark-core_2.11-2.1.0.2.6.0.2-76/6.0.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="spark-graphx_2.11-2.1.0.2.6.0.2-76" name="spark-graphx_2.11-2.1.0.2.6.0.2-76.jar" mvn_uri="mvn:org.talend.libraries/spark-graphx_2.11-2.1.0.2.6.0.2-76/6.0.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="spark-hive_2.11-2.1.0.2.6.0.2-76" name="spark-hive_2.11-2.1.0.2.6.0.2-76.jar" mvn_uri="mvn:org.talend.libraries/spark-hive_2.11-2.1.0.2.6.0.2-76/6.0.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="spark-mllib-local_2.11-2.1.0.2.6.0.2-76" name="spark-mllib-local_2.11-2.1.0.2.6.0.2-76.jar" mvn_uri="mvn:org.talend.libraries/spark-mllib-local_2.11-2.1.0.2.6.0.2-76/6.0.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="spark-mllib_2.11-2.1.0.2.6.0.2-76" name="spark-mllib_2.11-2.1.0.2.6.0.2-76.jar" mvn_uri="mvn:org.talend.libraries/spark-mllib_2.11-2.1.0.2.6.0.2-76/6.0.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="spark-network-common_2.11-2.1.0.2.6.0.2-76" name="spark-network-common_2.11-2.1.0.2.6.0.2-76.jar" mvn_uri="mvn:org.talend.libraries/spark-network-common_2.11-2.1.0.2.6.0.2-76/6.0.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="spark-sql_2.11-2.1.0.2.6.0.2-76" name="spark-sql_2.11-2.1.0.2.6.0.2-76.jar" mvn_uri="mvn:org.talend.libraries/spark-sql_2.11-2.1.0.2.6.0.2-76/6.0.0"/>
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.hdinsight360" id="spark-streaming_2.11-2.1.0.2.6.0.2-76" name="spark-streaming_2.11-2.1.0.2.6.0.2-76.jar" mvn_uri="mvn:org.talend.libraries/spark-streaming_2.11-2.1.0.2.6.0.2-76/6.0.0"/>

        <!-- Big Data launcher libraries -->
        <libraryNeeded
                context="plugin:org.talend.hadoop.distribution.hdinsight360"
                id="talend-bigdata-launcher-hdinsight"
                name="talend-bigdata-launcher-hdinsight-2.0.8.jar"
                mvn_uri="mvn:org.talend.bigdata.libs/talend-bigdata-launcher-hdinsight/2.0.8">
        </libraryNeeded>

        <!-- Groups -->

        <!-- Big Data launcher group -->
        <libraryNeededGroup
                description="Big Data launcher libraries for HDInsight 3.6.0"
                id="BIGDATA-LAUNCHER-LIB-HD_INSIGHT_3_6_0"
                name="BIGDATA-LAUNCHER-LIB-HD_INSIGHT_3_6_0"  >
            <library id="talend-bigdata-launcher"/>
            <library id="talend-bigdata-launcher-hdinsight"/>
        </libraryNeededGroup>

        <!-- Spark group -->
        <libraryNeededGroup
                description="Spark libraries for HDInsight 3.6.0"
                id="SPARK-LIB-HD_INSIGHT_3_6_0"
                name="SPARK-LIB-HD_INSIGHT_3_6_0">
             <library id="spark-core_2.11-2.1.0.2.6.0.2-76" />
             <library id="avro-1.7.7" />
              <library id="avro-mapred-1.7.7-hadoop2"/>
             <library id="commons-lang3-3.5" />
             <library id="spark-network-common_2.11-2.1.0.2.6.0.2-76" />
             <library id="scala-library-2.11.8" />
             <library id="kryo-shaded-3.0.3" />
             <library id="hadoop-common-2.7.3.2.6.0.2-76" />
             <library id="hadoop-auth-2.7.3.2.6.0.2-76" />
             <library id="hadoop-hdfs-2.7.3.2.6.0.2-76" />
             <library id="hadoop-mapreduce-client-core-2.7.3.2.6.0.2-76" />
             <library id="hadoop-mapreduce-client-app-2.7.3.2.6.0.2-76" />
             <library id="hadoop-mapreduce-client-jobclient-2.7.3.2.6.0.2-76" />
             <library id="commons-codec-1.10" />
             <library id="commons-lang-2.6" />
             <library id="spark-mllib_2.11-2.1.0.2.6.0.2-76" />
             <library id="spark-mllib-local_2.11-2.1.0.2.6.0.2-76" />
             <library id="scala-reflect-2.11.8" />
             <library id="spark-catalyst_2.11-2.1.0.2.6.0.2-76" />
             <library id="spark-sql_2.11-2.1.0.2.6.0.2-76" />
             <library id="spark-graphx_2.11-2.1.0.2.6.0.2-76" />
        </libraryNeededGroup>

        <!-- Spark SQL group MRREQUIRED -->
        <libraryNeededGroup
                description="Spark libraries for HDInsight 3.6.0 that are MRRequired for Parquet"
                id="SPARK-SQL-LIB-MRREQUIRED-HD_INSIGHT_3_6_0"
                name="SPARK-SQL-LIB-MRREQUIRED-HD_INSIGHT_3_6_0">
             <library id="scala-reflect-2.11.8" />
             <library id="spark-catalyst_2.11-2.1.0.2.6.0.2-76" />
             <library id="spark-sql_2.11-2.1.0.2.6.0.2-76" />
        </libraryNeededGroup>

        <!-- Spark Parquet group MRREQUIRED -->
        <libraryNeededGroup
                description="Spark libraries for HDInsight 3.6.0 that are MRRequired for Parquet"
                id="SPARK-PARQUET-LIB-MRREQUIRED-HD_INSIGHT_3_6_0"
                name="SPARK-PARQUET-LIB-MRREQUIRED-HD_INSIGHT_3_6_0">
             <library id="commons-logging-1.1.3" />
        </libraryNeededGroup>

        <!-- Spark Hive group MRREQUIRED -->
        <libraryNeededGroup
                description="Spark Hive libraries for HDInsight 3.6.0 that are MRREQUIRED"
                id="SPARK-HIVE-LIB-MRREQUIRED-HD_INSIGHT_3_6_0"
                name="SPARK-HIVE-LIB-MRREQUIRED-HD_INSIGHT_3_6_0">
            <library id="spark-hive_2.11-2.1.0.2.6.0.2-76"/>
        </libraryNeededGroup>

        <!-- Spark Streaming group -->
        <libraryNeededGroup
                description="Spark Streaming libraries for HDInsight 3.6.0"
                id="SPARK-STREAMING-LIB-HD_INSIGHT_3_6_0"
                name="SPARK-STREAMING-LIB-HD_INSIGHT_3_6_0">
             <library id="spark-streaming_2.11-2.1.0.2.6.0.2-76" />
             <library id="jodd-core-3.5.2" />

        </libraryNeededGroup>

        <!-- Spark Streaming Parquet group MRREQUIRED -->
        <libraryNeededGroup
                description="Spark libraries for HDInsight 3.6.0 that are MRRequired for Parquet"
                id="SPARK-STREAMING-PARQUET-LIB-MRREQUIRED-HD_INSIGHT_3_6_0"
                name="SPARK-STREAMING-PARQUET-LIB-MRREQUIRED-HD_INSIGHT_3_6_0">
             <library id="commons-logging-1.1.3" />
             <library id="parquet-format-2.3.0-incubating" />
             <library id="parquet-hadoop-1.8.1" />
             <library id="parquet-hadoop-bundle-1.6.0" />
        </libraryNeededGroup>

        <!-- GraphFrames group MRREQUIRED -->
        <libraryNeededGroup
                description="GraphFrames libraries for HDInsight 3.6.0 that are MRREQUIRED"
                id="SPARK-GRAPHFRAMES-LIB-MRREQUIRED-HD_INSIGHT_3_6_0"
                name="SPARK-GRAPHFRAMES-LIB-MRREQUIRED-HD_INSIGHT_3_6_0">
             <library id="graphframes-0.5.0-spark2.1-s_2.11.jar" />
        </libraryNeededGroup>

        <!-- Hive parquet group -->
        <libraryNeededGroup
                description="Hive Parquet libraries for HDInsight 3.6.0"
                id="HIVE-PARQUET-LIB-HD_INSIGHT_3_6_0"
                name="HIVE-PARQUET-LIB-HD_INSIGHT_3_6_0">
            <library id="parquet-hive-bundle-1.6.0.jar"/>
        </libraryNeededGroup>

        <!-- Map/Reduce group -->
        <libraryNeededGroup
                description="Map/Reduce libraries for HDInsight 3.6.0"
                id="MAPREDUCE-LIB-HD_INSIGHT_3_6_0"
                name="MAPREDUCE-LIB-HD_INSIGHT_3_6_0"  >
             <library id="commons-codec-1.10" />
             <library id="hadoop-mapreduce-client-core-2.7.3.2.6.0.2-76" />
             <library id="hadoop-yarn-common-2.7.3.2.6.0.2-76" />
             <library id="commons-lang-2.6" />
             <library id="hadoop-common-2.7.3.2.6.0.2-76" />
             <library id="commons-logging-1.1.3" />
             <library id="jackson-core-asl-1.9.14-TALEND" />
             <library id="commons-collections-3.2.2.jar" />
             <library id="guava-14.0.1.jar" />
        </libraryNeededGroup>

        <!-- Map/Reduce parquet group -->
        <libraryNeededGroup
                description="Map/Reduce parquet libraries for HDInsight 3.6.0"
                id="MAPREDUCE-PARQUET-LIB-HD_INSIGHT_3_6_0"
                name="MAPREDUCE-PARQUET-LIB-HD_INSIGHT_3_6_0"  >
             <library id="parquet-hadoop-bundle-1.6.0" />
             <library id="parquet-hadoop-1.8.1" />
             <library id="jodd-core-3.5.2" />
        </libraryNeededGroup>


        <!-- group of HD Insight 3.6.0 common libraries -->
        <libraryNeededGroup
                description="HD Insight common libraries"
                id="HD_INSIGHT_36_COMMON_LIBRARIES"
                name="HD_INSIGHT_36_COMMON_LIBRARIES">
            <library id="json_simple-1.1.jar"/>
            <library id="javax.ws.rs-api-2.1.jar"/>
            <library id="wsdl4j-1.6.3.jar"/>
            <library id="azure-storage-5.0.0.jar"/>
            <library id="jackson-core-2.8.9.jar"/>
            <library id="jackson-databind-2.8.9.jar"/>
            <library id="jackson-core-asl-1.9.14-TALEND"/>
            <library id="commons-logging-1.1.3"/>
        </libraryNeededGroup>

        <!-- Spark Azure group MRREQUIRED
             Azure Blob & Datalake support have been disabled for now on this distribution
             New versions of this distribution should be tested for Azure support and
             the changes backported to all earlier versions
        <libraryNeededGroup
                description="Spark Azure libraries for CDH 5.8 that are MRREQUIRED"
                id="SPARK-AZURE-LIB-MRREQUIRED-CDH_5_8"
                name="SPARK-AZURE-LIB-MRREQUIRED-CDH_5_8">
                <library id="azure-storage-2.2.0"/>
                <library id="hadoop-azure-2.7.4"/>
                <library id="jetty-util-6.1.26"/>
        </libraryNeededGroup> -->

    </extension>
</plugin>
