<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.repository.metadata_provider">
      <DBMetadataProvider
            class="org.talend.repository.hbaseprovider.provider.HBaseMetadataProvider"
            dbType="HBase"
            supportJDBC="false">
      </DBMetadataProvider>
   </extension>
   <extension
         point="org.talend.core.runtime.repositoryComponent_provider">
      <RepositoryComponent
            input="tHBaseInput"
            name="HBASE"
            output="tHBaseOutput"
            withSchema="true">
         <Item
               clazz="org.talend.core.model.properties.DatabaseConnectionItem">
         </Item>
         <DBType
               type="HBASE">
         </DBType>
      </RepositoryComponent>
   </extension>

</plugin>
