<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
        <!-- group of spark libraries -->
        <libraryNeededGroup
                description="The latest Spark libraries for EMR 4.0.0"
                id="SPARK-LIB-EMR_4_0_0_LATEST"
                name="SPARK-LIB-EMR_4_0_0_LATEST">
             <library
                id="talend-spark-assembly-emr400-latest">
             </library>
             <library
                id="hadoop-common-emr400-latest">
             </library>
             <library
                 id="hadoop-hdfs-emr400-latest">
             </library>
             <library
                 id="hadoop-auth-emr400-latest">
             </library>
             <library
                id="hadoop-mapreduce-client-common-emr400-latest">
             </library>
             <library
                 id="hadoop-mapreduce-client-core-emr400-latest">
             </library>
             <library
                 id="hadoop-mapreduce-client-jobclient-emr400-latest">
             </library>
             <library
                id="hadoop-yarn-api-emr400-latest">
             </library>
             <library
                 id="hadoop-yarn-client-emr400-latest">
             </library>
             <library
                 id="hadoop-yarn-common-emr400-latest">
             </library>
             <library
                 id="commons-configuration-1.6.jar">
             </library>
             <library
                 id="commons-lang-2.6.jar">
             </library>
             <library
                 id="commons-logging-1.1.3.jar">
             </library>
             <library
                 id="commons-cli-1.2.jar">
             </library>
             <library
                 id="commons-codec-1.4.jar">
             </library>
             <library
                 id="commons-collections-3.2.1.jar">
             </library>
             <library
                 id="guava-11.0.2.jar">
             </library>
             <library
                 id="protobuf-java-2.5.0.jar">
             </library>
             <library
                 id="slf4j-api-1.7.5.jar">
             </library>
             <library
                 id="slf4j-log4j12-1.7.5.jar">
             </library>
             <library
                 id="log4j-1.2.17.jar">
             </library>
             <library
                 id="emr-metrics-client-emr400-latest">
             </library>
             <library
                 id="htrace-core-3.0.4.jar">
             </library>
        </libraryNeededGroup>
    </extension>
</plugin>