<?xml version='1.0' encoding='UTF-8'?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
    	<libraryNeeded id="commons-pool2-2.4.2.jar" name="commons-pool2-2.4.2.jar"
                       mvn_uri="mvn:org.apache.commons/commons-pool2/2.4.2"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="amazon-kinesis-client-1.8.10.jar" name="amazon-kinesis-client-1.8.10.jar"
                       mvn_uri="mvn:com.amazonaws/amazon-kinesis-client/1.8.10"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="avro-1.8.2.jar" name="avro-1.8.2.jar" mvn_uri="mvn:org.apache.avro/avro/1.8.2"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="avro-compiler-1.8.2.jar" name="avro-compiler-1.8.2.jar"
                       mvn_uri="mvn:org.apache.avro/avro-compiler/1.8.2"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="avro-mapred-1.8.2-hadoop2.jar" name="avro-mapred-1.8.2-hadoop2.jar"
                       mvn_uri="mvn:org.apache.avro/avro-mapred/1.8.2-hadoop2"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="aws-java-sdk-core-1.11.595.jar" name="aws-java-sdk-core-1.11.595.jar"
                       mvn_uri="mvn:com.amazonaws/aws-java-sdk-core/1.11.595"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="aws-java-sdk-kinesis-1.11.595.jar" name="aws-java-sdk-kinesis-1.11.595.jar"
                       mvn_uri="mvn:com.amazonaws/aws-java-sdk-kinesis/1.11.595"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="azure-data-lake-store-sdk-2.2.8.jar" name="azure-data-lake-store-sdk-2.2.8.jar"
                       mvn_uri="mvn:com.microsoft.azure/azure-data-lake-store-sdk/2.2.8"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="azure-storage-5.2.0.jar" name="azure-storage-5.2.0.jar"
                       mvn_uri="mvn:com.microsoft.azure/azure-storage/5.2.0"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="commons-codec-1.15.jar" name="commons-codec-1.15.jar"
                       mvn_uri="mvn:commons-codec/commons-codec/1.15"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="commons-lang-2.6.jar" name="commons-lang-2.6.jar" mvn_uri="mvn:commons-lang/commons-lang/2.6"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="commons-lang3-3.5.jar" name="commons-lang3-3.5.jar"
                       mvn_uri="mvn:org.apache.commons/commons-lang3/3.5"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="commons-logging-1.1.3.jar" name="commons-logging-1.1.3.jar"
                       mvn_uri="mvn:commons-logging/commons-logging/1.1.3"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="gson-2.9.0.jar" name="gson-2.9.0.jar" mvn_uri="mvn:com.google.code.gson/gson/2.9.0"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="hadoop-azure-datalake-2.7.3.jar" name="hadoop-azure-datalake-2.7.3.jar"
                       mvn_uri="mvn:org.apache.hadoop/hadoop-azure-datalake/2.7.3"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="hadoop-common-2.7.3.jar" name="hadoop-common-2.7.3.jar"
                       mvn_uri="mvn:org.apache.hadoop/hadoop-common/2.7.3"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="hadoop-mapreduce-client-core-2.7.3.jar" name="hadoop-mapreduce-client-core-2.7.3.jar"
                       mvn_uri="mvn:org.apache.hadoop/hadoop-mapreduce-client-core/2.7.3"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="jackson-annotations-2.6.7.jar" name="jackson-annotations-2.6.7.jar"
                       mvn_uri="mvn:com.fasterxml.jackson.core/jackson-annotations/2.6.7"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="jackson-core-2.6.7.jar" name="jackson-core-2.6.7.jar"
                       mvn_uri="mvn:com.fasterxml.jackson.core/jackson-core/2.6.7"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="jackson-databind-2.6.7.1.jar" name="jackson-databind-2.6.7.1.jar"
                       mvn_uri="mvn:com.fasterxml.jackson.core/jackson-databind/2.6.7.1"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="javax.ws.rs-api-2.0.1.jar" name="javax.ws.rs-api-2.0.1.jar"
                       mvn_uri="mvn:javax.ws.rs/javax.ws.rs-api/2.0.1"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="json-simple-1.1.1.jar" name="json-simple-1.1.1.jar"
                       mvn_uri="mvn:com.googlecode.json-simple/json-simple/1.1.1"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="kryo-shaded-4.0.2.jar" name="kryo-shaded-4.0.2.jar"
                       mvn_uri="mvn:com.esotericsoftware/kryo-shaded/4.0.2"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="parquet-hadoop-bundle-1.6.0.jar" name="parquet-hadoop-bundle-1.6.0.jar"
                       mvn_uri="mvn:com.twitter/parquet-hadoop-bundle/1.6.0"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="scala-library-2.11.12.jar" name="scala-library-2.11.12.jar"
                       mvn_uri="mvn:org.scala-lang/scala-library/2.11.12"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="scala-reflect-2.11.12.jar" name="scala-reflect-2.11.12.jar"
                       mvn_uri="mvn:org.scala-lang/scala-reflect/2.11.12"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="slf4j-api-1.7.16.jar" name="slf4j-api-1.7.16.jar" mvn_uri="mvn:org.slf4j/slf4j-api/1.7.16"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="slf4j-log4j12-1.7.16.jar" name="slf4j-log4j12-1.7.16.jar"
                       mvn_uri="mvn:org.slf4j/slf4j-log4j12/1.7.16"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="spark-catalyst_2.11-2.4.5.jar" name="spark-catalyst_2.11-2.4.5.jar"
                       mvn_uri="mvn:org.apache.spark/spark-catalyst_2.11/2.4.5"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="spark-core_2.11-2.4.5.jar" name="spark-core_2.11-2.4.5.jar"
                       mvn_uri="mvn:org.apache.spark/spark-core_2.11/2.4.5"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="spark-graphx_2.11-2.4.5.jar" name="spark-graphx_2.11-2.4.5.jar"
                       mvn_uri="mvn:org.apache.spark/spark-graphx_2.11/2.4.5"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="spark-hive_2.11-2.4.5.jar" name="spark-hive_2.11-2.4.5.jar"
                       mvn_uri="mvn:org.apache.spark/spark-hive_2.11/2.4.5"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="spark-mllib-local_2.11-2.4.5.jar" name="spark-mllib-local_2.11-2.4.5.jar"
                       mvn_uri="mvn:org.apache.spark/spark-mllib-local_2.11/2.4.5"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="spark-mllib_2.11-2.4.5.jar" name="spark-mllib_2.11-2.4.5.jar"
                       mvn_uri="mvn:org.apache.spark/spark-mllib_2.11/2.4.5"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="spark-network-common_2.11-2.4.5.jar" name="spark-network-common_2.11-2.4.5.jar"
                       mvn_uri="mvn:org.apache.spark/spark-network-common_2.11/2.4.5"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="spark-sql_2.11-2.4.5.jar" name="spark-sql_2.11-2.4.5.jar"
                       mvn_uri="mvn:org.apache.spark/spark-sql_2.11/2.4.5"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="spark-streaming-kinesis-asl_2.11-2.4.5.jar" name="spark-streaming-kinesis-asl_2.11-2.4.5.jar"
                       mvn_uri="mvn:org.apache.spark/spark-streaming-kinesis-asl_2.11/2.4.5"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="spark-streaming_2.11-2.4.5.jar" name="spark-streaming_2.11-2.4.5.jar"
                       mvn_uri="mvn:org.apache.spark/spark-streaming_2.11/2.4.5"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="spark-unsafe_2.11-2.4.5.jar" name="spark-unsafe_2.11-2.4.5.jar"
                       mvn_uri="mvn:org.apache.spark/spark-unsafe_2.11/2.4.5"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="talend-bigdata-launcher-jobserver-2.0.12.jar" name="talend-bigdata-launcher-jobserver-2.0.12.jar"
                       mvn_uri="mvn:org.talend.bigdata.libs/talend-bigdata-launcher-jobserver/2.0.12"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="talend-bigdata-launcher-databricks-2.5.3.jar"
                       name="talend-bigdata-launcher-databricks-2.5.3.jar"
                       mvn_uri="mvn:org.talend.bigdata.libs/talend-bigdata-launcher-databricks/2.5.3"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="wsdl4j-1.6.3.jar" name="wsdl4j-1.6.3.jar" mvn_uri="mvn:wsdl4j/wsdl4j/1.6.3"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
        <libraryNeeded id="guava-27.1-jre.jar" name="guava-27.1-jre.jar" mvn_uri="mvn:com.google.guava/guava/27.1-jre"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/>
 		<!-- GCS libraries -->
        <libraryNeeded id="gcs-connector-hadoop2-2.1.6-shaded.jar" name="gcs-connector-hadoop2-2.1.6-shaded.jar" mvn_uri="mvn:com.google.cloud.bigdataoss/gcs-connector/hadoop2-2.1.6/jar/shaded"
                       context="plugin:org.talend.hadoop.distribution.dbr640"/> 

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.dbr640"
            id="bigquery-connector-hadoop2-1.1.6-shaded.jar"
            name="bigquery-connector-hadoop2-1.1.6-shaded.jar"
            mvn_uri="mvn:com.google.cloud.bigdataoss/bigquery-connector/hadoop2-1.1.6/jar/shaded">
        </libraryNeeded>
                       
        <libraryNeededGroup id="BIGDATA-LAUNCHER-LIB-DBR640" name="BIGDATA-LAUNCHER-LIB-DBR640"
                            description="Big Data launcher libraries for DBR640">
            <library id="gson-2.9.0.jar"/>
            <library id="jackson-annotations-2.6.7.jar"/>
            <library id="jackson-core-2.6.7.jar"/>
            <library id="jackson-databind-2.6.7.1.jar"/>
            <library id="talend-bigdata-launcher-jobserver-2.0.12.jar"/>
            <library id="talend-bigdata-launcher-databricks-2.5.3.jar"/>
        </libraryNeededGroup>
        <libraryNeededGroup id="HIVEONSPARK-LIB-MRREQUIRED-DBR640" name="HIVEONSPARK-LIB-MRREQUIRED-DBR640"
                            description="Hive On SPARK libraries for DBR640">
            <library id="spark-hive_2.11-2.4.5.jar"/>
        </libraryNeededGroup>
        <libraryNeededGroup id="SPARK-AZURE-LIB-MRREQUIRED-DBR640" name="SPARK-AZURE-LIB-MRREQUIRED-DBR640"
                            description="Hive On SPARK libraries for DBR640">
            <library id="azure-data-lake-store-sdk-2.2.8.jar"/>
            <library id="hadoop-azure-datalake-2.7.3.jar"/>
        </libraryNeededGroup>
        <libraryNeededGroup id="SPARK-LIB-MRREQUIRED-DBR640" name="SPARK-LIB-MRREQUIRED-DBR640"
                            description="SPARK libraries for DBR640">
            <library id="avro-1.8.2.jar"/>
            <library id="avro-compiler-1.8.2.jar"/>
            <library id="avro-mapred-1.8.2-hadoop2.jar"/>
            <library id="azure-storage-5.2.0.jar"/>
            <library id="commons-codec-1.15.jar"/>
            <library id="commons-lang-2.6.jar"/>
            <library id="commons-lang3-3.5.jar"/>
            <library id="commons-logging-1.1.3.jar"/>
            <library id="hadoop-common-2.7.3.jar"/>
            <library id="hadoop-mapreduce-client-core-2.7.3.jar"/>
            <library id="jackson-core-2.6.7.jar"/>
            <library id="javax.ws.rs-api-2.0.1.jar"/>
            <library id="json-simple-1.1.1.jar"/>
            <library id="kryo-shaded-4.0.2.jar"/>
            <library id="parquet-hadoop-bundle-1.6.0.jar"/>
            <library id="scala-library-2.11.12.jar"/>
            <library id="scala-reflect-2.11.12.jar"/>
            <library id="slf4j-api-1.7.16.jar"/>
            <library id="slf4j-log4j12-1.7.16.jar"/>
            <library id="spark-catalyst_2.11-2.4.5.jar"/>
            <library id="spark-core_2.11-2.4.5.jar"/>
            <library id="spark-graphx_2.11-2.4.5.jar"/>
            <library id="spark-mllib-local_2.11-2.4.5.jar"/>
            <library id="spark-mllib_2.11-2.4.5.jar"/>
            <library id="spark-network-common_2.11-2.4.5.jar"/>
            <library id="spark-sql_2.11-2.4.5.jar"/>
            <library id="spark-streaming_2.11-2.4.5.jar"/>
            <library id="spark-unsafe_2.11-2.4.5.jar"/>
            <library id="wsdl4j-1.6.3.jar"/>
            <library id="guava-27.1-jre.jar"/>
        </libraryNeededGroup>
        <libraryNeededGroup id="SPARK-STREAMING-LIB-KINESIS-DBR640" name="SPARK-STREAMING-LIB-KINESIS-DBR640"
                            description="SPARK libraries for DBR640">
            <library id="amazon-kinesis-client-1.8.10.jar"/>
            <library id="aws-java-sdk-core-1.11.595.jar"/>
            <library id="aws-java-sdk-kinesis-1.11.595.jar"/>
            <library id="spark-streaming-kinesis-asl_2.11-2.4.5.jar"/>
            <library id="commons-pool2-2.4.2.jar"/>
        </libraryNeededGroup>
        <libraryNeededGroup id="SPARK-STREAMING-LIB-MRREQUIRED-DBR640" name="SPARK-STREAMING-LIB-MRREQUIRED-DBR640"
                            description="SPARK libraries for DBR640">
            <library id="spark-streaming_2.11-2.4.5.jar"/>
        </libraryNeededGroup>

        <libraryNeededGroup
                description="Libraries for GCS"
                id="GCS-GROUP-Databricks_6_4"
                name="GCS-GROUP-Databricks_6_4">
            <library id="gcs-connector-hadoop2-2.1.6-shaded.jar"/>
        </libraryNeededGroup>

        <libraryNeededGroup
                description="Libraries for BigQuery"
                id="BIGQUERY-GROUP-Databricks_6_4"
                name="BIGQUERY-GROUP-Databricks_6_4">
            <library id="gcs-connector-hadoop2-2.1.6-shaded.jar"/>
            <library id="bigquery-connector-hadoop2-1.1.6-shaded.jar"/>
        </libraryNeededGroup>
        
    </extension>
    <extension point="org.talend.core.runtime.classloader_provider"/>
</plugin>
