<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.components_provider">
      <ComponentsProvider
            class="org.talend.designer.components.thalesprovider.ThalesComponentsProvider"
            folderName="thales"
            id="org.talend.designer.components.thalesprovider.ThalesComponentsProvider">
      </ComponentsProvider>
   </extension>
   <extension
         point="org.talend.designer.codegen.additional_jetfile">
      <jetProvider
            class="org.talend.designer.components.thalesprovider.ThalesJetFileProvider"
            folderName="thales"
            id="org.talend.designer.components.thalesprovider.ThalesJetFileProvider">
      </jetProvider>
   </extension>

</plugin>
