<?xml version='1.0' encoding='UTF-8'?>
<plugin>
  <extension point="org.talend.core.runtime.librariesNeeded">
    <libraryNeeded id="amazon-kinesis-client-1.8.10.jar" name="amazon-kinesis-client-1.8.10.jar" mvn_uri="mvn:com.amazonaws/amazon-kinesis-client/1.8.10" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="avro-1.8.2.jar" name="avro-1.8.2.jar" mvn_uri="mvn:org.apache.avro/avro/1.8.2" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="avro-compiler-1.8.2.jar" name="avro-compiler-1.8.2.jar" mvn_uri="mvn:org.apache.avro/avro-compiler/1.8.2" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="avro-mapred-1.8.2-hadoop2.jar" name="avro-mapred-1.8.2-hadoop2.jar" mvn_uri="mvn:org.apache.avro/avro-mapred/1.8.2-hadoop2" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="aws-java-sdk-core-1.11.655.jar" name="aws-java-sdk-core-1.11.655.jar" mvn_uri="mvn:com.amazonaws/aws-java-sdk-core/1.11.655" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="aws-java-sdk-dynamodb-1.11.655.jar" name="aws-java-sdk-dynamodb-1.11.655.jar" mvn_uri="mvn:com.amazonaws/aws-java-sdk-dynamodb/1.11.655" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="aws-java-sdk-kinesis-1.11.655.jar" name="aws-java-sdk-kinesis-1.11.655.jar" mvn_uri="mvn:com.amazonaws/aws-java-sdk-kinesis/1.11.655" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="azure-data-lake-store-sdk-2.2.8.jar" name="azure-data-lake-store-sdk-2.2.8.jar" mvn_uri="mvn:com.microsoft.azure/azure-data-lake-store-sdk/2.2.8" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="azure-storage-5.2.0.jar" name="azure-storage-5.2.0.jar" mvn_uri="mvn:com.microsoft.azure/azure-storage/5.2.0" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="commons-codec-1.15.jar" name="commons-codec-1.15.jar" mvn_uri="mvn:commons-codec/commons-codec/1.15" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="commons-lang-2.6.jar" name="commons-lang-2.6.jar" mvn_uri="mvn:commons-lang/commons-lang/2.6" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="commons-lang3-3.9.jar" name="commons-lang3-3.9.jar" mvn_uri="mvn:org.apache.commons/commons-lang3/3.9" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="commons-logging-1.1.3.jar" name="commons-logging-1.1.3.jar" mvn_uri="mvn:commons-logging/commons-logging/1.1.3" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="gson-2.9.0.jar" name="gson-2.9.0.jar" mvn_uri="mvn:com.google.code.gson/gson/2.9.0" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="guava-15.0.jar" name="guava-15.0.jar" mvn_uri="mvn:com.google.guava/guava/15.0" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="hadoop-azure-datalake-2.7.4.jar" name="hadoop-azure-datalake-2.7.4.jar" mvn_uri="mvn:org.apache.hadoop/hadoop-azure-datalake/2.7.4" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="hadoop-common-2.7.4.jar" name="hadoop-common-2.7.4.jar" mvn_uri="mvn:org.apache.hadoop/hadoop-common/2.7.4" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="hadoop-mapreduce-client-core-2.7.4.jar" name="hadoop-mapreduce-client-core-2.7.4.jar" mvn_uri="mvn:org.apache.hadoop/hadoop-mapreduce-client-core/2.7.4" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="hk2-api-2.6.1.jar" name="hk2-api-2.6.1.jar" mvn_uri="mvn:org.glassfish.hk2/hk2-api/2.6.1" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="hk2-locator-2.6.1.jar" name="hk2-locator-2.6.1.jar" mvn_uri="mvn:org.glassfish.hk2/hk2-locator/2.6.1" context="plugin:org.talend.hadoop.distribution.dbr73x"/>     
    <libraryNeeded id="hk2-utils-2.6.1.jar" name="hk2-utils-2.6.1.jar" mvn_uri="mvn:org.glassfish.hk2/hk2-utils/2.6.1" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="jackson-annotations-2.10.0.jar" name="jackson-annotations-2.10.0.jar" mvn_uri="mvn:com.fasterxml.jackson.core/jackson-annotations/2.10.0" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="jackson-core-2.10.0.jar" name="jackson-core-2.10.0.jar" mvn_uri="mvn:com.fasterxml.jackson.core/jackson-core/2.10.0" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="jackson-databind-2.10.0.jar" name="jackson-databind-2.10.0.jar" mvn_uri="mvn:com.fasterxml.jackson.core/jackson-databind/2.10.0" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="jakarta.annotation-api-1.3.5.jar" name="jakarta.annotation-api-1.3.5.jar" mvn_uri="mvn:jakarta.annotation/jakarta.annotation-api/1.3.5" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="jakarta.inject-2.6.1.jar" name="jakarta.inject-2.6.1.jar" mvn_uri="mvn:org.glassfish.hk2.external/jakarta.inject/2.6.1" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="jakarta.ws.rs-api-2.1.6.jar" name="jakarta.ws.rs-api-2.1.6.jar" mvn_uri="mvn:jakarta.ws.rs/jakarta.ws.rs-api/2.1.6" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="jersey-client-2.30.jar" name="jersey-client-2.30.jar" mvn_uri="mvn:org.glassfish.jersey.core/jersey-client/2.30" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="jersey-common-2.30.jar" name="jersey-common-2.30.jar"  mvn_uri="mvn:org.glassfish.jersey.core/jersey-common/2.30" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="jersey-hk2-2.30.jar" name="jersey-hk2-2.30.jar" mvn_uri="mvn:org.glassfish.jersey.inject/jersey-hk2/2.30" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="json-simple-1.1.1.jar" name="json-simple-1.1.1.jar" mvn_uri="mvn:com.googlecode.json-simple/json-simple/1.1.1" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="kryo-shaded-4.0.2.jar" name="kryo-shaded-4.0.2.jar" mvn_uri="mvn:com.esotericsoftware/kryo-shaded/4.0.2" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="parquet-hadoop-bundle-1.6.0.jar" name="parquet-hadoop-bundle-1.6.0.jar" mvn_uri="mvn:com.twitter/parquet-hadoop-bundle/1.6.0" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="scala-library-2.12.10.jar" name="scala-library-2.12.10.jar" mvn_uri="mvn:org.scala-lang/scala-library/2.12.10" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="scala-reflect-2.12.10.jar" name="scala-reflect-2.12.10.jar" mvn_uri="mvn:org.scala-lang/scala-reflect/2.12.10" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="slf4j-api-1.7.16.jar" name="slf4j-api-1.7.16.jar" mvn_uri="mvn:org.slf4j/slf4j-api/1.7.16" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="slf4j-log4j12-1.7.16.jar" name="slf4j-log4j12-1.7.16.jar" mvn_uri="mvn:org.slf4j/slf4j-log4j12/1.7.16" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="spark-redshift_2.12-4.2.0.jar" name="spark-redshift_2.12-4.2.0.jar" mvn_uri="mvn:io.github.spark-redshift-community/spark-redshift_2.12/4.2.0" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="spark-avro_2.12-3.0.3.jar" name="spark-avro_2.12-3.0.3.jar" mvn_uri="mvn:org.apache.spark/spark-avro_2.12/3.0.3" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="spark-catalyst_2.12-3.0.1.jar" name="spark-catalyst_2.12-3.0.1.jar" mvn_uri="mvn:org.apache.spark/spark-catalyst_2.12/3.0.1" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="spark-core_2.12-3.0.1.jar" name="spark-core_2.12-3.0.1.jar" mvn_uri="mvn:org.apache.spark/spark-core_2.12/3.0.1" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="spark-graphx_2.12-3.0.1.jar" name="spark-graphx_2.12-3.0.1.jar" mvn_uri="mvn:org.apache.spark/spark-graphx_2.12/3.0.1" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="spark-hive_2.12-3.0.1.jar" name="spark-hive_2.12-3.0.1.jar" mvn_uri="mvn:org.apache.spark/spark-hive_2.12/3.0.1" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="spark-mllib-local_2.12-3.0.1.jar" name="spark-mllib-local_2.12-3.0.1.jar" mvn_uri="mvn:org.apache.spark/spark-mllib-local_2.12/3.0.1" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="spark-mllib_2.12-3.0.1.jar" name="spark-mllib_2.12-3.0.1.jar" mvn_uri="mvn:org.apache.spark/spark-mllib_2.12/3.0.1" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="spark-network-common_2.12-3.0.1.jar" name="spark-network-common_2.12-3.0.1.jar" mvn_uri="mvn:org.apache.spark/spark-network-common_2.12/3.0.1" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="spark-sql_2.12-3.0.1.jar" name="spark-sql_2.12-3.0.1.jar" mvn_uri="mvn:org.apache.spark/spark-sql_2.12/3.0.1" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="spark-streaming-kinesis-asl_2.12-3.0.1.jar" name="spark-streaming-kinesis-asl_2.12-3.0.1.jar" mvn_uri="mvn:org.apache.spark/spark-streaming-kinesis-asl_2.12/3.0.1" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="commons-pool2-2.9.0.jar" name="commons-pool2-2.9.0.jar" mvn_uri="mvn:org.apache.commons/commons-pool2/2.9.0" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="spark-streaming_2.12-3.0.1.jar" name="spark-streaming_2.12-3.0.1.jar" mvn_uri="mvn:org.apache.spark/spark-streaming_2.12/3.0.1" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="spark-unsafe_2.12-3.0.1.jar" name="spark-unsafe_2.12-3.0.1.jar" mvn_uri="mvn:org.apache.spark/spark-unsafe_2.12/3.0.1" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="snappy-java-1.1.8.2.jar" name="snappy-java-1.1.8.2.jar" mvn_uri="mvn:org.xerial.snappy/snappy-java/1.1.8.2" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="talend-bigdata-launcher-jobserver-2.0.12.jar" name="talend-bigdata-launcher-jobserver-2.0.12.jar" mvn_uri="mvn:org.talend.bigdata.libs/talend-bigdata-launcher-jobserver/2.0.12" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="talend-bigdata-launcher-databricks-2.5.3.jar" name="talend-bigdata-launcher-databricks-2.5.3.jar" mvn_uri="mvn:org.talend.bigdata.libs/talend-bigdata-launcher-databricks/2.5.3" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded id="wsdl4j-1.6.3.jar" name="wsdl4j-1.6.3.jar" mvn_uri="mvn:wsdl4j/wsdl4j/1.6.3" context="plugin:org.talend.hadoop.distribution.dbr73x"/>
    <libraryNeeded context="plugin:org.talend.hadoop.distribution.dbr73x" id="spark-snowflake_2.12-2.9.2-spark_3.0.jar" name="spark-snowflake_2.12-2.9.2-spark_3.0.jar" mvn_uri="mvn:net.snowflake/spark-snowflake_2.12/2.9.2-spark_3.0"/>
	<libraryNeeded context="plugin:org.talend.hadoop.distribution.dbr73x" id="snowflake-jdbc-3.13.12.jar" name="snowflake-jdbc-3.13.12.jar" mvn_uri="mvn:net.snowflake/snowflake-jdbc/3.13.12"/>
	<libraryNeeded context="plugin:org.talend.spark.distribution.dbr73x"  id="snowflake-ingest-sdk-0.10.3.jar" name="snowflake-ingest-sdk-0.10.3.jar" mvn_uri="mvn:net.snowflake/snowflake-ingest-sdk/0.10.3"/>
    <libraryNeeded context="plugin:org.talend.hadoop.distribution.dbr73x" id="kafka-clients-2.6.0-shaded-for-kafka-0.10.jar" name="kafka-clients-2.6.0-shaded-for-kafka-0.10.jar" mvn_uri="mvn:org.talend.libraries/kafka-clients-2.6.0-shaded-for-kafka/0.10"/>
    <libraryNeeded context="plugin:org.talend.hadoop.distribution.dbr73x" id="spark-streaming-kafka-0-10_2.12-3.0.1.jar" name="spark-streaming-kafka-0-10_2.12-3.0.1.jar" mvn_uri="mvn:org.apache.spark/spark-streaming-kafka-0-10_2.12/3.0.1"/>
    <libraryNeeded context="plugin:org.talend.hadoop.distribution.dbr73x" id="kafka-clients-2.6.0.jar" name="kafka-clients-2.6.0.jar" mvn_uri="mvn:org.apache.kafka/kafka-clients/2.6.0"/>
    
    <libraryNeededGroup id="BIGDATA-LAUNCHER-LIB-DBR73X" name="BIGDATA-LAUNCHER-LIB-DBR73X" description="Big Data launcher libraries for DBR73X">
      <library id="gson-2.9.0.jar"/>
      <library id="jackson-annotations-2.10.0.jar"/>
      <library id="jackson-core-2.10.0.jar"/>
      <library id="jackson-databind-2.10.0.jar"/>
      <library id="talend-bigdata-launcher-jobserver-2.0.12.jar"/>
      <library id="talend-bigdata-launcher-databricks-2.5.3.jar"/>
    </libraryNeededGroup>
    
    <libraryNeededGroup id="HIVEONSPARK-LIB-MRREQUIRED-DBR73X" name="HIVEONSPARK-LIB-MRREQUIRED-DBR73X" description="Hive On SPARK libraries for DBR73X">
      <library id="spark-hive_2.12-3.0.1.jar"/>
    </libraryNeededGroup>
    
    <libraryNeededGroup id="SPARK-AZURE-LIB-MRREQUIRED-DBR73X" name="SPARK-AZURE-LIB-MRREQUIRED-DBR73X" description="Hive On SPARK libraries for DBR73X">
      <library id="azure-data-lake-store-sdk-2.2.8.jar"/>
      <library id="hadoop-azure-datalake-2.7.4.jar"/>
    </libraryNeededGroup>
    
    <libraryNeededGroup id="SPARK-LIB-MRREQUIRED-DBR73X" name="SPARK-LIB-MRREQUIRED-DBR73X" description="SPARK libraries for DBR73X">
      <library id="avro-1.8.2.jar"/>
      <library id="avro-compiler-1.8.2.jar"/>
      <library id="avro-mapred-1.8.2-hadoop2.jar"/>
      <library id="azure-storage-5.2.0.jar"/>
      <library id="commons-codec-1.15.jar"/>
      <library id="commons-lang-2.6.jar"/>
      <library id="commons-lang3-3.9.jar"/>
      <library id="commons-logging-1.1.3.jar"/>
      <library id="hadoop-common-2.7.4.jar"/>
      <library id="hadoop-mapreduce-client-core-2.7.4.jar"/>
      <library id="jackson-core-2.10.0.jar"/>
      <library id="jakarta.ws.rs-api-2.1.6.jar"/>
      <library id="json-simple-1.1.1.jar"/>
      <library id="kryo-shaded-4.0.2.jar"/>
      <library id="parquet-hadoop-bundle-1.6.0.jar"/>
      <library id="scala-library-2.12.10.jar"/>
      <library id="scala-reflect-2.12.10.jar"/>
      <library id="slf4j-api-1.7.16.jar"/>
      <library id="slf4j-log4j12-1.7.16.jar"/>
      <library id="spark-catalyst_2.12-3.0.1.jar"/>
      <library id="spark-core_2.12-3.0.1.jar"/>
      <library id="spark-graphx_2.12-3.0.1.jar"/>
      <library id="spark-mllib-local_2.12-3.0.1.jar"/>
      <library id="spark-mllib_2.12-3.0.1.jar"/>
      <library id="spark-network-common_2.12-3.0.1.jar"/>
      <library id="spark-sql_2.12-3.0.1.jar"/>
      <library id="spark-streaming_2.12-3.0.1.jar"/>
      <library id="spark-unsafe_2.12-3.0.1.jar"/>
      <library id="wsdl4j-1.6.3.jar"/>
    </libraryNeededGroup>
    
    <libraryNeededGroup id="SPARK-STREAMING-LIB-KINESIS-DBR73X" name="SPARK-STREAMING-LIB-KINESIS-DBR73X" description="SPARK libraries for DBR73X">
      <library id="amazon-kinesis-client-1.8.10.jar"/>
      <library id="aws-java-sdk-core-1.11.655.jar"/>
      <library id="aws-java-sdk-kinesis-1.11.655.jar"/>
      <library id="spark-streaming-kinesis-asl_2.12-3.0.1.jar"/>
      <library id="commons-pool2-2.9.0.jar"/>
    </libraryNeededGroup>
    
    <libraryNeededGroup id="SPARK-STREAMING-LIB-MRREQUIRED-DBR73X" name="SPARK-STREAMING-LIB-MRREQUIRED-DBR73X" description="SPARK libraries for DBR73X">
      <library id="spark-streaming_2.12-3.0.1.jar"/>
    </libraryNeededGroup>
    
    <libraryNeededGroup id="TOPBY-LIB-REQUIRED-DBR73X" name="TOPBY-LIB-REQUIRED-DBR73X" description="tTopBy needed libraries for DBR73X">
      <library id="guava-15.0.jar"/>
    </libraryNeededGroup>
    
    <!-- Snowflake group -->
    <libraryNeededGroup description="Snowflake libraries for DBR73X" id="SNOWFLAKE-GROUP-DBR73x" name="SNOWFLAKE-GROUP-DBR73x">
      <library id="spark-snowflake_2.12-2.9.2-spark_3.0.jar"/>
      <library id="snowflake-jdbc-3.13.12.jar"/>
      <library id="snowflake-ingest-sdk-0.10.3.jar"/>
    </libraryNeededGroup>
    
    <!-- DynamoDB group -->
    <libraryNeededGroup description="DynamoDB libraries for DBR73X" id="DYNAMODB-GROUP-DBR73x" name="DYNAMODB-GROUP-DBR73x">
       <library id="aws-java-sdk-core-1.11.655.jar"/>
       <library id="aws-java-sdk-dynamodb-1.11.655.jar"/>
    </libraryNeededGroup>
        
    <!-- Redshift group -->
    <libraryNeededGroup description="Redshift libraries for spl30x" id="REDSHIFT-GROUP-DBR73X" name="REDSHIFT-GROUP-DBR73X">
       <library id="spark-redshift_2.12-4.2.0.jar"/>
       <library id="spark-avro_2.12-3.0.3.jar"/>
       <library id="gson-2.9.0.jar"/>
       <library id="snappy-java-1.1.8.2.jar"/>
       <library id="avro-mapred-1.8.2-hadoop2.jar"/>
    </libraryNeededGroup>
        
     <!-- Kafka group -->
     <libraryNeededGroup description="Spark streaming Kafka libraries for DBR73X" id="KAFKA-LIB-REQUIRED-DBR73X" name="KAFKA-LIB-REQUIRED-DBR73X">
        <library id="kafka-clients-2.6.0-shaded-for-kafka-0.10.jar"/>
        <library id="spark-streaming-kafka-0-10_2.12-3.0.1.jar"/>
        <library id="kafka-clients-2.6.0.jar"/>
     </libraryNeededGroup>
        
      <!-- Spark Streaming Rest group -->
      <libraryNeededGroup description="Spark streaming Rest libraries for DBR73X" id="REST-GROUP-DBR73X" name="REST-GROUP-DBR73X">
        <library id="hk2-api-2.6.1.jar"/>
        <library id="hk2-locator-2.6.1.jar"/>
        <library id="hk2-utils-2.6.1.jar"/>
        <library id="jakarta.annotation-api-1.3.5.jar"/>
        <library id="jakarta.inject-2.6.1.jar"/>
        <library id="jakarta.ws.rs-api-2.1.6.jar"/>
        <library id="jersey-client-2.30.jar"/>
        <library id="jersey-common-2.30.jar"/>
        <library id="jersey-hk2-2.30.jar"/>
      </libraryNeededGroup>

    
  </extension>
  <extension point="org.talend.core.runtime.classloader_provider"/>
</plugin>
