<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.repository.metadata_provider">
      <DBMetadataProvider
            class="org.talend.repository.hbaseprovider.provider.HBaseMetadataProvider"
            dbType="HBase"
            supportJDBC="false">
      </DBMetadataProvider>
   </extension>
   <extension
         point="org.talend.core.runtime.repositoryComponent_provider">
      <RepositoryComponent
            input="tHBaseInput"
            name="HBASE"
            output="tHBaseOutput"
            withSchema="true">
         <Item
               clazz="org.talend.core.model.properties.DatabaseConnectionItem">
         </Item>
         <DBType
               type="HBASE">
         </DBType>
      </RepositoryComponent>
   </extension>
   <extension
         point="org.talend.core.runtime.classloader_provider">
      <classloader
            index="HBASE:APACHE:APACHE_0_20_203"
            libraries="commons-lang3-3.0.jar;commons-logging-1.1.1.jar;hadoop-core-0.20.203.0.jar;hbase-0.90.1-cdh3u0.jar;log4j-1.2.16.jar;zookeeper-3.3.3-cdh3u0.jar">
      </classloader>
      <classloader
            index="HBASE:APACHE:APACHE_1_0_0"
            libraries="hbase-0.92.0.jar;zookeeper-3.4.2.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;commons-logging-1.1.1.jar;hadoop-core-1.0.0.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar">
      </classloader>
      <classloader
            index="HBASE:AMAZON_EMR:APACHE_1_0_3_EMR"
            libraries="hbase-0.92.0.jar;zookeeper-3.4.2.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;commons-logging-1.1.1.jar;hadoop-core-1.0.0.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar">
      </classloader>
      <classloader
            index="HBASE:AMAZON_EMR:APACHE_2_4_0_EMR"
            libraries="zookeeper-3.4.5.jar;hbase-0.94.18.jar;hadoop-auth-2.4.0.jar;hadoop-common-2.4.0.jar;hadoop-hdfs-2.4.0.jar;hadoop-mapreduce-client-common-2.4.0.jar;hadoop-mapreduce-client-core-2.4.0.jar;hadoop-mapreduce-client-jobclient-2.4.0.jar;commons-logging-1.1.3.jar;protobuf-java-2.5.0.jar;commons-httpclient-3.1.jar;jets3t-0.9.1-emr-2.4.0.jar;httpclient-4.3.4.jar;httpcore-4.3.2.jar;commons-lang-2.6.jar;gson-2.1.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;guava-11.0.2.jar;commons-collections-3.2.1.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;log4j-1.2.17.jar;EmrMetrics-1.0.jar">
      </classloader>
      <classloader
            index="HBASE:HORTONWORKS:HDP_1_2"
            libraries="hbase-0.94.2.21.jar;zookeeper-3.4.5.21.jar;commons-configuration-1.6.jar;commons-lang-2.5.jar;commons-logging-1.1.1.jar;hadoop-core-1.1.2.21.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;protobuf-java-2.4.0a.jar">
      </classloader>
      <classloader
            index="HBASE:HORTONWORKS:HDP_1_3"
            libraries="hbase-0.94.6.1.3.0.0-107-security.jar;zookeeper-3.4.5.1.3.0.0-107.jar;commons-configuration-1.6.jar;commons-lang-2.5.jar;commons-logging-1.1.1.jar;hadoop-core-1.2.0.1.3.0.0-107.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;protobuf-java-2.4.0a.jar">
      </classloader>
      <classloader
            index="HBASE:HORTONWORKS:HDP_2_0"
            libraries="netty-3.5.5.Final.jar;hbase-client-0.96.0.2.0.6.0-76-hadoop2.jar;hbase-common-0.96.0.2.0.6.0-76-hadoop2.jar;hbase-protocol-0.96.0.2.0.6.0-76-hadoop2.jar;zookeeper-3.4.5.jar;hadoop-common-2.2.0.2.0.6.0-76.jar;hadoop-auth-2.2.0.2.0.6.0-76.jar;htrace-core-2.01.jar;commons-lang-2.5.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-codec-1.4.jar;guava-12.0.1.jar;protobuf-java-2.5.0.jar;log4j-1.2.17.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HBASE:HORTONWORKS:HDP_2_1"
            libraries="hadoop-auth-2.4.0.2.1.1.0-385.jar;hadoop-common-2.4.0.2.1.1.0-385.jar;hbase-client-0.98.0.2.1.1.0-385-hadoop2.jar;hbase-common-0.98.0.2.1.1.0-385-hadoop2.jar;hbase-protocol-0.98.0.2.1.1.0-385-hadoop2.jar;zookeeper-3.4.5.2.1.1.0-385.jar;htrace-core-2.04.jar;commons-lang-2.6.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-codec-1.7.jar;guava-12.0.1.jar;protobuf-java-2.5.0.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;netty-3.5.5.Final.jar;commons-collections-3.2.1.jar">
      </classloader>
      <classloader
            index="HBASE:HORTONWORKS:HDP_2_2"
            libraries="hbase-common-0.98.4.2.2.0.0-2041-hadoop2.jar;hbase-client-0.98.4.2.2.0.0-2041-hadoop2.jar;hbase-protocol-0.98.4.2.2.0.0-2041-hadoop2.jar;zookeeper-3.4.6.2.2.0.0-2041.jar;htrace-core-2.04.jar;commons-logging-1.1.1.jar;commons-codec-1.7.jar;guava-12.0.1.jar;jackson-mapper-asl-1.9.13.jar;jackson-core-asl-1.9.13.jar;netty-3.6.6.Final.jar;hadoop-common-2.6.0.2.2.0.0-2041.jar;hadoop-auth-2.6.0.2.2.0.0-2041.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-collections-3.2.1.jar;protobuf-java-2.5.0.jar;log4j-1.2.17.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar">
      </classloader>
      <classloader
            index="HBASE:CLOUDERA:Cloudera_CDH4"
            libraries="commons-lang-2.5.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;guava-11.0.2.jar;hadoop-auth-2.0.0-cdh4.0.1.jar;hadoop-common-2.0.0-cdh4.0.1.jar;hbase-0.92.1-cdh4.0.1-security.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;zookeeper-3.4.3-cdh4.0.1.jar">
      </classloader>
      <classloader
            index="HBASE:CLOUDERA:Cloudera_CDH4_YARN"
            libraries="commons-lang-2.5.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;guava-11.0.2.jar;protobuf-java-2.4.0a.jar;hadoop-auth-2.0.0-cdh4.4.0.jar;hadoop-common-2.0.0-cdh4.4.0.jar;hbase-0.94.6-cdh4.4.0-security.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;zookeeper-3.4.5-cdh4.4.0.jar;">
      </classloader>
      <classloader
            index="HBASE:CLOUDERA:Cloudera_CDH5"
            libraries="hbase-client-0.96.1.1-cdh5.0.4.jar;hbase-common-0.96.1.1-cdh5.0.4.jar;hbase-protocol-0.96.1.1-cdh5.0.4.jar;zookeeper-3.4.5-cdh5.0.4.jar;hadoop-common-2.3.0-cdh5.0.4.jar;hadoop-auth-2.3.0-cdh5.0.4.jar;htrace-core-2.01.jar;commons-lang-2.6.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-codec-1.7.jar;commons-collections-3.2.1.jar;guava-12.0.1.jar;protobuf-java-2.5.0.jar;log4j-1.2.17.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;netty-3.6.6.Final.jar">
      </classloader>
      <classloader
            index="HBASE:CLOUDERA:Cloudera_CDH5_1"
            libraries="hbase-client-0.98.1-cdh5.1.2.jar;hbase-common-0.98.1-cdh5.1.2.jar;hbase-protocol-0.98.1-cdh5.1.2.jar;hbase-server-0.98.1-cdh5.1.2.jar;zookeeper-3.4.5-cdh5.1.2.jar;hadoop-auth-2.3.0-cdh5.1.2.jar;hadoop-common-2.3.0-cdh5.1.2.jar;htrace-core-2.04.jar;commons-lang-2.6.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-codec-1.7.jar;commons-collections-3.2.1.jar;guava-12.0.1.jar;protobuf-java-2.5.0.jar;log4j-1.2.17.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;netty-3.6.6.Final.jar">
      </classloader>
      <classloader
            index="HBASE:CLOUDERA:Cloudera_CDH5_1_MR1"
            libraries="hbase-client-0.98.1-cdh5.1.2.jar;hbase-common-0.98.1-cdh5.1.2.jar;hbase-protocol-0.98.1-cdh5.1.2.jar;hbase-server-0.98.1-cdh5.1.2.jar;zookeeper-3.4.5-cdh5.1.2.jar;hadoop-auth-2.3.0-cdh5.1.2.jar;hadoop-common-2.3.0-cdh5.1.2.jar;htrace-core-2.04.jar;commons-lang-2.6.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-codec-1.7.jar;commons-collections-3.2.1.jar;guava-12.0.1.jar;protobuf-java-2.5.0.jar;log4j-1.2.17.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;netty-3.6.6.Final.jar">
      </classloader>
      <classloader
            index="HBASE:CLOUDERA:Cloudera_CDH5_4"
            libraries="hbase-common-1.0.0-cdh5.4.0.jar;hbase-client-1.0.0-cdh5.4.0.jar;hbase-protocol-1.0.0-cdh5.4.0.jar;zookeeper-3.4.5-cdh5.4.0.jar;htrace-core-3.0.4.jar;commons-logging-1.1.1.jar;commons-codec-1.7.jar;guava-12.0.1.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;netty-3.6.6.Final.jar;hadoop-common-2.6.0-cdh5.4.0.jar;hadoop-auth-2.6.0-cdh5.4.0.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-collections-3.2.1.jar;protobuf-java-2.5.0.jar;log4j-1.2.17.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;hbase-server-1.0.0-cdh5.4.0.jar;htrace-core-3.1.0-incubating.jar">
      </classloader>
      <classloader
            index="HBASE:MAPR:MAPR2"
            libraries="commons-lang-2.5.jar;commons-logging-1.1.1.jar;hadoop-0.20.2-dev-core-mapr212.jar;hbase-0.94.5-mapr.jar;log4j-1.2.16.jar;zookeeper-3.4.5.jar;guava-r09.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;protobuf-java-2.4.0a.jar">
      </classloader>
      <classloader
            index="HBASE:MAPR:MAPR212"
            libraries="commons-lang-2.5.jar;commons-logging-1.1.1.jar;hadoop-0.20.2-dev-core-mapr212.jar;hbase-0.94.5-mapr.jar;log4j-1.2.16.jar;zookeeper-3.4.5.jar;guava-r09.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;protobuf-java-2.4.0a.jar">
      </classloader>
      <classloader
            index="HBASE:MAPR:MAPR213"
            libraries="commons-lang-2.5.jar;commons-logging-1.1.1.jar;hadoop-0.20.2-dev-core-mapr213.jar;hbase-0.94.5-mapr.jar;log4j-1.2.16.jar;zookeeper-3.4.5.jar;guava-11.0.2.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;protobuf-java-2.4.0a.jar">
      </classloader>
      <classloader
            index="HBASE:MAPR:MAPR301"
            libraries="commons-lang-2.6.jar;commons-logging-1.1.1.jar;hadoop-0.20.2-dev-core-mapr301.jar;hbase-0.94.9-mapr-1308.jar;log4j-1.2.16.jar;zookeeper-3.4.5.jar;guava-11.0.2.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;protobuf-java-2.4.0a.jar">
      </classloader>
      <classloader
            index="HBASE:MAPR:MAPR310"
            libraries="maprfs-1.0.3-mapr-3.1.0.jar;maprfs-jni-1.0.3-mapr-3.1.0.jar;hadoop-auth-1.0.3-mapr-3.1.0.jar;commons-lang-2.5.jar;commons-logging-1.1.1.jar;commons-codec-1.4.jar;hadoop-core-1.0.3-mapr-3.1.0.jar;hbase-0.94.13-mapr-1401.jar;log4j-1.2.16.jar;zookeeper-3.4.5-mapr-1401.jar;guava-11.0.2.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;protobuf-java-2.4.0a.jar;">
      </classloader>
      <classloader
            index="HBASE:MAPR:MAPR401"
            libraries="hbase-0.94.21-mapr-1407.jar;hadoop-common-2.4.1-mapr-1408.jar;hadoop-auth-2.4.1-mapr-1408.jar;commons-lang-2.5.jar;maprfs-jni-4.0.1-mapr.jar;maprfs-4.0.1-mapr.jar;commons-logging-1.1.1.jar;commons-codec-1.4.jar;hadoop-core-1.0.3-mapr-3.1.0.jar;mapr-hbase-4.0.1-mapr.jar;log4j-1.2.16.jar;zookeeper-3.4.5-mapr-1406.jar;guava-11.0.2.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;protobuf-java-2.5.0.jar;commons-configuration-1.6.jar;commons-collections-3.2.1.jar">
      </classloader>
      <classloader
            index="HBASE:MAPR:MAPR410"
            libraries="hbase-0.98.9-mapr-1503.jar;mapr-hbase-4.1.0-mapr.jar;maprfs-4.1.0-mapr.jar;hadoop-auth-2.5.1-mapr-1503.jar;hadoop-common-2.5.1-mapr-1503.jar;zookeeper-3.4.5-mapr-1503.jar;commons-logging-1.1.3.jar;commons-collections-3.2.1.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-codec-1.4.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;log4j-1.2.17.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;json-20080701.jar;htrace-core-2.04.jar">
      </classloader>
      <classloader
            index="HBASE:PIVOTAL_HD:PIVOTAL_HD_1_0_1"
            libraries="commons-lang-2.5.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;guava-11.0.2.jar;protobuf-java-2.4.0a.jar;hadoop-auth-2.0.2-alpha-gphd-2.0.1.0.jar;hadoop-common-2.0.2-alpha-gphd-2.0.1.0.jar;hbase-0.94.2-gphd-2.0.1.0.jar;zookeeper-3.4.5-gphd-2.0.1.0.jar;log4j-1.2.16.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar">
      </classloader>
      <classloader
            index="HBASE:PIVOTAL_HD:PIVOTAL_HD_2_0"
            libraries="commons-codec-1.7.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.1.1.jar;guava-12.0.1.jar;hadoop-auth-2.2.0-gphd-3.0.0.0.jar;hadoop-common-2.2.0-gphd-3.0.0.0.jar;hbase-client-0.96.0-hadoop2-gphd-3.0.0.0.jar;hbase-common-0.96.0-hadoop2-gphd-3.0.0.0.jar;hbase-protocol-0.96.0-hadoop2-gphd-3.0.0.0.jar;htrace-core-2.01.jar;jackson-core-asl-1.8.8.jar;jackson-mapper-asl-1.8.8.jar;log4j-1.2.16.jar;slf4j-log4j12-1.6.1.jar;protobuf-java-2.5.0.jar;slf4j-api-1.6.1.jar;zookeeper-3.4.5-gphd-3.0.0.0.jar;netty-3.6.6.Final.jar">
      </classloader>
   </extension>
   <extension
         point="org.talend.core.runtime.hadoopConnectionCreator">
      <creator
            class="org.talend.repository.hbaseprovider.creator.HBaseConnectionCreator">
      </creator>
   </extension>

</plugin>
