<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.repository.metadata_provider">
      <DBMetadataProvider
            class="org.talend.repository.hbaseprovider.provider.HBaseMetadataProvider"
            dbType="HBase"
            supportJDBC="false">
      </DBMetadataProvider>
   </extension>
   <extension
         point="org.talend.core.runtime.repositoryComponent_provider">
      <RepositoryComponent
            input="tHBaseInput"
            name="HBASE"
            output="tHBaseOutput"
            withSchema="true">
         <Item
               clazz="org.talend.core.model.properties.DatabaseConnectionItem">
         </Item>
         <DBType
               type="HBASE">
         </DBType>
      </RepositoryComponent>
   </extension>
      <extension
         point="org.talend.core.runtime.librariesNeeded">
            <libraryNeeded
            context="HBase wizard"
            language="java"
            message="Wizard use for HBase"
            name="commons-lang3-3.0.jar" mvn_uri="mvn:org.talend.libraries/commons-lang3-3.0/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.apache.common/lib/commons-lang3-3.0.jar">
      </libraryNeeded>
            <libraryNeeded
            context="HBase wizard"
            language="java"
            message="Wizard use for HBase"
            name="zookeeper-3.3.3-cdh3u0.jar" mvn_uri="mvn:org.talend.libraries/zookeeper-3.3.3-cdh3u0/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.zookeeper/lib/zookeeper-3.3.3-cdh3u0.jar">
      </libraryNeeded>
            <libraryNeeded
            context="HBase wizard"
            language="java"
            message="Wizard use for HBase"
            name="hbase-0.90.1-cdh3u0.jar" mvn_uri="mvn:org.talend.libraries/hbase-0.90.1-cdh3u0/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop/lib/hbase-0.90.1-cdh3u0.jar">
      </libraryNeeded>
   </extension>
   <extension
         point="org.talend.core.runtime.hadoopConnectionCreator">
      <creator
            class="org.talend.repository.hbaseprovider.creator.HBaseConnectionCreator">
      </creator>
   </extension>

</plugin>
