<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.talend.org/hadoopcluster"
            class="org.talend.repository.model.hadoopcluster.HadoopClusterPackage"
            genModel="model/hadoopcluster.genmodel"/>
   </extension>
   <extension
         point="org.talend.core.repository.repository_handler">
      <RepositoryHandler
            class="org.talend.repository.hadoopcluster.ui.dnd.HadoopClusterDragAndDropHandler">
      </RepositoryHandler>
   </extension>
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="hadoopcluster"
            class="org.talend.repository.model.hadoopcluster.util.HadoopClusterResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            alias="HC"
            folder="metadata/hadoop/hadoopcluster"
            icon="icons/hadoop-logo-16x16.png"
            isResouce="true"
            key="repository.metadata.hadoopCluster"
            label="%hadoopCluster"
            ordinal="50"
            parentNodeType="METADATA"
            products="DI"
            type="HADOOPCLUSTER">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.repository.hadoopcluster.ui.viewer.handler.HadoopClusterRepositoryContentHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.repository.hadoopcluster.tester.HadoopClusterMetadataNodeTester"
            id="org.talend.repository.hadoopcluster.node.tester.hadoopcluster"
            namespace="org.talend.repository.node.metadata"
            properties="isHadoopClusterConnection,isHadoopSubconnection,isHadoopSubconnectionSchema,isHadoopSubconnectionSchemaColumn,isHadoopFolder,isHadoopDbConnection"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.hadoopcluster.action.EditHadoopClusterPropertiesAction"
            id="org.talend.repository.hdfs.action.EditHadoopClusterPropertiesAction"
            isPropertiesAction="true"
            name="Edit Properties">
      </Action>
      <Action
            class="org.talend.repository.hadoopcluster.action.CreateHadoopClusterAction"
            id="org.talend.repository.hadoopcluster.action.CreateHadoopClusterAction"
            isEditAction="true"
            isReadAction="true"
            level="15"
            name="Metadata/Create Hadoop Cluster">
      </Action>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.repository.hadoopcluster.service.HadoopClusterService"
            serviceId="IHadoopClusterService">
      </Service>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.talend.repository.hadoopcluster.ui.MetadataHadoopClusterContentProvider"
            icon="icons/hadoop-logo-16x16.png"
            id="org.talend.repository.viewer.metadata.hadoopcluster"
            labelProvider="org.talend.repository.hadoopcluster.ui.provider.HadoopLabelProvider"
            name="HadoopCluster"
            priority="high">
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        property="org.talend.repository.node.metadata.isHadoopClusterConnection">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isHadoopSubconnection">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isHadoopSubconnectionSchema">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isHadoopSubconnectionSchemaColumn">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isHadoopFolder">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isHadoopDbConnection">
                  </test>
               </or>
            </and>
         </possibleChildren>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isMetadataTopNode">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isHadoopClusterConnection">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isHadoopSubconnection">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isHadoopFolder">
                  </test>
               </or>
            </and>
         </triggerPoints>
         <actionProvider
               class="org.talend.repository.hadoopcluster.ui.provider.HadoopNodeActionProvier"
               id="org.talend.repository.hadoopcluster.action.provider.id">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <or>
                     <test
                           property="org.talend.repository.node.metadata.isHadoopClusterConnection">
                     </test>
                     <test
                           property="org.talend.repository.node.metadata.isHadoopSubconnection">
                     </test>
                     <test
                           property="org.talend.repository.node.metadata.isHadoopSubconnectionSchema">
                     </test>
                     <test
                           property="org.talend.repository.node.metadata.isHadoopSubconnectionSchemaColumn">
                     </test>
                     <test
                           property="org.talend.repository.node.metadata.isHadoopFolder">
                     </test>
                     <test
                           property="org.talend.repository.node.metadata.isHadoopDbConnection">
                     </test></or>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.talend.repository.cnf.view">
         <includes>
            <contentExtension
                  pattern="org.talend.repository.hadoopcluster.action.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
    <extension
         point="org.talend.core.migrationTask">
        <projecttask
              beforeLogon="true"
              breaks="5.3.0"
              class="org.talend.repository.hadoopcluster.model.migration.MoveHDFSAndHCatalogToHadoopFolderMigrationTask"
              description="Move hdfs and hcatalog files to /metadata/hadoop/hdfs and /metadata/hadoop/hcatalog folder when logon a old project which dont support hadoop cluster metadata yet."
              id="org.talend.repository.hadoopcluster.model.migration.MoveHDFSAndHCatalogToHadoopFolderMigrationTask"
              name="MoveHDFSAndHCatalogToHadoopFolderMigrationTask"
              version="5.3.0">
        </projecttask>
    </extension>
    <extension
          point="org.talend.core.repositoryContextualsActions">
       <Action
             class="org.talend.repository.hive.action.CreateHiveAction"
             id="org.talend.repository.hive.action.CreateHiveAction"
             isEditAction="true"
             isReadAction="true"
             level="10"
             name="Metadata/Create Hive">
       </Action>
       <Action
             class="org.talend.repository.hbase.action.CreateHBaseAction"
             id="org.talend.repository.hbase.action.CreateHBaseAction"
             isEditAction="true"
             isReadAction="true"
             level="10"
             name="Metadata/Create HBase">
       </Action>
    </extension>
    <extension
          point="org.talend.repository.items.importexport.handler">
       <importItemsProvider
             id="org.talend.repository.hadoopcluster.importProvider"
             name="Hadoop Cluster importer"
             priority="NORMAL">
          <importItemsHandler
                class="org.talend.repository.hadoopcluster.ui.handler.HadoopClusterImportHandler">
             <parameter
                   name="type"
                   value="HADOOPCLUSTER">
             </parameter>
          </importItemsHandler>
       </importItemsProvider>
    </extension>
    <extension
          point="org.talend.core.runtime.itemRelationship">
       <parameterHandler
             class="org.talend.repository.hadoopcluster.handlers.HadoopClusterPropertyTypeParameterRelationshipHandler"
             id="org.talend.repository.hadoopcluster.parameterHandler.propertyType"
             name="Property Type (Hadoop Cluster)">
       </parameterHandler>
    </extension>
    <extension
          point="org.talend.core.repository.repository_context">
       <RepositoryContext
             class="org.talend.repository.hadoopcluster.ui.context.handler.HadoopClusterContextHandler">
       </RepositoryContext>
    </extension>
    <extension
          point="org.talend.core.runtime.service">
       <Service
             class="org.talend.repository.hadoopcluster.ui.context.handler.HadoopClusterContextUpdateService"
             serviceId="IRepositoryContextUpdateService">
       </Service>
    </extension>
</plugin>
