<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.talend.repository.model.hcatalog.HCatalogPackage"
            uri="http://www.talend.org/hcatalog">
      </package>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated hcatalog -->
      <parser
            type="hcatalog"
            class="org.talend.repository.model.hcatalog.util.HCatalogResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            alias="HCAT"
            folder="metadata/hadoop/hcatalog"
            icon="icons/HCatalog_icon16.png"
            isResouce="true"
            key="HCatalog"
            label="%hcatalog"
            ordinal="51"
            parentNodeType="HADOOPCLUSTER"
            products="DI"
            type="HCATALOG">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.repository.hcatalog.node.HCatalogRepositoryContentHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.hcatalog.action.EditHCatalogPropertiesAction"
            id="org.talend.repository.hcatalog.action.EditHCatalogPropertiesAction"
            isPropertiesAction="true"
            name="Edit Properties">
      </Action>
      <Action
            class="org.talend.repository.hcatalog.action.CreateHCatalogAction"
            id="org.talend.repository.hcatalog.action.CreateHCatalogAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create HCatalog">
      </Action>
      <Action
            class="org.talend.repository.hcatalog.action.CreateHCatalogSchemaAction"
            id="org.talend.repository.hcatalog.action.CreateHCatalogSchemaAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create table">
      </Action>
   </extension>
   <extension
         point="org.talend.core.repository.repository_handler">
      <RepositoryHandler
            class="org.talend.repository.hcatalog.ui.dnd.HCatalogDragAndDropHandler">
      </RepositoryHandler>
   </extension>
   <extension
         point="org.talend.core.repository.repositorySeeker">
      <seeker
            class="org.talend.repository.hcatalog.ui.viewer.seeker.HCatalogRepositorySeeker"
            name="HCatalog">
      </seeker>
   </extension>
   <extension
         point="org.talend.core.migrationTask">
      <projecttask
            beforeLogon="false"
            breaks="5.3.0"
            class="org.talend.repository.hcatalog.model.migration.PushHCatalogIntoHadoopClusterMigrationTask"
            description="Convert old HCatalog items into hadoop cluster."
            id="org.talend.repository.hcatalog.model.migration.PushHCatalogIntoHadoopClusterMigrationTask"
            name="PushHCatalogIntoHadoopClusterMigrationTask"
            version="5.3.0">
      </projecttask>
   </extension>
   <extension
         point="org.talend.repository.items.importexport.handler">
      <importItemsProvider
            id="org.talend.repository.hcatalog.importProvider"
            name="HCatalog importer"
            priority="NORMAL">
         <importItemsHandler
               class="org.talend.repository.hcatalog.ui.handler.HCatalogImportHandler">
            <parameter
                  name="type"
                  value="HCATALOG">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
   </extension>
   <extension
         point="org.talend.core.repository.repository_context">
      <RepositoryContext
            class="org.talend.repository.hcatalog.ui.handler.HCatalogContextHandler">
      </RepositoryContext>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.repository.hcatalog.ui.handler.HCatalogContextUpdateService"
            serviceId="IRepositoryContextUpdateService">
      </Service>
   </extension>

</plugin>
