<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="check_service" name="Check Service" schema="schema/check_service.exsd"/>
   <extension
         point="org.talend.designer.core.generators">
      <generator
            class="org.talend.designer.hdfsbrowse.generators.HadoopFileGenerator"
            mapping="FILE_HADOOP"
            name="File Hadoop">
      </generator>
      <generator
            class="org.talend.designer.hdfsbrowse.generators.HadoopDirectoryGenerator"
            mapping="DIRECTORY_HADOOP"
            name="Directory Hadoop">
      </generator>
      <generator
            class="org.talend.designer.hdfsbrowse.generators.HadoopResourceGenerator"
            mapping="BOTH_HADOOP"
            name="Both Hadoop">
      </generator>
   </extension>
   <extension
         point="org.talend.core.runtime.classloader_provider">
       <!-- Seems it's not useful -->
      <classloader
            index="HDFS:HORTONWORKS:HDP_1_0?USE_KRB"
            libraries="hadoop-core-1.0.0.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;hadoop-conf-kerberos.jar;jetty-util-6.1.26.jar;jersey-core-1.8.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.designer.hdfsbrowse.service.HadoopService"
            serviceId="IHadoopService">
      </Service>
   </extension>
   <extension
         point="org.talend.designer.hdfsbrowse.check_service">
      <checkedService
            checkedServiceProvider="org.talend.designer.hdfsbrowse.hadoop.service.check.provider.CheckedNamenodeProvider"
            consuming="300"
            serviceName="Namenode"
            serviceType="NAMENODE"
            timeout="30">
      </checkedService>
      <checkedService
            checkedServiceProvider="org.talend.designer.hdfsbrowse.hadoop.service.check.provider.CheckedJobtrackerProvider"
            consuming="400"
            serviceName="Jobtracker"
            serviceType="JOBTRACKER"
            timeout="40">
      </checkedService>
      <checkedService
            checkedServiceProvider="org.talend.designer.hdfsbrowse.hadoop.service.check.provider.CheckedResourceManagerProvider"
            consuming="400"
            serviceName="Resource Manager"
            serviceType="RESOURCE_MANAGER"
            timeout="40">
      </checkedService>
   </extension>
   <extension
         point="org.talend.core.runtime.librariesNeeded">
            <libraryNeeded
            context="HDFS wizard"
            language="java"
            message="Wizard use for HDFS"
            name="avro-1.7.6.jar" mvn_uri="mvn:org.talend.libraries/avro-1.7.6/6.0.0" 
            required="true"
            uripath="platform:/plugin/org.talend.libraries.hadoop.mapr.4.1.0/lib/avro-1.7.6.jar">
      </libraryNeeded>     
   </extension>

</plugin>
