<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="check_service" name="Check Service" schema="schema/check_service.exsd"/>
   <extension
         point="org.talend.designer.core.generators">
      <generator
            class="org.talend.designer.hdfsbrowse.generators.HadoopFileGenerator"
            mapping="FILE_HADOOP"
            name="File Hadoop">
      </generator>
      <generator
            class="org.talend.designer.hdfsbrowse.generators.HadoopDirectoryGenerator"
            mapping="DIRECTORY_HADOOP"
            name="Directory Hadoop">
      </generator>
      <generator
            class="org.talend.designer.hdfsbrowse.generators.HadoopResourceGenerator"
            mapping="BOTH_HADOOP"
            name="Both Hadoop">
      </generator>
   </extension>
   <extension
         point="org.talend.core.runtime.classloader_provider">
      <classloader
            index="HDFS:HORTONWORKS:HDP_1_2"
            libraries="hadoop-core-1.1.2.21.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;jetty-util-6.1.26.jar;jersey-core-1.8.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:HORTONWORKS:HDP_1_3"
            libraries="hadoop-core-1.2.0.1.3.0.0-107.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;jetty-util-6.1.26.jar;jersey-core-1.8.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:HORTONWORKS:HDP_2_0"
            libraries="hadoop-hdfs-2.2.0.2.0.6.0-76.jar;hadoop-common-2.2.0.2.0.6.0-76.jar;hadoop-auth-2.2.0.2.0.6.0-76.jar;commons-configuration-1.6.jar;commons-lang-2.5.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;avro-1.5.4.jar;jetty-util-6.1.26.jar;jersey-core-1.8.jar;commons-io-2.4.jar;log4j-1.2.17.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:HORTONWORKS:HDP_2_1"
            libraries="hadoop-auth-2.4.0.2.1.1.0-385.jar;hadoop-common-2.4.0.2.1.1.0-385.jar;hadoop-hdfs-2.4.0.2.1.1.0-385.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-collections-3.2.1.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;log4j-1.2.17.jar;commons-io-2.4.jar">
      </classloader>
      <classloader
            index="HDFS:HORTONWORKS:HDP_2_2"
            libraries="hadoop-common-2.6.0.2.2.0.0-2041.jar;hadoop-hdfs-2.6.0.2.2.0.0-2041.jar;hadoop-auth-2.6.0.2.2.0.0-2041.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-collections-3.2.1.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;log4j-1.2.17.jar;jersey-core-1.9.jar;jetty-util-6.1.26.hwx.jar;commons-io-2.4.jar;htrace-core-3.0.4.jar;avro-1.7.5.jar;jackson-mapper-asl-1.9.13.jar;jackson-core-asl-1.9.13.jar">
      </classloader>
      <classloader
            index="HDFS:APACHE:APACHE_1_0_0"
            libraries="hadoop-core-1.0.0.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;jetty-util-6.1.26.jar;jersey-core-1.8.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="HDFS:APACHE:APACHE_0_20_204"
            libraries="hadoop-core-0.20.204.0.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="HDFS:APACHE:APACHE_0_20_2"
            libraries="hadoop-0.20.2-core.jar;commons-logging-1.0.4.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="HDFS:CLOUDERA:Cloudera_CDH4"
            libraries="hadoop-hdfs-2.0.0-cdh4.0.1.jar;hadoop-common-2.0.0-cdh4.0.1.jar;hadoop-auth-2.0.0-cdh4.0.1.jar;commons-configuration-1.6.jar;commons-lang-2.5.jar;commons-logging-1.1.1.jar;guava-11.0.2.jar;log4j-1.2.16.jar;protobuf-java-2.4.0a.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;jetty-util-6.1.26.jar;jersey-core-1.8.jar;commons-io-2.4.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:CLOUDERA:Cloudera_CDH4_YARN"
            libraries="hadoop-hdfs-2.0.0-cdh4.4.0.jar;hadoop-common-2.0.0-cdh4.4.0.jar;hadoop-auth-2.0.0-cdh4.4.0.jar;commons-configuration-1.6.jar;commons-lang-2.5.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;guava-11.0.2.jar;protobuf-java-2.4.0a.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;commons-io-2.4.jar;log4j-1.2.16.jar">
      </classloader>
      <classloader
            index="HDFS:CLOUDERA:Cloudera_CDH5"
            libraries="hadoop-hdfs-2.3.0-cdh5.0.4.jar;hadoop-common-2.3.0-cdh5.0.4.jar;hadoop-auth-2.3.0-cdh5.0.4.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-collections-3.2.1.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;avro-1.7.5-cdh5.0.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;log4j-1.2.17.jar;commons-io-2.4.jar;jersey-core-1.9.jar">
      </classloader>
      <classloader
            index="HDFS:CLOUDERA:Cloudera_CDH5_1"
            libraries="avro-1.7.5-cdh5.1.2.jar;commons-cli-1.2.jar;commons-codec-1.4.jar;commons-collections-3.2.1.jar;commons-io-2.4.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;guava-11.0.2.jar;hadoop-auth-2.3.0-cdh5.1.2.jar;hadoop-common-2.3.0-cdh5.1.2.jar;hadoop-hdfs-2.3.0-cdh5.1.2.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;protobuf-java-2.5.0.jar;log4j-1.2.17.jar;commons-configuration-1.6.jar;jetty-util-6.1.26.jar;jersey-core-1.9.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:CLOUDERA:Cloudera_CDH5_1_MR1"
            libraries="avro-1.7.5-cdh5.1.2.jar;commons-cli-1.2.jar;commons-codec-1.4.jar;commons-collections-3.2.1.jar;commons-io-2.4.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;guava-11.0.2.jar;hadoop-auth-2.3.0-cdh5.1.2.jar;hadoop-common-2.3.0-cdh5.1.2.jar;hadoop-hdfs-2.3.0-cdh5.1.2.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;protobuf-java-2.5.0.jar;log4j-1.2.17.jar;commons-configuration-1.6.jar;jetty-util-6.1.26.jar;jersey-core-1.9.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:CLOUDERA:Cloudera_CDH5_4"
            libraries="hadoop-common-2.6.0-cdh5.4.0.jar;hadoop-hdfs-2.6.0-cdh5.4.0.jar;hadoop-auth-2.6.0-cdh5.4.0.jar;avro-1.7.6-cdh5.4.0.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-collections-3.2.1.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;log4j-1.2.17.jar;jersey-core-1.9.jar;commons-codec-1.4.jar;commons-io-2.4.jar;jetty-util-6.1.26.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;htrace-core-3.0.4.jar">
      </classloader>
      <classloader
            index="HDFS:MAPR:MAPR1"
            libraries="hadoop-0.20.2-dev-core.jar;commons-logging-1.0.4.jar;maprfs-0.1.jar;zookeeper-3.3.2.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="HDFS:MAPR:MAPR2"
            libraries="hadoop-0.20.2-dev-core-mapr2.jar;commons-logging-1.0.4.jar;maprfs-0.1.jar;zookeeper-3.3.2.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="HDFS:HORTONWORKS:HDP_1_0?USE_KRB"
            libraries="hadoop-core-1.0.0.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;hadoop-conf-kerberos.jar;jetty-util-6.1.26.jar;jersey-core-1.8.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:HORTONWORKS:HDP_1_2?USE_KRB"
            libraries="hadoop-core-1.1.2.21.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;hadoop-conf-kerberos.jar;jetty-util-6.1.26.jar;jersey-core-1.8.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:HORTONWORKS:HDP_1_3?USE_KRB"
            libraries="hadoop-core-1.2.0.1.3.0.0-107.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;jetty-util-6.1.26.jar;jersey-core-1.8.jar;hadoop-conf-kerberos.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:HORTONWORKS:HDP_2_0?USE_KRB"
            libraries="hadoop-hdfs-2.2.0.2.0.6.0-76.jar;hadoop-common-2.2.0.2.0.6.0-76.jar;hadoop-auth-2.2.0.2.0.6.0-76.jar;commons-configuration-1.6.jar;commons-lang-2.5.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;avro-1.5.4.jar;jetty-util-6.1.26.jar;jersey-core-1.8.jar;commons-io-2.4.jar;log4j-1.2.17.jar;hadoop-conf-kerberos.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:HORTONWORKS:HDP_2_1?USE_KRB"
            libraries="hadoop-auth-2.4.0.2.1.1.0-385.jar;hadoop-common-2.4.0.2.1.1.0-385.jar;hadoop-hdfs-2.4.0.2.1.1.0-385.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-collections-3.2.1.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;log4j-1.2.17.jar;hadoop-conf-kerberos.jar;jetty-util-6.1.26.jar;jersey-core-1.8.jar;commons-io-2.4.jar">
      </classloader>
      <classloader
            index="HDFS:HORTONWORKS:HDP_2_2?USE_KRB"
            libraries="hadoop-common-2.6.0.2.2.0.0-2041.jar;hadoop-hdfs-2.6.0.2.2.0.0-2041.jar;hadoop-auth-2.6.0.2.2.0.0-2041.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-collections-3.2.1.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;log4j-1.2.17.jar;jersey-core-1.9.jar;jetty-util-6.1.26.hwx.jar;commons-io-2.4.jar;htrace-core-3.0.4.jar;avro-1.7.5.jar;jackson-mapper-asl-1.9.13.jar;jackson-core-asl-1.9.13.jar;hadoop-conf-kerberos.jar">
      </classloader>
      <classloader
            index="HDFS:APACHE:APACHE_1_0_0?USE_KRB"
            libraries="hadoop-core-1.0.0.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;hadoop-conf-kerberos.jar;jetty-util-6.1.26.jar;jersey-core-1.8.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:CLOUDERA:Cloudera_CDH4?USE_KRB"
            libraries="hadoop-hdfs-2.0.0-cdh4.0.1.jar;hadoop-common-2.0.0-cdh4.0.1.jar;hadoop-auth-2.0.0-cdh4.0.1.jar;commons-configuration-1.6.jar;commons-lang-2.5.jar;commons-logging-1.1.1.jar;guava-11.0.2.jar;log4j-1.2.16.jar;protobuf-java-2.4.0a.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;hadoop-conf-kerberos.jar;jetty-util-6.1.26.jar;jersey-core-1.8.jar;commons-io-2.4.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:CLOUDERA:Cloudera_CDH5?USE_KRB"
            libraries="hadoop-hdfs-2.3.0-cdh5.0.0.jar;hadoop-common-2.3.0-cdh5.0.0.jar;hadoop-auth-2.3.0-cdh5.0.0.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-collections-3.2.1.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;avro-1.7.5-cdh5.0.0.jar;log4j-1.2.17.jar;hadoop-conf-kerberos.jar;jetty-util-6.1.26.jar;jersey-core-1.9.jar;commons-io-2.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:CLOUDERA:Cloudera_CDH5_1?USE_KRB"
            libraries="avro-1.7.5-cdh5.1.2.jar;commons-cli-1.2.jar;commons-codec-1.4.jar;commons-collections-3.2.1.jar;commons-io-2.4.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;guava-11.0.2.jar;hadoop-auth-2.3.0-cdh5.1.2.jar;hadoop-common-2.3.0-cdh5.1.2.jar;hadoop-hdfs-2.3.0-cdh5.1.2.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;protobuf-java-2.5.0.jar;log4j-1.2.17.jar;hadoop-conf-kerberos.jar;jetty-util-6.1.26.jar;jersey-core-1.9.jar;commons-configuration-1.6.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:CLOUDERA:Cloudera_CDH5_1_MR1?USE_KRB"
            libraries="avro-1.7.5-cdh5.1.2.jar;commons-cli-1.2.jar;commons-codec-1.4.jar;commons-collections-3.2.1.jar;commons-io-2.4.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;guava-11.0.2.jar;hadoop-auth-2.3.0-cdh5.1.2.jar;hadoop-common-2.3.0-cdh5.1.2.jar;hadoop-hdfs-2.3.0-cdh5.1.2.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;protobuf-java-2.5.0.jar;log4j-1.2.17.jar;hadoop-conf-kerberos.jar;jetty-util-6.1.26.jar;jersey-core-1.9.jar;commons-configuration-1.6.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:CLOUDERA:Cloudera_CDH5_4?USE_KRB"
            libraries="hadoop-common-2.6.0-cdh5.4.0.jar;hadoop-hdfs-2.6.0-cdh5.4.0.jar;hadoop-auth-2.6.0-cdh5.4.0.jar;avro-1.7.6-cdh5.4.0.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-collections-3.2.1.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;log4j-1.2.17.jar;jersey-core-1.9.jar;commons-codec-1.4.jar;commons-io-2.4.jar;jetty-util-6.1.26.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;hadoop-conf-kerberos.jar;htrace-core-3.0.4.jar">
      </classloader>
      <classloader
            index="HDFS:AMAZON_EMR:APACHE_1_0_3_EMR"
            libraries="hadoop-core-1.0.3.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:AMAZON_EMR:APACHE_1_0_3_EMR?USE_KRB"
            libraries="hadoop-core-1.0.3.jar;commons-logging-1.1.1.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;hadoop-conf-kerberos.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:AMAZON_EMR:APACHE_2_4_0_EMR"
            libraries="hadoop-annotations-2.4.0.jar;hadoop-yarn-api-2.4.0.jar;hadoop-yarn-client-2.4.0.jar;hadoop-yarn-common-2.4.0.jar;hadoop-auth-2.4.0.jar;hadoop-common-2.4.0.jar;hadoop-hdfs-2.4.0.jar;hadoop-mapreduce-client-common-2.4.0.jar;hadoop-mapreduce-client-core-2.4.0.jar;hadoop-mapreduce-client-jobclient-2.4.0.jar;commons-logging-1.1.3.jar;protobuf-java-2.5.0.jar;commons-httpclient-3.1.jar;jets3t-0.9.1-emr-2.4.0.jar;httpclient-4.3.4.jar;httpcore-4.3.2.jar;commons-lang-2.6.jar;gson-2.1.jar;EmrMetrics-1.0.jar;guava-11.0.2.jar;commons-collections-3.2.1.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;log4j-1.2.17.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;avro-1.5.4.jar">
      </classloader>
      <classloader
            index="HDFS:AMAZON_EMR:APACHE_2_4_0_EMR?USE_KRB"
            libraries="hadoop-annotations-2.4.0.jar;hadoop-yarn-api-2.4.0.jar;hadoop-yarn-client-2.4.0.jar;hadoop-yarn-common-2.4.0.jar;hadoop-auth-2.4.0.jar;hadoop-common-2.4.0.jar;hadoop-hdfs-2.4.0.jar;hadoop-mapreduce-client-common-2.4.0.jar;hadoop-mapreduce-client-core-2.4.0.jar;hadoop-mapreduce-client-jobclient-2.4.0.jar;commons-logging-1.1.3.jar;protobuf-java-2.5.0.jar;commons-httpclient-3.1.jar;jets3t-0.9.1-emr-2.4.0.jar;httpclient-4.3.4.jar;httpcore-4.3.2.jar;commons-lang-2.6.jar;gson-2.1.jar;EmrMetrics-1.0.jar;guava-11.0.2.jar;commons-collections-3.2.1.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;log4j-1.2.17.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;hadoop-conf-kerberos.jar;avro-1.5.4.jar">
      </classloader>
      <classloader
            index="HDFS:AMAZON_EMR:EMR_4_0_0"
            libraries="hadoop-common-2.6.0-amzn-0.jar;hadoop-hdfs-2.6.0-amzn-0.jar;hadoop-auth-2.6.0-amzn-0.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-collections-3.2.1.jar;commons-io-2.4.jar;httpcore-4.3.2.jar;httpclient-4.3.4.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;log4j-1.2.17.jar;jersey-core-1.9.jar;jetty-util-6.1.26-emr.jar;emr-metrics-client-2.0.0.jar;htrace-core-3.0.4.jar;avro-1.7.4.jar;jackson-mapper-asl-1.9.13.jar;jackson-core-asl-1.9.13.jar;jackson-jaxrs-1.9.13.jar;jackson-xc-1.9.13.jar">
      </classloader>
      <classloader
            index="HDFS:AMAZON_EMR:EMR_4_0_0?USE_KRB"
            libraries="hadoop-common-2.6.0-amzn-0.jar;hadoop-hdfs-2.6.0-amzn-0.jar;hadoop-auth-2.6.0-amzn-0.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-collections-3.2.1.jar;commons-io-2.4.jar;httpcore-4.3.2.jar;httpclient-4.3.4.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;log4j-1.2.17.jar;jersey-core-1.9.jar;jetty-util-6.1.26-emr.jar;emr-metrics-client-2.0.0.jar;htrace-core-3.0.4.jar;avro-1.7.4.jar;jackson-mapper-asl-1.9.13.jar;jackson-core-asl-1.9.13.jar;jackson-jaxrs-1.9.13.jar;jackson-xc-1.9.13.jar;hadoop-conf-kerberos.jar">
      </classloader>
      <classloader
            index="HDFS:PIVOTAL_HD:PIVOTAL_HD_1_0_1"
            libraries="hadoop-hdfs-2.0.2-alpha-gphd-2.0.1.0.jar;hadoop-common-2.0.2-alpha-gphd-2.0.1.0.jar;hadoop-auth-2.0.2-alpha-gphd-2.0.1.0.jar;commons-configuration-1.6.jar;commons-lang-2.5.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;guava-11.0.2.jar;log4j-1.2.17.jar;protobuf-java-2.4.0a.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;jetty-util-6.1.26.jar;jersey-core-1.8.jar;commons-io-2.4.jar">
      </classloader>
      <classloader
            index="HDFS:PIVOTAL_HD:PIVOTAL_HD_2_0"
            libraries="hadoop-hdfs-2.2.0-gphd-3.0.0.0.jar;hadoop-common-2.2.0-gphd-3.0.0.0.jar;hadoop-auth-2.2.0-gphd-3.0.0.0.jar;commons-configuration-1.6.jar;commons-lang-2.5.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;avro-1.5.4.jar;jetty-util-6.1.26.jar;jersey-core-1.8.jar;commons-io-2.4.jar;log4j-1.2.17.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:PIVOTAL_HD:PIVOTAL_HD_2_0?USE_KRB"
            libraries="hadoop-hdfs-2.2.0-gphd-3.0.0.0.jar;hadoop-common-2.2.0-gphd-3.0.0.0.jar;hadoop-auth-2.2.0-gphd-3.0.0.0.jar;commons-configuration-1.6.jar;commons-lang-2.5.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;avro-1.5.4.jar;jetty-util-6.1.26.jar;jersey-core-1.8.jar;commons-io-2.4.jar;hadoop-conf-kerberos.jar;log4j-1.2.17.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:MAPR:MAPR212"
            libraries="hadoop-0.20.2-dev-core-mapr212.jar;commons-logging-1.0.4.jar;maprfs-0.20.2-2.1.2.jar;maprfs-jni-0.20.2-2.1.2.jar;zookeeper-3.3.6.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="HDFS:MAPR:MAPR213"
            libraries="hadoop-0.20.2-dev-core-mapr213.jar;commons-logging-1.0.4.jar;maprfs-1.0.3-mapr-2.1.3.2.jar;zookeeper-3.3.6.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="HDFS:MAPR:MAPR301"
            libraries="hadoop-0.20.2-dev-core-mapr301.jar;commons-logging-1.0.4.jar;maprfs-1.0.3-mapr-3.0.1.jar;zookeeper-3.3.6.jar;guava-13.0.1.jar;libprotodefs.jar;protobuf-java-2.4.1.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="HDFS:MAPR:MAPR310"
            libraries="hadoop-core-1.0.3-mapr-3.1.0.jar;hadoop-auth-1.0.3-mapr-3.1.0.jar;commons-logging-1.0.4.jar;maprfs-1.0.3-mapr-3.1.0.jar;zookeeper-3.4.5-mapr-1401.jar;guava-13.0.1.jar;libprotodefs.jar;protobuf-java-2.4.1.jar;json-20080701.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="HDFS:MAPR:MAPR401"
            libraries="maprfs-4.0.1-mapr.jar;hadoop-auth-2.4.1-mapr-1408.jar;hadoop-common-2.4.1-mapr-1408.jar;zookeeper-3.4.5-mapr-1406.jar;json-20080701.jar;guava-13.0.1.jar;protobuf-java-2.5.0.jar;log4j-1.2.17.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;commons-logging-1.1.3.jar;commons-collections-3.2.1.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;libprotodefs.jar;log4j-1.2.17.jar;avro-1.5.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar">
      </classloader>
      <classloader
            index="HDFS:MAPR:MAPR410"
            libraries="commons-logging-1.1.3.jar;avro-1.7.6.jar;json-20080701.jar;log4j-1.2.17.jar;jackson-core-asl-1.8.8.jar;protobuf-java-2.5.0.jar;hadoop-auth-2.5.1-mapr-1503.jar;hadoop-common-2.5.1-mapr-1503.jar;maprfs-4.1.0-mapr.jar;maprfs-jni-4.1.0-mapr.jar;guava-13.0.1.jar;libprotodefs-4.1.0-mapr.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;slf4j-log4j12-1.7.5.jar;commons-collections-3.2.1.jar;jackson-mapper-asl-1.8.8.jar;zookeeper-3.4.5-mapr-1406.jar;slf4j-api-1.7.5.jar;hadoop-mapreduce-client-common-2.5.1-mapr-1503.jar;hadoop-mapreduce-client-core-2.5.1-mapr-1503.jar;hadoop-mapreduce-client-jobclient-2.5.1-mapr-1503.jar;hadoop-mapreduce-client-shuffle-2.5.1-mapr-1503.jar;hadoop-yarn-common-2.5.1-mapr-1503.jar;hadoop-yarn-client-2.5.1-mapr-1503.jar;hadoop-yarn-api-2.5.1-mapr-1503.jar;hadoop-yarn-server-web-proxy-2.5.1-mapr-1503.jar">
      </classloader>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.designer.hdfsbrowse.service.HadoopService"
            serviceId="IHadoopService">
      </Service>
   </extension>
   <extension
         point="org.talend.designer.hdfsbrowse.check_service">
      <checkedService
            checkedServiceProvider="org.talend.designer.hdfsbrowse.hadoop.service.check.provider.CheckedNamenodeProvider"
            consuming="300"
            serviceName="Namenode"
            serviceType="NAMENODE"
            timeout="30">
      </checkedService>
      <checkedService
            checkedServiceProvider="org.talend.designer.hdfsbrowse.hadoop.service.check.provider.CheckedJobtrackerProvider"
            consuming="400"
            serviceName="Jobtracker"
            serviceType="JOBTRACKER"
            timeout="40">
      </checkedService>
      <checkedService
            checkedServiceProvider="org.talend.designer.hdfsbrowse.hadoop.service.check.provider.CheckedResourceManagerProvider"
            consuming="400"
            serviceName="Resource Manager"
            serviceType="RESOURCE_MANAGER"
            timeout="40">
      </checkedService>
   </extension>
   <extension
         point="org.talend.core.runtime.classloader_provider">
      <classloader
            index="MAP_REDUCE:HORTONWORKS:HDP_1_2"
            libraries="hadoop-core-1.1.2.21.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.16.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:HORTONWORKS:HDP_1_3"
            libraries="hadoop-core-1.2.0.1.3.0.0-107.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.16.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:HORTONWORKS:HDP_2_0"
            libraries="hadoop-hdfs-2.2.0.2.0.6.0-76.jar;hadoop-common-2.2.0.2.0.6.0-76.jar;hadoop-auth-2.2.0.2.0.6.0-76.jar;hadoop-mapreduce-client-common-2.2.0.2.0.6.0-76.jar;hadoop-mapreduce-client-core-2.2.0.2.0.6.0-76.jar;hadoop-mapreduce-client-jobclient-2.2.0.2.0.6.0-76.jar;hadoop-yarn-api-2.2.0.2.0.6.0-76.jar;hadoop-yarn-client-2.2.0.2.0.6.0-76.jar;hadoop-yarn-common-2.2.0.2.0.6.0-76.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;avro-1.5.4.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-lang-2.5.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:HORTONWORKS:HDP_2_1"
            libraries="hadoop-hdfs-2.4.0.2.1.1.0-385.jar;hadoop-common-2.4.0.2.1.1.0-385.jar;hadoop-auth-2.4.0.2.1.1.0-385.jar;hadoop-mapreduce-client-common-2.4.0.2.1.1.0-385.jar;hadoop-mapreduce-client-core-2.4.0.2.1.1.0-385.jar;hadoop-mapreduce-client-jobclient-2.4.0.2.1.1.0-385.jar;hadoop-yarn-api-2.4.0.2.1.1.0-385.jar;hadoop-yarn-client-2.4.0.2.1.1.0-385.jar;hadoop-yarn-common-2.4.0.2.1.1.0-385.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;avro-1.5.4.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-codec-1.4.jar;commons-collections-3.2.1.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:HORTONWORKS:HDP_2_2"
            libraries="hadoop-common-2.6.0.2.2.0.0-2041.jar;hadoop-hdfs-2.6.0.2.2.0.0-2041.jar;hadoop-auth-2.6.0.2.2.0.0-2041.jar;hadoop-mapreduce-client-common-2.6.0.2.2.0.0-2041.jar;hadoop-mapreduce-client-core-2.6.0.2.2.0.0-2041.jar;hadoop-mapreduce-client-jobclient-2.6.0.2.2.0.0-2041.jar;hadoop-yarn-api-2.6.0.2.2.0.0-2041.jar;hadoop-yarn-client-2.6.0.2.2.0.0-2041.jar;hadoop-yarn-common-2.6.0.2.2.0.0-2041.jar;avro-1.5.4.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-codec-1.4.jar;commons-collections-3.2.1.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;jackson-mapper-asl-1.9.13.jar;jackson-core-asl-1.9.13.jar;log4j-1.2.17.jar;htrace-core-3.0.4.jar;jersey-client-1.9.jar;jersey-core-1.9.jar;jackson-jaxrs-1.9.13.jar;jackson-xc-1.9.13.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:CLOUDERA:Cloudera_CDH4"
            libraries="hadoop-core-2.0.0-mr1-cdh4.1.0.jar;hadoop-auth-2.0.0-cdh4.1.0.jar;hadoop-common-2.0.0-cdh4.1.0.jar;hadoop-hdfs-2.0.0-cdh4.1.0.jar;guava-11.0.2.jar;protobuf-java-2.4.0a.jar;avro-1.7.1.cloudera.2.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-lang-2.5.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:CLOUDERA:Cloudera_CDH4_YARN"
            libraries="hadoop-auth-2.0.0-cdh4.4.0.jar;hadoop-common-2.0.0-cdh4.4.0.jar;hadoop-hdfs-2.0.0-cdh4.4.0.jar;hadoop-mapreduce-client-common-2.0.0-cdh4.4.0.jar;hadoop-mapreduce-client-core-2.0.0-cdh4.4.0.jar;hadoop-mapreduce-client-jobclient-2.0.0-cdh4.4.0.jar;hadoop-yarn-api-2.0.0-cdh4.4.0.jar;hadoop-yarn-client-2.0.0-cdh4.4.0.jar;hadoop-yarn-common-2.0.0-cdh4.4.0.jar;guava-11.0.2.jar;protobuf-java-2.4.0a.jar;avro-1.5.4.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-lang-2.5.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:CLOUDERA:Cloudera_CDH5"
            libraries="hadoop-hdfs-2.3.0-cdh5.0.4.jar;hadoop-common-2.3.0-cdh5.0.4.jar;hadoop-auth-2.3.0-cdh5.0.4.jar;hadoop-mapreduce-client-common-2.3.0-cdh5.0.4.jar;hadoop-mapreduce-client-core-2.3.0-cdh5.0.4.jar;hadoop-mapreduce-client-jobclient-2.3.0-cdh5.0.4.jar;hadoop-yarn-api-2.3.0-cdh5.0.4.jar;hadoop-yarn-client-2.3.0-cdh5.0.4.jar;hadoop-yarn-common-2.3.0-cdh5.0.4.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;avro-1.5.4.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-codec-1.4.jar;commons-collections-3.2.1.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:CLOUDERA:Cloudera_CDH5_1"
            libraries="hadoop-hdfs-2.3.0-cdh5.1.2.jar;hadoop-common-2.3.0-cdh5.1.2.jar;hadoop-auth-2.3.0-cdh5.1.2.jar;hadoop-mapreduce-client-common-2.3.0-cdh5.1.2.jar;hadoop-mapreduce-client-core-2.3.0-cdh5.1.2.jar;hadoop-mapreduce-client-jobclient-2.3.0-cdh5.1.2.jar;hadoop-yarn-api-2.3.0-cdh5.1.2.jar;hadoop-yarn-client-2.3.0-cdh5.1.2.jar;hadoop-yarn-common-2.3.0-cdh5.1.2.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;avro-1.5.4.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-codec-1.4.jar;commons-collections-3.2.1.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:CLOUDERA:Cloudera_CDH5_1_MR1"
            libraries="hadoop-common-2.3.0-cdh5.1.2.jar;hadoop-hdfs-2.3.0-cdh5.1.2.jar;hadoop-auth-2.3.0-cdh5.1.2.jar;hadoop-core-2.3.0-mr1-cdh5.1.2.jar;commons-logging-1.1.3.jar;avro-1.5.4.jar;commons-lang-2.6.jar;commons-codec-1.4.jar;guava-11.0.2.jar;commons-collections-3.2.1.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:CLOUDERA:Cloudera_CDH5_4"
            libraries="hadoop-common-2.6.0-cdh5.4.0.jar;hadoop-hdfs-2.6.0-cdh5.4.0.jar;hadoop-auth-2.6.0-cdh5.4.0.jar;hadoop-mapreduce-client-common-2.6.0-cdh5.4.0.jar;hadoop-mapreduce-client-core-2.6.0-cdh5.4.0.jar;hadoop-mapreduce-client-jobclient-2.6.0-cdh5.4.0.jar;hadoop-yarn-api-2.6.0-cdh5.4.0.jar;hadoop-yarn-client-2.6.0-cdh5.4.0.jar;hadoop-yarn-common-2.6.0-cdh5.4.0.jar;avro-1.5.4.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-codec-1.4.jar;commons-collections-3.2.1.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;log4j-1.2.17.jar;htrace-core-3.0.4.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:MAPR:MAPR1"
            libraries="hadoop-0.20.2-dev-core.jar;maprfs-0.1.jar;zookeeper-3.3.2.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;commons-lang-2.5.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.16.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:MAPR:MAPR2"
            libraries="hadoop-0.20.2-dev-core-mapr2.jar;maprfs-0.1.jar;zookeeper-3.3.2.jar;guava-r09.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;commons-lang-2.5.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.16.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:MAPR:MAPR212"
            libraries="hadoop-0.20.2-dev-core-mapr212.jar;maprfs-0.20.2-2.1.2.jar;maprfs-jni-0.20.2-2.1.2.jar;zookeeper-3.3.6.jar;guava-13.0.1.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;commons-lang-2.5.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.16.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:MAPR:MAPR213"
            libraries="hadoop-0.20.2-dev-core-mapr213.jar;maprfs-1.0.3-mapr-2.1.3.2.jar;zookeeper-3.3.6.jar;guava-13.0.1.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;commons-codec-1.5.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.16.jar;commons-lang-2.5.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:MAPR:MAPR301"
            libraries="hadoop-0.20.2-dev-core-mapr301.jar;maprfs-1.0.3-mapr-3.0.1.jar;zookeeper-3.3.6.jar;guava-13.0.1.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;commons-codec-1.5.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.16.jar;commons-lang-2.5.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:MAPR:MAPR310"
            libraries="hadoop-core-1.0.3-mapr-3.1.0.jar;maprfs-1.0.3-mapr-3.1.0.jar;zookeeper-3.4.5-mapr-1401.jar;guava-13.0.1.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;commons-codec-1.5.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.16.jar;protobuf-java-2.4.1.jar;hadoop-auth-1.0.3-mapr-3.1.0.jar;json-20080701.jar;amazon-s3.jar;commons-lang-2.5.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:MAPR:MAPR401"
            libraries="hadoop-common-2.4.1-mapr-1408.jar;maprfs-4.0.1-mapr.jar;hadoop-auth-2.4.1-mapr-1408.jar;hadoop-hdfs-2.4.1-mapr-1408.jar;hadoop-mapreduce-client-common-2.4.1-mapr-1408.jar;hadoop-mapreduce-client-core-2.4.1-mapr-1408.jar;hadoop-mapreduce-client-jobclient-2.4.1-mapr-1408.jar;hadoop-yarn-api-2.4.1-mapr-1408.jar;hadoop-yarn-client-2.4.1-mapr-1408.jar;hadoop-yarn-common-2.4.1-mapr-1408.jar;json-20080701.jar;zookeeper-3.4.5-mapr-1406.jar;avro-1.5.4.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-codec-1.4.jar;commons-collections-3.2.1.jar;guava-13.0.1.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;log4j-1.2.17.jar"
            parent="HDFS:MAPR:MAPR401">
      </classloader>
      <classloader
            index="MAP_REDUCE:MAPR:MAPR410"
            libraries="commons-codec-1.4.jar;protobuf-java-2.5.0.jar;hadoop-mapreduce-client-jobclient-2.5.1-mapr-1503.jar;zookeeper-3.4.5-mapr-1406.jar;jackson-core-asl-1.8.8.jar;hadoop-yarn-api-2.5.1-mapr-1503.jar;commons-lang-2.6.jar;hadoop-yarn-common-2.5.1-mapr-1503.jar;hadoop-hdfs-2.5.1-mapr-1503.jar;commons-logging-1.1.3.jar;parquet-hadoop-bundle-1.3.2.jar;snappy-java-1.0.5.jar;javax.ws.rs-api-2.0-m10.jar;talend-mapred-lib.jar;log4j-1.2.17.jar;jackson-mapper-asl-1.8.8.jar;hadoop-mapreduce-client-common-2.5.1-mapr-1503.jar;hadoop-yarn-client-2.5.1-mapr-1503.jar;maprfs-jni-4.1.0-mapr.jar;hadoop-mapreduce-client-core-2.5.1-mapr-1503.jar;json-20080701.jar;maprfs-4.1.0-mapr.jar;commons-configuration-1.6.jar;avro-1.7.6.jar;slf4j-api-1.7.5.jar;hadoop-auth-2.5.1-mapr-1503.jar;commons-cli-1.2.jar;hadoop-common-2.5.1-mapr-1503.jar;org.apache.commons.httpclient_3.1.0.v201005080502.jar;commons-io-2.1.jar;commons-collections-3.2.1.jar;slf4j-log4j12-1.7.5.jar;guava-13.0.1.jar"
            parent="HDFS:MAPR:MAPR410">
      </classloader>
      <classloader
            index="MAP_REDUCE:PIVOTAL_HD:PIVOTAL_HD_1_0_1"
            libraries="hadoop-auth-2.0.2-alpha-gphd-2.0.1.0.jar;hadoop-common-2.0.2-alpha-gphd-2.0.1.0.jar;hadoop-hdfs-2.0.2-alpha-gphd-2.0.1.0.jar;hadoop-mapreduce-client-common-2.0.2-alpha-gphd-2.0.1.0.jar;hadoop-mapreduce-client-core-2.0.2-alpha-gphd-2.0.1.0.jar;hadoop-mapreduce-client-jobclient-2.0.2-alpha-gphd-2.0.1.0.jar;hadoop-yarn-api-2.0.2-alpha-gphd-2.0.1.0.jar;hadoop-yarn-client-2.0.2-alpha-gphd-2.0.1.0.jar;hadoop-yarn-common-2.0.2-alpha-gphd-2.0.1.0.jar;guava-11.0.2.jar;protobuf-java-2.4.0a.jar;avro-1.5.4.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-lang-2.5.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:PIVOTAL_HD:PIVOTAL_HD_2_0"
            libraries="hadoop-hdfs-2.2.0-gphd-3.0.0.0.jar;hadoop-common-2.2.0-gphd-3.0.0.0.jar;hadoop-auth-2.2.0-gphd-3.0.0.0.jar;hadoop-mapreduce-client-common-2.2.0-gphd-3.0.0.0.jar;hadoop-mapreduce-client-core-2.2.0-gphd-3.0.0.0.jar;hadoop-mapreduce-client-jobclient-2.2.0-gphd-3.0.0.0.jar;hadoop-yarn-api-2.2.0-gphd-3.0.0.0.jar;hadoop-yarn-client-2.2.0-gphd-3.0.0.0.jar;hadoop-yarn-common-2.2.0-gphd-3.0.0.0.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;avro-1.5.4.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-lang-2.5.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:APACHE:APACHE_1_0_0"
            libraries="hadoop-core-1.0.0.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.16.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:AMAZON_EMR:APACHE_1_0_3_EMR"
            libraries="hadoop-core-1.0.3.jar;commons-logging-1.1.1.jar;commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-lang-2.4.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.16.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:AMAZON_EMR:APACHE_2_4_0_EMR"
            libraries="commons-cli-1.2.jar;commons-configuration-1.6.jar;commons-codec-1.4.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;guava-11.0.2.jar;commons-collections-3.2.1.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;hadoop-annotations-2.4.0.jar;hadoop-yarn-api-2.4.0.jar;hadoop-yarn-client-2.4.0.jar;hadoop-yarn-common-2.4.0.jar;hadoop-auth-2.4.0.jar;hadoop-common-2.4.0.jar;hadoop-hdfs-2.4.0.jar;hadoop-mapreduce-client-common-2.4.0.jar;hadoop-mapreduce-client-core-2.4.0.jar;hadoop-mapreduce-client-jobclient-2.4.0.jar;commons-logging-1.1.3.jar;protobuf-java-2.5.0.jar;commons-httpclient-3.1.jar;jets3t-0.9.1-emr-2.4.0.jar;httpclient-4.3.4.jar;httpcore-4.3.2.jar;commons-lang-2.6.jar;gson-2.1.jar;EmrMetrics-1.0.jar;log4j-1.2.17.jar">
      </classloader>
      <classloader
            index="MAP_REDUCE:AMAZON_EMR:EMR_4_0_0"
            libraries="hadoop-common-2.6.0-amzn-0.jar;hadoop-hdfs-2.6.0-amzn-0.jar;hadoop-auth-2.6.0-amzn-0.jar;hadoop-mapreduce-client-common-2.6.0-amzn-0.jar;hadoop-mapreduce-client-core-2.6.0-amzn-0.jar;hadoop-mapreduce-client-jobclient-2.6.0-amzn-0.jar;hadoop-yarn-api-2.6.0-amzn-0.jar;hadoop-yarn-client-2.6.0-amzn-0.jar;hadoop-yarn-common-2.6.0-amzn-0.jar;avro-1.7.4.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.1.3.jar;commons-cli-1.2.jar;commons-codec-1.4.jar;commons-collections-3.2.1.jar;httpcore-4.3.2.jar;httpclient-4.3.4.jar;guava-11.0.2.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;jackson-mapper-asl-1.9.13.jar;jackson-core-asl-1.9.13.jar;jackson-jaxrs-1.9.13.jar;jackson-xc-1.9.13.jar;jersey-client-1.9.jar;jersey-core-1.9.jar;log4j-1.2.17.jar;jetty-util-6.1.26-emr.jar;emr-metrics-client-2.0.0.jar;htrace-core-3.0.4.jar">
      </classloader>
   </extension>

</plugin>
