<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.talend.designer.components.ecosystem.ui.views.PreferenceInitializer"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.talend.core.root"
            class="org.talend.designer.components.ecosystem.ui.views.EcosystemView"
            icon="icons/ecosystem_view.gif"
            id="org.talend.designer.components.ecosystem.ui.views.EcosystemView"            
            name="Ecosystem">
      </view>
   </extension>
     <extension
         point="org.eclipse.ui.viewActions">
<!-- Contributions to Ecosystem View Toolbar -->
      <viewContribution
            targetID="org.talend.designer.components.ecosystem.ui.views.EcosystemView"
            id="org.talend.designer.components.ecosystem.view.action">
         <action
               class="org.talend.designer.components.ecosystem.ui.actions.RefreshComponenentsAction"
               icon="icons/refresh.gif"
               id="org.talend.designer.components.ecosystem.ui.actions.RefreshComponenentsAction"
               label="%RefreshComponenentsAction.Label"
               state="false"
               style="push"
               toolbarPath="group1"
               tooltip="%RefreshComponenentsAction.Label">
         </action>
         <action
               class="org.talend.designer.components.ecosystem.ui.actions.DownloadComponenentsAction"
               icon="icons/download.gif"
               id="nts.ecosystem.ui.actions.DownloadComponenentsAction"
               label="%DownloadComponenentsAction.Label"
               style="push"
               toolbarPath="group1"
               tooltip="%DownloadComponenentsAction.Label">
         </action>
      </viewContribution>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.talend.core.prefs"
            class="org.talend.designer.components.ecosystem.ui.views.EcosystemPreferencePage"
            id="org.talend.designer.components.ecosystem.ui.views.ecosystem.page"
            name="%Ecosystem"/>
   </extension>
   -->
   <extension
         point="org.talend.core.components_provider">
      <ComponentsProvider
            class="org.talend.designer.components.ecosystem.EcosystemComponentsProvider"
            folderName="ecosystem"
            id="org.talend.designer.components.ecosystem.EcosystemComponentsProvider">
      </ComponentsProvider>
   </extension>

</plugin>
