/* classes générales */
BODY 	{
margin-left:0;
margin-right:0;
margin-top:0; 
margin-bottom:0; 
background-image:url(imgs/fond.jpg); 
background-repeat:repeat-x; 
background-color:#DADADB; 
}

a:visited
	{
		text-decoration: none;
		/* color: #808080; */
	}
	a:hover
	{
		text-decoration: none;
		/* color: #808080; */
	}
	a.souligne:link {
		text-decoration: underline;
		font-weight: bold;
	}
	a.souligne:visited {
		text-decoration: underline;
		font-weight: bold;
	}

HR			{ color: #CCC; background-color:#CCC; height: 1px; border: 0; }
/* classes mise en forme */
.recherche	{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; border: 1px solid #BBB; }
.tableUnder	{ float:left; }
.cadreVert	{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; font-style:italic; text-align:left; }
.lienso {text-decoration: underline; }
/* classes textes */
.texteHeader	{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#5E5E61; }
.footer			{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#5E5E61; text-align:center; height:29px; padding:10px 0 0 0; }
.cadreGras		{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#96DC19; font-weight:bold; }
.titreContenu	{ font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#5E5E61; font-weight:bold; text-align:left; }
.contenu		{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#5E5E61; text-align:left; }
.contenuGras	{ font-family:Arial, Helvetica, sans-serif; font-size:25px; color:#96DC19; font-weight:bold; }
.arianne		{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#5E5E61; text-align:left; }
.typoSmall		{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#5E5E61; text-align:left; }
.titreJob		{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; font-weight:bold; text-align:left; text-decoration: none; }
/* classes images */

/* classes liens */
.lienHeader			{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#5E5E61; text-decoration:none; }
.lienHeader:hover	{ text-decoration:underline; }
.lienArianne		{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#5E5E61; text-decoration:underline; }
.lienArianne:hover	{ text-decoration:underline; color: #808080;}
.lienContenu		{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#558300; text-decoration:underline; font-weight:bold; }
.lienContenu:hover	{ font-weight:bold; color:#96DC19; }
/* Cadres arrondies */
#cadre1 {
	width:242px;
	padding-top:18px;
	margin-right:8px;
	background:url(imgs/topCadre1.gif) left top no-repeat;
	float:left;
}
#cadre1 div.contenu {
	background:url(imgs/fondCadre.gif) left top no-repeat;
	height:85px; /* A faire varier pour changer la hauteur du cadre */
}
#cadre1 p {
	margin:0 10px 0 30px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

#cadre1Fin {
	background:url(imgs/footerCadre.gif) no-repeat;
	width:242px;
}
/* Fin Cadres arrondies */
