<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.runtime.demoProjects_provider">
      <demoProvider
            descHtml="resources/bd_demos.html"
            description="Big Data(BD) Demo"
            icon="resources/product-icon-bpm-16px.gif"
            id="org.talend.demo.project.bd.ce"
            name="Big Data Demo"
            order="10"
            projectUrl="resources/BIGDATADEMO_CE.zip">
      </demoProvider>
   </extension>

</plugin>
