<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- For layout pattern, see doc at http://jakarta.apache.org/log4j/docs/api/org/apache/log4j/PatternLayout.html -->

	<!-- The TOS appender -->
	<appender name="TOSAppender" class="org.talend.platform.logging.TalendPlatformLogAppender">
		<param name="Threshold" value="info" />
		<param name="SymbolicName" value="org.talend.libraries"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<!-- The console appender (will output in catalina.out when used in Tomcat) -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="error" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %m%n" />
		</layout>
	</appender>

	<logger name="org.hibernate" additivity="true"> <level value="warn" /> </logger>
	<logger name="com.mchange" additivity="true"> <level value="warn" /> </logger>
	<logger name="net.sf.ehcache" additivity="true"> <level value="warn" /> </logger>
	<logger name="org.eclipse.emf.teneo" additivity="true"> <level value="error" /> </logger>
	
	<root>
		<priority value="info" />
		<!-- Put here your appenders -->
		
		<!-- uncomment the following appender in order to have a console log -->
		<appender-ref ref="STDOUT" />
		<appender-ref ref="TOSAppender" />
	</root>

</log4j:configuration>
