<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.rules.actions.CreateNewRuleAction"
            id="org.talend.repository.rules.createRuleAction"
            isPropertiesAction="true"
            level="10"
            name="createRuleAction">
      </Action>
      <Action
            class="org.talend.repository.rules.actions.EditRuleAction"
            id="org.talend.repository.rules.editRuleAction"
            isEditAction="false"
            isPropertiesAction="false"
            isReadAction="false"
            level="10"
            name="editRuleAction">
      </Action>
      <Action
            class="org.talend.repository.rules.actions.EditRulePropertiesAction"
            id="org.talend.repository.rules.EditPropertiesAction"
            isEditAction="false"
            isPropertiesAction="true"
            isReadAction="false"
            level="12"
            name="EditPropertiesAction">
      </Action>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.talend.repository.rules.editor.RuleEditor"
            default="false"
            id="org.talend.repository.rules.reuseDRLEditor"
            name="reuseDRLEditor">
      </editor>
   </extension>
   <extension
         point="org.talend.core.service">
      <Service
            class="org.talend.repository.rules.RulesProviderService"
            serviceId="IRulesProviderService">
      </Service>
   </extension>

</plugin>
