<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="nosql_factory" name="Nosql Factory" schema="schema/nosql_factory.exsd"/>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.metadata.hadoopcluster"
            contentProvider="org.talend.repository.nosql.ui.content.MetadataNoSQLConnectionsContentProvider"
            icon="icons/nosqlConnectionsNode.gif"
            id="org.talend.repository.viewer.metadata.noSQLConnections"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="NoSQL connections"
            priority="high">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isMetadataTopNode">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isNoSQLConnection">
                  </test>
               </or>
            </and>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        property="org.talend.repository.node.metadata.isNoSQLConnection">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isSchemaColumn">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isSchema">
                  </test>
               </or>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.nosql.ui.provider.NoSQLNodeActionProvider"
               id="org.talend.repository.metadata.nosql.action.provider.id">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.metadata.isNoSQLConnection">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.repository.nosql.ui.tester.NoSQLMetadataNodeTester"
            id="org.talend.repository.node.tester.metadata.nosql"
            namespace="org.talend.repository.node.metadata"
            properties="isNoSQLConnection"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            alias="%repository.metadataNoSQLConnections.alias"
            folder="metadata/noSQLConnections"
            icon="icons/nosqlConnectionsNode.gif"
            isResouce="true"
            key="repository.metadataNoSQLConnections"
            label="%repository.metadataNoSQLConnection"
            ordinal="32"
            parentNodeType="METADATA"
            products="DI"
            type="METADATA_NOSQL_CONNECTIONS">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.repository.nosql.ui.view.handler.NoSQLRepositoryContentHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.talend.repository.items.importexport.handler">
      <importItemsProvider
            id="org.talend.repository.metadata.importProvider.nosql"
            name="NoSQL Import"
            priority="LOW">
         <importItemsHandler
               class="org.talend.repository.nosql.ui.view.handler.NoSQLImportHandler">
            <parameter
                  name="type"
                  value="METADATA_NOSQL_CONNECTIONS">
            </parameter>
         </importItemsHandler>
      </importItemsProvider>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.nosql.action.EditNoSQLPropertiesAction"
            id="org.talend.repository.nosql.action.EditNoSQLPropertiesAction"
            isPropertiesAction="true"
            name="Edit Properties">
      </Action>
      <Action
            class="org.talend.repository.nosql.action.CreateNoSQLConnectionAction"
            id="org.talend.repository.nosql.action.CreateNoSQLAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create connection">
      </Action>
      <Action
            class="org.talend.repository.nosql.action.CreateNoSQLSchemaAction"
            id="org.talend.repository.nosql.action.CreateNoSQLSchemaAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create table">
      </Action>
   </extension>
   <extension
         point="org.talend.repository.nosql.nosql_factory">
      <factory
            dbDNDProvider="org.talend.repository.nosql.db.provider.mongodb.MongoDBDNDProvider"
            dbMetadataProvider="org.talend.repository.nosql.db.provider.mongodb.MongoDBMetadataProvider"
            dbType="MONGODB"
            dbVersions="MONGODB_2_6_X;MONGODB_2_5_X;MONGODB_2_4_X;MONGODB_2_2_3;MONGODB_2_1_2"
            dbWizPageProvider="org.talend.repository.nosql.db.provider.mongodb.MongoDBWizardPageProvider"
            description="MongoDB">
      </factory>
      <factory
            dbDNDProvider="org.talend.repository.nosql.db.provider.cassandra.CassandraDNDProvider"
            dbMetadataProvider="org.talend.repository.nosql.db.provider.cassandra.CassandraMetadataProvider"
            dbType="CASSANDRA"
            dbVersions="CASSANDRA_2_0_0;CASSANDRA_1_2_2;CASSANDRA_1_1_2"
            dbWizPageProvider="org.talend.repository.nosql.db.provider.cassandra.CassandraWizardPageProvider"
            description="Cassandra">
      </factory>
      <factory
            dbDNDProvider="org.talend.repository.nosql.db.provider.neo4j.Neo4jDNDProvider"
            dbMetadataProvider="org.talend.repository.nosql.db.provider.neo4j.Neo4jMetadataProvider"
            dbType="NEO4J"
            dbVersions="NEO4J_2_1_X;NEO4J_1_X_X"
            dbWizPageProvider="org.talend.repository.nosql.db.provider.neo4j.Neo4jWizardPageProvider"
            description="Neo4j">
      </factory>
   </extension>
   <extension
         point="org.talend.core.runtime.classloader_provider">
      <classloader
            index="NOSQL:MONGODB:MONGODB_2_1_2"
            libraries="mongo-2.8.0.jar">
      </classloader>
      <classloader
            index="NOSQL:MONGODB:MONGODB_2_2_3"
            libraries="mongo-2.8.0.jar">
      </classloader>
      <classloader
            index="NOSQL:MONGODB:MONGODB_2_4_X"
            libraries="mongo-java-driver-2.11.2.jar">
      </classloader>
      <classloader
            index="NOSQL:MONGODB:MONGODB_2_5_X"
            libraries="mongo-java-driver-2.11.2.jar">
      </classloader>
      <classloader
            index="NOSQL:MONGODB:MONGODB_2_6_X"
            libraries="mongo-java-driver-2.12.2.jar">
      </classloader>
      <classloader
            index="NOSQL:CASSANDRA:CASSANDRA_1_1_2"
            libraries="hector-core-1.1-4.jar;apache-cassandra-1.1.2.jar;apache-cassandra-thrift-1.1.2.jar;slf4j-api-1.6.1.jar;slf4j-log4j12-1.6.1.jar;log4j-1.2.16.jar;libthrift-0.7.0.jar;guava-12.0.1.jar;commons-lang-2.6.jar;uuid-3.4.jar;">
      </classloader>
      <classloader
            index="NOSQL:CASSANDRA:CASSANDRA_1_2_2"
            libraries="cassandra-driver-core-2.0.3.jar;guava-13.0.1.jar;log4j-1.2.16.jar;metrics-core-3.0.2.jar;netty-3.6.6.Final.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;">
      </classloader>
      <classloader
            index="NOSQL:CASSANDRA:CASSANDRA_2_0_0"
            libraries="cassandra-driver-core-2.0.3.jar;guava-13.0.1.jar;log4j-1.2.16.jar;metrics-core-3.0.2.jar;netty-3.6.6.Final.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;">
      </classloader>
      <classloader
            index="NOSQL:NEO4J:NEO4J_2_1_X"
            libraries="neo4j-kernel-2.1.2.jar;neo4j-primitive-collections-2.1.2.jar;neo4j-rest-graphdb-2.0.1.jar;neo4j-cypher-2.1.2.jar;lucene-core-3.6.2.jar;neo4j-cypher-commons-2.1.2.jar;neo4j-cypher-compiler-1.9-2.0.3.jar;neo4j-cypher-compiler-2.0-2.0.3.jar;neo4j-cypher-compiler-2.1-2.1.2.jar;neo4j-graph-algo-2.1.2.jar;neo4j-graph-matching-2.1.2.jar;neo4j-lucene-index-2.1.2.jar;concurrentlinkedhashmap-lru-1.3.1.jar;scala-library-2.10.4.jar;geronimo-jta_1.1_spec-1.1.1.jar;jsr311-api-1.1.2.r612.jar;jersey-client-1.4.jar;jersey-core-1.4.jar;jackson-mapper-asl-1.9.7.jar;jackson-jaxrs-1.9.7.jar;jackson-core-asl-1.9.7.jar;parboiled-core-1.1.6.jar;parboiled-scala_2.10-1.1.6.jar">
      </classloader>
      <classloader
            index="NOSQL:NEO4J:NEO4J_1_X_X"
            libraries="geronimo-jta_1.1_spec-1.1.1.jar;lucene-core-3.5.0.jar;neo4j-cypher-1.9.M01.jar;neo4j-graph-algo-1.9.M01.jar;neo4j-graph-matching-1.9.M01.jar;neo4j-jmx-1.9.M01.jar;neo4j-kernel-1.9.M01.jar;neo4j-lucene-index-1.9.M01.jar;neo4j-shell-1.9.M01.jar;neo4j-udc-1.9.M01.jar;org.apache.servicemix.bundles.jline-0.9.94_1.jar;scala-library-2.9.1-1.jar;server-api-1.9.M01.jar;concurrentlinkedhashmap-lru-1.3.1.jar;neo4j-rest-graphdb-1.8.1.jar;jsr311-api-1.1.2.r612.jar;jersey-core-1.4.jar;jersey-client-1.4.jar;jackson-mapper-asl-1.9.7.jar;jackson-jaxrs-1.9.7.jar;jackson-core-asl-1.9.7.jar">
      </classloader>
   </extension>
   <extension
         point="org.talend.core.repository.repository_handler">
      <RepositoryHandler
            class="org.talend.repository.nosql.ui.dnd.NoSQLDragAndDropHandler">
      </RepositoryHandler>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated nosql -->
      <package
            uri="http://www.talend.org/nosql"
            class="org.talend.repository.model.nosql.NosqlPackage"
            genModel="model/nosql.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated nosql -->
      <parser
            type="nosql"
            class="org.talend.repository.model.nosql.util.NosqlResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.talend.core.migrationTask">
      <projecttask
            beforeLogon="false"
            breaks="5.6.0"
            class="org.talend.repository.nosql.repository.migration.UnifyPasswordEncryption4NoSQLConnectionMigrationTask"
            description="Unify the entryption for NoSQL password field"
            id="org.talend.repository.nosql.repository.migration.UnifyPasswordEncryption4NoSQLConnectionMigrationTask"
            name="UnifyPasswordEncryption4NoSQLConnectionMigrationTask"
            version="5.6.0">
      </projecttask>
   </extension>
   <extension
         point="org.talend.core.repository.repository_context">
      <RepositoryContext
            class="org.talend.repository.nosql.ui.context.handler.NoSQLRepositoryContextHandler">
      </RepositoryContext>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.repository.nosql.ui.context.handler.NoSqlContextUpdateService"
            serviceId="IRepositoryContextUpdateService">
      </Service>
      <Service
            class="org.talend.repository.nosql.service.NOSQLService"
            serviceId="INOSQLService">
      </Service>
   </extension>
</plugin>
