<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Talend Update Site">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://localhost:8080/"/>
			<unit id="com.oaklandsw.transform.feature.doc7.feature.group" version="0.0.0"/>
			<unit id="com.oaklandsw.transform.feature.examples.edi.feature.group" version="0.0.0"/>
			<unit id="com.oaklandsw.transform.feature.examples.feature.group" version="0.0.0"/>
			<unit id="com.oaklandsw.transform.feature.gui.feature.group" version="0.0.0"/>
			<unit id="com.oaklandsw.transform.feature.gui.java.feature.group" version="0.0.0"/>
			<unit id="com.oaklandsw.transform.feature.product7ide.feature.group" version="0.0.0"/>
			<unit id="com.oaklandsw.transform.feature.product7talend.feature.group" version="0.0.0"/>
			<unit id="com.oaklandsw.transform.feature.rt.feature.group" version="0.0.0"/>
			<unit id="org.codehaus.groovy.compilerless.feature.feature.group" version="0.0.0"/>
			<unit id="org.codehaus.groovy.headless.feature.feature.group" version="0.0.0"/>
			<unit id="org.codehaus.groovy.jdt.patch.feature.group" version="0.0.0"/>
			<unit id="org.codehaus.groovy24.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_eclipse_es.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_eclipse_fr.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_eclipse_it.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_eclipse_ja.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_eclipse_pt_BR.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_eclipse_ru.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_eclipse_zh.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.egit_de.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.egit_es.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.egit_fr.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.egit_it.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.egit_ja.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.egit_pt_BR.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.egit_ru.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.egit_zh.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.jgit_de.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.jgit_es.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.jgit_fr.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.jgit_it.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.jgit_ja.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.jgit_pt_BR.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.jgit_ru.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.jgit_zh.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_webtools_de.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_webtools_es.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_webtools_fr.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_webtools_it.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_webtools_ja.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_webtools_pt_BR.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_webtools_ru.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_webtools_zh.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.e4.rcp.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.codegen.ecore.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.codegen.ecore.ui.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.codegen.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.codegen.ui.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.common.ui.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.compare.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.converter.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.databinding.edit.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.databinding.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.ecore.edit.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.ecore.editor.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.edapt.runtime.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.edit.ui.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.mapping.ecore.editor.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.mapping.ecore.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.mapping.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.mapping.ui.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.transaction.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.validation.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.workspace.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gef.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gmf.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gmf.runtime.notation.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gmf.runtime.thirdparty.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.help.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.jgit.ssh.apache.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.m2m.atl.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.common.fproj.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.common_core.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.common_ui.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.jsdt.chromium.debug.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.jsdt.nodejs.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.json_core.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.json_ui.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.server_core.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.server_ui.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.server_userdoc.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.web_core.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.web_userdoc.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.ws_core.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.ws_ui.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.ws_userdoc.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.xml_core.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.xml_userdoc.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.xsd.edit.feature.group" version="0.0.0"/>
			<unit id="org.talend.amc.commons.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.amc.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.amc.plugin.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.babel.all.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.babel.all.tos.feature.feature.group" version="0.0.0"/>
			<!--unit id="org.talend.bigdata.streaming.feature.feature.group" version="0.0.0"/-->
			<unit id="org.talend.bos.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.camel.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.camel.designer.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.camel.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.cluster.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.commandline.audit.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.commandline.light.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.commandline.remoteexecution.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.commons.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.datacleansing.bd.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.datacleansing.bd.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.datacleansing.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.datacleansing.streaming.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.designer.business.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.designer.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.designer.runprocess.remote.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.esb.bpm.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.esb.platform.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.esb.tooling.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.esb.tooling.rs.provider.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.esb.tooling.ws.consumer.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.esb.tooling.ws.provider.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.esbenterprise.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.generic.cloud.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.generic.di.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.generic.dq.feature.feature.group" version="0.0.0"/>
			<!--unit id="org.talend.hadoop.distribution.feature.feature.group" version="0.0.0"/-->
			<unit id="org.talend.help.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.ipaas.tooling.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.jdt.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.libraries.jdbc.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.m2e.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.mdm.bos.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.metadata.bridge.ui.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.metalanguage.jobscript.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.model.migration.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.platform.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.rcp.branding.all.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.rcp.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.repository.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.repository.gitprovider.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.repository.remoteprovider.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.repository.services.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.repository.svnprovider.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.sbi.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.semantic.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.spagic.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.studio.platform.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.studio.tup.all.p2.product" version="0.0.0"/>
			<unit id="org.talend.survivorship.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tdq.components.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tdq.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tdq.libraries.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tem.feature.feature.group" version="0.0.0"/>
			<!--unit id="org.talend.tis.bigdata.libraries.feature.feature.group" version="0.0.0"/-->
			<unit id="org.talend.tis.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tis.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tisenterprise.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tisenterprise.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tismpx.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tismpx.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tisprof.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tisprof.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tisteam.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tisteam.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tooling.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.top.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.top.libraries.feature.feature.group" version="0.0.0"/>
			<!--unit id="org.talend.tos.bigdata.feature.feature.group" version="0.0.0"/-->
			<!--unit id="org.talend.tos.bigdata.libraries.feature.feature.group" version="0.0.0"/-->
			<unit id="org.talend.tos.components.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tos.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tos.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.tos.libraries.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.transform.feature.spark.feature.group" version="0.0.0"/>
			<unit id="org.talend.tup.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.update.p2.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.updates.feature.feature.group" version="0.0.0"/>
			<unit id="org.talend.utils.feature.feature.group" version="0.0.0"/>
			<unit id="platform-specific-feature.feature.group" version="0.0.0"/>
		</location>
	</locations>
</target>