<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.talend.repository.model.hcatalog.HCatalogPackage"
            uri="http://www.talend.org/hcatalog">
      </package>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            alias="HCAT"
            class="org.talend.repository.hcatalog.node.HCatalogExtendNode"
            folder="metadata/hcatalog"
            isResouce="true"
            label="%hcatalog"
            products="DI"
            type="HCATALOG">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.repository.hcatalog.node.HCatalogRepositoryContentHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.hcatalog.action.EditHCatalogPropertiesAction"
            id="org.talend.repository.hcatalog.action.EditHCatalogPropertiesAction"
            isPropertiesAction="true"
            name="Edit Properties">
      </Action>
      <Action
            class="org.talend.repository.hcatalog.action.CreateHCatalogAction"
            id="org.talend.repository.hcatalog.action.CreateHCatalogAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create HCatalog">
      </Action>
      <Action
            class="org.talend.repository.hcatalog.action.CreateHCatalogSchemaAction"
            id="org.talend.repository.hcatalog.action.CreateHCatalogSchemaAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create table">
      </Action>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.talend.repository.hcatalog.ui.MetadataHCatalogContentProvider"
            icon="icons/hadoop-logo-16x16.png"
            id="org.talend.repository.viewer.metadata.hcatalog"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="HCatalog"
            priority="high">
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isMetadataTopNode">
               </test>
            </and>
         </triggerPoints>
         <actionProvider
               class="org.talend.repository.metadata.action.MetedataNodeActionProvier">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.metadata.isHCatalogConnection">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.repository.hcatalog.tester.HCatalogMetadataNodeTester"
            id="org.talend.repository.hcatalog.node.tester.hcatalog"
            namespace="org.talend.repository.node.metadata"
            properties="isHCatalogConnection"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
   </extension>
   <extension
         point="org.talend.core.repository.repository_handler">
      <RepositoryHandler
            class="org.talend.repository.hcatalog.ui.dnd.HCatalogDragAndDropHandler">
      </RepositoryHandler>
   </extension>

</plugin>
