<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.repository.repository_node_provider">
      <repositoryNode
            alias="HDFS"
            class="org.talend.repository.hdfs.node.HDFSExtendNode"
            folder="metadata/hdfs"
            isResouce="true"
            label="%HDFS"
            products="DI"
            type="HDFS">
      </repositoryNode>
   </extension>
   <extension
         point="org.talend.core.repository.repository_content">
      <RepositoryContent
            class="org.talend.repository.hdfs.node.HDFSRepositoryContentHandler">
      </RepositoryContent>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.hdfs.action.EditHDFSPropertiesAction"
            id="org.talend.repository.hdfs.action.EditHDFSPropertiesAction"
            isPropertiesAction="true"
            name="Edit Properties">
      </Action>
      <Action
            class="org.talend.repository.hdfs.action.CreateHDFSAction"
            id="org.talend.repository.hdfs.action.CreateHDFSAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create HDFS">
      </Action>
      <Action
            class="org.talend.repository.hdfs.action.CreateHDFSSchemaAction"
            id="org.talend.repository.hdfs.action.CreateHDFSSchemaAction"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create table">
      </Action>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.talend.repository.hdfs.ui.MetadataHDFSContentProvider"
            icon="icons/hadoop-logo-16x16.png"
            id="org.talend.repository.viewer.metadata.hdfs"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="HDFS"
            priority="high">
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isMetadataTopNode">
               </test>
            </and>
         </triggerPoints>
         <actionProvider
               class="org.talend.repository.metadata.action.MetedataNodeActionProvier"
               id="org.talend.repository.hdfs.action.provider.id">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.metadata.isHDFSConnection">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.repository.hdfs.tester.HDFSMetadataNodeTester"
            id="org.talend.repository.hdfs.node.tester.hdfs"
            namespace="org.talend.repository.node.metadata"
            properties="isHDFSConnection"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.talend.repository.model.hdfs.HDFSPackage"
            uri="http://www.talend.org/hdfs">
      </package>
   </extension>
   <extension
         point="org.talend.core.repository.repository_handler">
      <RepositoryHandler
            class="org.talend.repository.hdfs.ui.dnd.HDFSDragAndDropHandler">
      </RepositoryHandler>
   </extension>

</plugin>
