<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.components_provider">
      <ComponentsProvider
            class="org.talend.designer.components.tishadoopprovider.TisHadoopComponentsProvider"
            folderName="components"
            id="org.talend.designer.components.tishadoopprovider.TisHadoopComponentsProvider">
      </ComponentsProvider>
   </extension>
   <extension
         point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
            context="org.talend.libraries.couchbase"
            id="jettison-1.1.jar"
            mvn_uri="mvn:org.codehaus.jettison/jettison/1.1"
            name="jettison-1.1.jar"
            uripath="platform:/plugin/org.talend.libraries.couchbase/lib/jettison-1.1.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:"
            id="logback-classic-1.1.2.jar"
            mvn_uri="mvn:org.talend.libraries/logback-classic-1.1.2/6.1.0"
            name="logback-classic-1.1.2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:"
            id="logback-core-1.1.2.jar"
            mvn_uri="mvn:org.talend.libraries/logback-core-1.1.2/6.1.0"
            name="logback-core-1.1.2.jar">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:"
            id="jersey-core-1.17.jar"
            mvn_uri="mvn:org.talend.libraries/jersey-core-1.17/6.1.0"
            name="jersey-core-1.17.jar"
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:"
            id="jersey-core-1.8.jar"
            mvn_uri="mvn:org.talend.libraries/jersey-core-1.8/6.0.0"
            name="jersey-core-1.8.jar"
            required="true">
      </libraryNeeded>
      
      <!-- Kafka 0.9.0.1 libraries -->
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="kafka_2.10-0.9.0.1.jar"
            name="kafka_2.10-0.9.0.1.jar"
            mvn_uri="mvn:org.talend.libraries/kafka_2.10-0.9.0.1/6.2.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="kafka-clients-0.9.0.1.jar"
            name="kafka-clients-0.9.0.1.jar"
            mvn_uri="mvn:org.talend.libraries/kafka-clients-0.9.0.1/6.2.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="scala-library-2.10.5.jar"
            name="scala-library-2.10.5.jar" 
            mvn_uri="mvn:org.talend.libraries/scala-library-2.10.5/6.0.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="snappy-java-1.1.1.7.jar"
            name="snappy-java-1.1.1.7.jar" 
            mvn_uri="mvn:org.talend.libraries/snappy-java-1.1.1.7/6.2.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="zkclient-0.7.jar"
            name="zkclient-0.7.jar" 
            mvn_uri="mvn:org.talend.libraries/zkclient-0.7/6.0.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="slf4j-log4j12-1.7.6.jar"
            name="slf4j-log4j12-1.7.6.jar" 
            mvn_uri="mvn:org.talend.libraries/slf4j-log4j12-1.7.6/6.2.0"/>
            
        <!-- Kafka 0.10.0.1 libraries -->
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="kafka_2.10-0.10.0.1.jar"
            name="kafka_2.10-0.10.0.1.jar"
            mvn_uri="mvn:org.talend.libraries/kafka_2.10-0.10.0.1/6.3.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="kafka-clients-0.10.0.1.jar"
            name="kafka-clients-0.10.0.1.jar"
            mvn_uri="mvn:org.talend.libraries/kafka-clients-0.10.0.1/6.3.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="scala-library-2.10.6.jar"
            name="scala-library-2.10.6.jar" 
            mvn_uri="mvn:org.talend.libraries/scala-library-2.10.6/6.3.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="snappy-java-1.1.2.6.jar"
            name="snappy-java-1.1.2.6.jar" 
            mvn_uri="mvn:org.xerial.snappy/snappy-java/1.1.2.6"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="zkclient-0.8.jar"
            name="zkclient-0.8.jar" 
            mvn_uri="mvn:org.talend.libraries/zkclient-0.8/6.3.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="slf4j-log4j12-1.7.21.jar"
            name="slf4j-log4j12-1.7.21.jar" 
            mvn_uri="mvn:org.talend.libraries/slf4j-log4j12-1.7.21/6.3.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="slf4j-api-1.7.21.jar"
            name="slf4j-api-1.7.21.jar" 
            mvn_uri="mvn:org.talend.libraries/slf4j-api-1.7.21/6.3.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="jopt-simple-4.9.jar"
            name="jopt-simple-4.9.jar" 
            mvn_uri="mvn:net.sf.jopt-simple/jopt-simple/4.9"/>
            
        <!-- Kafka 1.1.0 libraries -->
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="kafka_2.11-1.1.0.jar"
            name="kafka_2.11-1.1.0.jar"
            mvn_uri="mvn:org.apache.kafka/kafka_2.11/1.1.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="kafka-clients-1.1.0.jar"
            name="kafka-clients-1.1.0.jar"
            mvn_uri="mvn:org.apache.kafka/kafka-clients/1.1.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="scala-library-2.11.12.jar"
            name="scala-library-2.11.12.jar" 
            mvn_uri="mvn:org.scala-lang/scala-library/2.11.12"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdatag"
            id="scala-logging_2.11-3.7.2.jar"
            name="scala-logging_2.11-3.7.2.jar" 
            mvn_uri="mvn:com.typesafe.scala-logging/scala-logging_2.11/3.7.2"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="snappy-java-1.1.7.1.jar"
            name="snappy-java-1.1.7.1.jar" 
            mvn_uri="mvn:org.xerial.snappy/snappy-java/1.1.7.1"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="zkclient-0.10.jar"
            name="zkclient-0.10.jar" 
            mvn_uri="mvn:com.101tec/zkclient/0.10"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdatas"
            id="slf4j-log4j12-1.7.25.jar"
            name="slf4j-log4j12-1.7.25.jar" 
            mvn_uri="mvn:org.talend.libraries/slf4j-log4j12-1.7.25/6.0.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="slf4j-api-1.7.25.jar"
            name="slf4j-api-1.7.25.jar" 
            mvn_uri="mvn:org.slf4j/slf4j-api/1.7.25"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="jopt-simple-5.0.4.jar"
            name="jopt-simple-5.0.4.jar" 
            mvn_uri="mvn:net.sf.jopt-simple/jopt-simple/5.0.4"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="jackson-core-2.9.5.jar"
            name="jackson-core-2.9.5.jar" 
            mvn_uri="mvn:com.fasterxml.jackson.core/jackson-core/2.9.5"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="jackson-databind-2.9.5.jar"
            name="jackson-databind-2.9.5.jar" 
            mvn_uri="mvn:com.fasterxml.jackson.core/jackson-databind/2.9.5"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="jackson-annotations-2.9.0.jar"
            name="jackson-annotations-2.9.0.jar" 
            mvn_uri="mvn:com.fasterxml.jackson.core/jackson-annotations/2.9.0"/>
            
        <!-- Kafka 0.8.2.0 client group (tKafkaOutput) -->
        <libraryNeededGroup
                description="Kafka 0.8.2.0 client group"
                id="KAFKA-CLIENT-LIB-2_10-0_8_2_0"
                name="KAFKA-CLIENT-LIB-2_10-0_8_2_0">
            <library id="kafka-clients-0.8.2.0.jar"/>
            <library id="log4j-1.2.16.jar"/>
            <library id="slf4j-api-1.7.6.jar"/>
            <library id="slf4j-log4j12-1.6.1.jar"/>
        </libraryNeededGroup>
        
        <!-- Kafka 0.9.0.1 group (tKafkaInput) -->    
        <libraryNeededGroup
                description="Kafka libraries for 2.10-0.9.0.1"
                id="KAFKA-LIB-2_10-0_9_0_1"
                name="KAFKA-LIB-2_10-0_9_0_1">
            <library id="kafka_2.10-0.9.0.1.jar"/>
            <library id="scala-library-2.10.5.jar"/>
            <library id="jopt-simple-3.2.jar"/>
            <library id="kafka-clients-0.9.0.1.jar"/>
            <library id="lz4-1.2.0.jar"/>
            <library id="metrics-core-2.2.0.jar"/>
            <library id="snappy-java-1.1.1.7.jar"/>
            <library id="zkclient-0.7.jar"/>
            <library id="zookeeper-3.4.6.jar"/>
            <library id="log4j-1.2.17.jar"/>
            <library id="slf4j-api-1.7.6.jar"/>
            <library id="slf4j-log4j12-1.7.6.jar"/>
        </libraryNeededGroup>
        
        <!-- Kafka 0.9.0.1 client group (tKafkaOutput) -->
        <libraryNeededGroup
                description="Kafka 0.9.0.1 client group"
                id="KAFKA-CLIENT-LIB-2_10-0_9_0_1"
                name="KAFKA-CLIENT-LIB-2_10-0_9_0_1">
            <library id="kafka-clients-0.9.0.1.jar"/>
            <library id="log4j-1.2.17.jar"/>
            <library id="slf4j-api-1.7.6.jar"/>
            <library id="slf4j-log4j12-1.7.6.jar"/>
        </libraryNeededGroup>
        
        <!-- Kafka 0.10.0.1 group (tKafkaInput) -->    
        <libraryNeededGroup
                description="Kafka libraries for 2.10-0.10.0.1"
                id="KAFKA-LIB-2_10-0_10_0_1"
                name="KAFKA-LIB-2_10-0_10_0_1">
            <library id="kafka_2.10-0.10.0.1.jar"/>
            <library id="scala-library-2.10.6.jar"/>
            <library id="jopt-simple-4.9.jar"/>
            <library id="kafka-clients-0.10.0.1.jar"/>
            <library id="lz4-1.3.0.jar"/>
            <library id="metrics-core-2.2.0.jar"/>
            <library id="snappy-java-1.1.2.6.jar"/>
            <library id="zkclient-0.8.jar"/>
            <library id="zookeeper-3.4.6.jar"/>
            <library id="log4j-1.2.17.jar"/>
            <library id="slf4j-api-1.7.21.jar"/>
            <library id="slf4j-log4j12-1.7.21.jar"/>
        </libraryNeededGroup>
        
        <!-- Kafka 0.10.0.1 client group (tKafkaOutput) -->
        <libraryNeededGroup
                description="Kafka 0.10.0.1 client group"
                id="KAFKA-CLIENT-LIB-2_10-0_10_0_1"
                name="KAFKA-CLIENT-LIB-2_10-0_10_0_1">
            <library id="kafka-clients-0.10.0.1.jar"/>
            <library id="log4j-1.2.17.jar"/>
            <library id="slf4j-api-1.7.21.jar"/>
            <library id="slf4j-log4j12-1.7.21.jar"/>
        </libraryNeededGroup>
        
        <!-- Kafka 1.1.0 group (tKafkaInput) -->    
        <libraryNeededGroup
                description="Kafka libraries for 2.10-1.1.0"
                id="KAFKA-LIB-2_11-1_1_0"
                name="KAFKA-LIB-2_11-1_1_0">
            <library id="kafka_2.11-1.1.0.jar"/>
            <library id="scala-library-2.11.12.jar"/>
            <library id="scala-logging_2.11-3.7.2.jar"/>
            <library id="jackson-core-2.9.5.jar"/>
            <library id="jackson-databind-2.9.5.jar"/>
            <library id="jackson-annotations-2.9.0.jar"/>
            <library id="jopt-simple-5.0.4.jar"/>
            <library id="kafka-clients-1.1.0.jar"/>
            <library id="lz4-java-1.4.jar"/>
            <library id="metrics-core-2.2.0.jar"/>
            <library id="snappy-java-1.1.7.1.jar"/>
            <library id="zkclient-0.10.jar"/>
            <library id="zookeeper-3.4.10.jar"/>
            <library id="log4j-1.2.17.jar"/>
            <library id="slf4j-api-1.7.25.jar"/>
            <library id="slf4j-log4j12-1.7.25.jar"/>
        </libraryNeededGroup>
        
        <!-- Kafka 1.1.0 client group (tKafkaOutput) -->
        <libraryNeededGroup
                description="Kafka 1.1.0 client group"
                id="KAFKA-CLIENT-LIB-2_11-1_1_0"
                name="KAFKA-CLIENT-LIB-2_11-1_1_0">
            <library id="kafka-clients-1.1.0.jar"/>
            <library id="log4j-1.2.17.jar"/>
            <library id="slf4j-api-1.7.25.jar"/>
            <library id="slf4j-log4j12-1.7.25.jar"/>
        </libraryNeededGroup>
      
   </extension>
</plugin>
