<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.components_provider">
      <ComponentsProvider
            class="org.talend.designer.components.tishadoopprovider.TisHadoopComponentsProvider"
            folderName="components"
            id="org.talend.designer.components.tishadoopprovider.TisHadoopComponentsProvider">
      </ComponentsProvider>
   </extension>
</plugin>
