<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.components_provider">
      <ComponentsProvider
            class="org.talend.designer.components.tishadoopprovider.TisHadoopComponentsProvider"
            folderName="components"
            id="org.talend.designer.components.tishadoopprovider.TisHadoopComponentsProvider">
      </ComponentsProvider>
   </extension>
   <extension
         point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
            context="plugin:"
            id="jersey-core-1.17.jar"
            mvn_uri="mvn:org.talend.libraries/jersey-core-1.17/6.1.0"
            name="jersey-core-1.17.jar"
            required="true">
      </libraryNeeded>
      <libraryNeeded
            context="plugin:"
            id="jersey-core-1.8.jar"
            mvn_uri="mvn:org.talend.libraries/jersey-core-1.8/6.0.0"
            name="jersey-core-1.8.jar"
            required="true">
      </libraryNeeded>
      
      <!-- Kafka 0.9.0.1 libraries -->
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="kafka_2.10-0.9.0.1.jar"
            name="kafka_2.10-0.9.0.1.jar"
            mvn_uri="mvn:org.talend.libraries/kafka_2.10-0.9.0.1/6.2.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="kafka-clients-0.9.0.1.jar"
            name="kafka-clients-0.9.0.1.jar"
            mvn_uri="mvn:org.talend.libraries/kafka-clients-0.9.0.1/6.2.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="scala-library-2.10.5.jar"
            name="scala-library-2.10.5.jar" 
            mvn_uri="mvn:org.talend.libraries/scala-library-2.10.5/6.0.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="snappy-java-1.1.1.7.jar"
            name="snappy-java-1.1.1.7.jar" 
            mvn_uri="mvn:org.xerial.snappy/snappy-java/1.1.1.7"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="zkclient-0.7.jar"
            name="zkclient-0.7.jar" 
            mvn_uri="mvn:org.talend.libraries/zkclient-0.7/6.0.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="slf4j-log4j12-1.7.6.jar"
            name="slf4j-log4j12-1.7.6.jar" 
            mvn_uri="mvn:org.talend.libraries/slf4j-log4j12-1.7.6/6.2.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="lz4-1.2.0.jar"
            name="lz4-1.2.0.jar"
            mvn_uri="mvn:org.talend.libraries/lz4-1.2.0/6.0.0"/>

        <!-- Kafka 0.10.0.1 libraries -->
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="kafka_2.10-0.10.0.1.jar"
            name="kafka_2.10-0.10.0.1.jar"
            mvn_uri="mvn:org.talend.libraries/kafka_2.10-0.10.0.1/6.3.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="kafka-clients-0.10.0.1.jar"
            name="kafka-clients-0.10.0.1.jar"
            mvn_uri="mvn:org.talend.libraries/kafka-clients-0.10.0.1/6.3.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="scala-library-2.10.6.jar"
            name="scala-library-2.10.6.jar" 
            mvn_uri="mvn:org.talend.libraries/scala-library-2.10.6/6.3.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="snappy-java-1.1.2.6.jar"
            name="snappy-java-1.1.2.6.jar" 
            mvn_uri="mvn:org.xerial.snappy/snappy-java/1.1.2.6"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="zkclient-0.8.jar"
            name="zkclient-0.8.jar" 
            mvn_uri="mvn:org.talend.libraries/zkclient-0.8/6.3.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="slf4j-log4j12-1.7.21.jar"
            name="slf4j-log4j12-1.7.21.jar" 
            mvn_uri="mvn:org.talend.libraries/slf4j-log4j12-1.7.21/6.3.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="slf4j-api-1.7.21.jar"
            name="slf4j-api-1.7.21.jar" 
            mvn_uri="mvn:org.talend.libraries/slf4j-api-1.7.21/6.3.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="jopt-simple-4.9.jar"
            name="jopt-simple-4.9.jar" 
            mvn_uri="mvn:net.sf.jopt-simple/jopt-simple/4.9"/>
       <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="lz4-1.3.0.jar"
            name="lz4-1.3.0.jar"
            mvn_uri="mvn:org.talend.libraries/lz4-1.3.0/6.0.0"/>
            
        <!-- Kafka 1.1.0 libraries -->
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="kafka_2.11-1.1.0.jar"
            name="kafka_2.11-1.1.0.jar"
            mvn_uri="mvn:org.apache.kafka/kafka_2.11/1.1.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="kafka-clients-1.1.0.jar"
            name="kafka-clients-1.1.0.jar"
            mvn_uri="mvn:org.apache.kafka/kafka-clients/1.1.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="scala-library-2.11.12.jar"
            name="scala-library-2.11.12.jar" 
            mvn_uri="mvn:org.scala-lang/scala-library/2.11.12"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdatag"
            id="scala-logging_2.11-3.7.2.jar"
            name="scala-logging_2.11-3.7.2.jar" 
            mvn_uri="mvn:com.typesafe.scala-logging/scala-logging_2.11/3.7.2"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="snappy-java-1.1.7.1.jar"
            name="snappy-java-1.1.7.1.jar" 
            mvn_uri="mvn:org.xerial.snappy/snappy-java/1.1.7.1"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="zkclient-0.10.jar"
            name="zkclient-0.10.jar" 
            mvn_uri="mvn:com.101tec/zkclient/0.10"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdatas"
            id="slf4j-log4j12-1.7.29.jar"
            name="slf4j-log4j12-1.7.29.jar" 
            mvn_uri="mvn:org.slf4j/slf4j-log4j12/1.7.29"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="slf4j-api-1.7.29.jar"
            name="slf4j-api-1.7.29.jar" 
            mvn_uri="mvn:org.slf4j/slf4j-api/1.7.29"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="jopt-simple-5.0.4.jar"
            name="jopt-simple-5.0.4.jar" 
            mvn_uri="mvn:net.sf.jopt-simple/jopt-simple/5.0.4"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="jackson-core-2.9.5.jar"
            name="jackson-core-2.9.5.jar" 
            mvn_uri="mvn:com.fasterxml.jackson.core/jackson-core/2.9.5"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="jackson-databind-2.9.5.jar"
            name="jackson-databind-2.9.5.jar" 
            mvn_uri="mvn:com.fasterxml.jackson.core/jackson-databind/2.9.5"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="jackson-annotations-2.9.0.jar"
            name="jackson-annotations-2.9.0.jar" 
            mvn_uri="mvn:com.fasterxml.jackson.core/jackson-annotations/2.9.0"/>
       <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="lz4-java-1.4.jar"
            name="lz4-java-1.4.jar"
            mvn_uri="mvn:org.lz4/lz4-java/1.4.0"/>
       <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="zookeeper-3.4.10.jar"
            name="zookeeper-3.4.10.jar"
            mvn_uri="mvn:org.apache.zookeeper/zookeeper/3.4.10"/>
            
        <!-- Kafka 2.4.0 libraries -->
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="kafka_2.12-2.4.0.jar"
            name="kafka_2.12-2.4.0.jar"
            mvn_uri="mvn:org.apache.kafka/kafka_2.12/2.4.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="kafka-clients-2.4.0.jar"
            name="kafka-clients-2.4.0.jar"
            mvn_uri="mvn:org.apache.kafka/kafka-clients/2.4.0"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="scala-library-2.12.10.jar"
            name="scala-library-2.12.10.jar" 
            mvn_uri="mvn:org.scala-lang/scala-library/2.12.10"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="scala-logging_2.12-3.9.2.jar"
            name="scala-logging_2.12-3.9.2.jar" 
            mvn_uri="mvn:com.typesafe.scala-logging/scala-logging_2.12/3.9.2"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="snappy-java-1.1.7.3.jar"
            name="snappy-java-1.1.7.3.jar" 
            mvn_uri="mvn:org.xerial.snappy/snappy-java/1.1.7.3"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="zkclient-0.11.jar"
            name="zkclient-0.11.jar" 
            mvn_uri="mvn:com.101tec/zkclient/0.11"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="jackson-core-2.11.4.jar"
            name="jackson-core-2.11.4.jar" 
            mvn_uri="mvn:com.fasterxml.jackson.core/jackson-core/2.11.4"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="jackson-databind-2.11.4.jar"
            name="jackson-databind-2.11.4.jar" 
            mvn_uri="mvn:com.fasterxml.jackson.core/jackson-databind/2.11.4"/>
        <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="jackson-annotations-2.11.4.jar"
            name="jackson-annotations-2.11.4.jar" 
            mvn_uri="mvn:com.fasterxml.jackson.core/jackson-annotations/2.11.4"/>
       <libraryNeeded
            context="org.talend.designer.components.bigdata"
            id="lz4-java-1.6.jar"
            name="lz4-java-1.6.jar"
            mvn_uri="mvn:org.lz4/lz4-java/1.6.0"/>
        

            
        <!-- Kafka 0.8.2.0 client group (tKafkaOutput) -->
        <libraryNeededGroup
                description="Kafka 0.8.2.0 client group"
                id="KAFKA-CLIENT-LIB-2_10-0_8_2_0"
                name="KAFKA-CLIENT-LIB-2_10-0_8_2_0">
            <library id="kafka-clients-0.8.2.0.jar"/>
            <library id="reload4j-1.2.19.jar"/>
            <library id="slf4j-api-1.7.6.jar"/>
            <library id="slf4j-log4j12-1.6.1.jar"/>
        </libraryNeededGroup>
        
        <!-- Kafka 0.9.0.1 group (tKafkaInput) -->    
        <libraryNeededGroup
                description="Kafka libraries for 2.10-0.9.0.1"
                id="KAFKA-LIB-2_10-0_9_0_1"
                name="KAFKA-LIB-2_10-0_9_0_1">
            <library id="kafka_2.10-0.9.0.1.jar"/>
            <library id="scala-library-2.10.5.jar"/>
            <library id="jopt-simple-3.2.jar"/>
            <library id="kafka-clients-0.9.0.1.jar"/>
            <library id="lz4-1.2.0.jar"/>
            <library id="metrics-core-2.2.0.jar"/>
            <library id="snappy-java-1.1.1.7.jar"/>
            <library id="zkclient-0.7.jar"/>
            <library id="zookeeper-3.4.6.jar"/>
            <library id="reload4j-1.2.19.jar"/>
            <library id="slf4j-api-1.7.6.jar"/>
            <library id="slf4j-log4j12-1.7.6.jar"/>
        </libraryNeededGroup>
        
        <!-- Kafka 0.9.0.1 client group (tKafkaOutput) -->
        <libraryNeededGroup
                description="Kafka 0.9.0.1 client group"
                id="KAFKA-CLIENT-LIB-2_10-0_9_0_1"
                name="KAFKA-CLIENT-LIB-2_10-0_9_0_1">
            <library id="kafka-clients-0.9.0.1.jar"/>
            <library id="reload4j-1.2.19.jar"/>
            <library id="slf4j-api-1.7.6.jar"/>
            <library id="slf4j-log4j12-1.7.6.jar"/>
        </libraryNeededGroup>
        
        <!-- Kafka 0.10.0.1 group (tKafkaInput) -->    
        <libraryNeededGroup
                description="Kafka libraries for 2.10-0.10.0.1"
                id="KAFKA-LIB-2_10-0_10_0_1"
                name="KAFKA-LIB-2_10-0_10_0_1">
            <library id="kafka_2.10-0.10.0.1.jar"/>
            <library id="scala-library-2.10.6.jar"/>
            <library id="jopt-simple-4.9.jar"/>
            <library id="kafka-clients-0.10.0.1.jar"/>
            <library id="lz4-1.3.0.jar"/>
            <library id="metrics-core-2.2.0.jar"/>
            <library id="snappy-java-1.1.2.6.jar"/>
            <library id="zkclient-0.8.jar"/>
            <library id="zookeeper-3.4.6.jar"/>
            <library id="reload4j-1.2.19.jar"/>
            <library id="slf4j-api-1.7.21.jar"/>
            <library id="slf4j-log4j12-1.7.21.jar"/>
        </libraryNeededGroup>
        
        <!-- Kafka 0.10.0.1 client group (tKafkaOutput) -->
        <libraryNeededGroup
                description="Kafka 0.10.0.1 client group"
                id="KAFKA-CLIENT-LIB-2_10-0_10_0_1"
                name="KAFKA-CLIENT-LIB-2_10-0_10_0_1">
            <library id="kafka-clients-0.10.0.1.jar"/>
            <library id="reload4j-1.2.19.jar"/>
            <library id="slf4j-api-1.7.21.jar"/>
            <library id="slf4j-log4j12-1.7.21.jar"/>
        </libraryNeededGroup>
        
        <!-- Kafka 1.1.0 group (tKafkaInput) -->    
        <libraryNeededGroup
                description="Kafka libraries for 2.10-1.1.0"
                id="KAFKA-LIB-2_11-1_1_0"
                name="KAFKA-LIB-2_11-1_1_0">
            <library id="kafka_2.11-1.1.0.jar"/>
            <library id="scala-library-2.11.12.jar"/>
            <library id="scala-logging_2.11-3.7.2.jar"/>
            <library id="jackson-core-2.9.5.jar"/>
            <library id="jackson-databind-2.9.5.jar"/>
            <library id="jackson-annotations-2.9.0.jar"/>
            <library id="jopt-simple-5.0.4.jar"/>
            <library id="kafka-clients-1.1.0.jar"/>
            <library id="lz4-java-1.4.jar"/>
            <library id="metrics-core-2.2.0.jar"/>
            <library id="snappy-java-1.1.7.1.jar"/>
            <library id="zkclient-0.10.jar"/>
            <library id="zookeeper-3.4.10.jar"/>
            <library id="reload4j-1.2.19.jar"/>
            <library id="slf4j-api-1.7.29.jar"/>
            <library id="slf4j-log4j12-1.7.29.jar"/>
        </libraryNeededGroup>
        
        <!-- Kafka 1.1.0 client group (tKafkaOutput) -->
        <libraryNeededGroup
                description="Kafka 1.1.0 client group"
                id="KAFKA-CLIENT-LIB-2_11-1_1_0"
                name="KAFKA-CLIENT-LIB-2_11-1_1_0">
            <library id="kafka-clients-1.1.0.jar"/>
            <library id="reload4j-1.2.19.jar"/>
            <library id="slf4j-api-1.7.29.jar"/>
            <library id="slf4j-log4j12-1.7.29.jar"/>
        </libraryNeededGroup>
        
        
                <!-- Kafka 2.4.0 group (tKafkaInput) -->    
        <libraryNeededGroup
                description="Kafka libraries for 2.12-2.4.0"
                id="KAFKA-LIB-2_12-2_4_0"
                name="KAFKA-LIB-2_12-2_4_0">
            <library id="kafka_2.12-2.4.0.jar"/>
            <library id="scala-library-2.12.10.jar"/>
            <library id="scala-logging_2.12-3.9.2.jar"/>
            <library id="jackson-core-2.11.4.jar"/>
            <library id="jackson-databind-2.11.4.jar"/>
            <library id="jackson-annotations-2.11.4.jar"/>
            <library id="jopt-simple-5.0.4.jar"/>
            <library id="kafka-clients-2.4.0.jar"/>
            <library id="lz4-java-1.6.0.jar"/>
            <library id="metrics-core-2.2.0.jar"/>
            <library id="snappy-java-1.1.7.3.jar"/>
            <library id="zkclient-0.11.jar"/>
            <library id="zookeeper-3.5.6.jar"/>
            <library id="reload4j-1.2.19.jar"/>
            <library id="slf4j-api-1.7.29.jar"/>
            <library id="slf4j-log4j12-1.7.29.jar"/>
        </libraryNeededGroup>
        
        <!-- Kafka 2.4.0 client group (tKafkaOutput) -->
        <libraryNeededGroup
                description="Kafka client group for 2.12-2.4.0"
                id="KAFKA-CLIENT-LIB-2_12-2_4_0"
                name="KAFKA-CLIENT-LIB-2_12-2_4_0">
            <library id="kafka-clients-2.4.0.jar"/>
            <library id="reload4j-1.2.19.jar"/>
            <library id="slf4j-api-1.7.29.jar"/>
            <library id="slf4j-log4j12-1.7.29.jar"/>
        </libraryNeededGroup>
        
        
      
      <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-client-2.1.0.jar" name="hbase-client-2.1.0.jar" mvn_uri="mvn:org.apache.hbase/hbase-client/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-common-2.1.0.jar" name="hbase-common-2.1.0.jar" mvn_uri="mvn:org.apache.hbase/hbase-common/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-hadoop-compat-2.1.0.jar" name="hbase-hadoop-compat-2.1.0.jar" mvn_uri="mvn:org.apache.hbase/hadoop-compat/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-hadoop2-compat-2.1.0.jar" name="hbase-hadoop2-compat-2.1.0.jar" mvn_uri="mvn:org.apache.hbase/hbase-hadoop2-compat/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-http-2.1.0.jar" name="hbase-http-2.1.0.jar" mvn_uri="mvn:org.apache.hbase/hbase-http/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-metrics-2.1.0.jar" name="hbase-metrics-2.1.0.jar" mvn_uri="mvn:org.apache.hbase/hbase-metrics/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-metrics-api-2.1.0.jar" name="hbase-metrics-api-2.1.0.jar" mvn_uri="mvn:org.apache.hbase/hbase-metrics-api/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-procedure-2.1.0.jar" name="hbase-procedure-2.1.0.jar" mvn_uri="mvn:org.apache.hbase/hbase-procedure/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-protocol-2.1.0.jar" name="hbase-protocol-2.1.0.jar" mvn_uri="mvn:org.apache.hbase/hbase-protocol/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-protocol-shaded-2.1.0.jar" name="hbase-protocol-shaded-2.1.0.jar" mvn_uri="mvn:org.apache.hbase/hbase-protocol-shaded/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-replication-2.1.0.jar" name="hbase-replication-2.1.0.jar" mvn_uri="mvn:org.apache.hbase/hbase-replication/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-server-2.1.0.jar" name="hbase-server-2.1.0.jar" mvn_uri="mvn:org.apache.hbase/hbase-server/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-shaded-miscellaneous-2.1.0.jar" name="hbase-shaded-miscellaneous-2.1.0.jar" mvn_uri="mvn:org.apache.hbase/hbase-shaded-miscellaneous/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-shaded-netty-2.1.0.jar" name="hbase-shaded-netty-2.1.0.jar" mvn_uri="mvn:org.apache.hbase/hbase-shaded-netty/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-shaded-protobuf-2.1.0.jar" name="hbase-shaded-protobuf-2.1.0.jar" mvn_uri="mvn:org.apache.hbase/hbase-shaded-protobuf/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-zookeeper-2.1.0.jar" name="hbase-zookeeper-2.1.0.jar" mvn_uri="mvn:org.apache.hbase/hbase-zookeeper/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="htrace-core4-4.2.0-incubating.jar" name="htrace-core4-4.2.0-incubating.jar" mvn_uri="mvn:org.apache.htrace/htrace-core4/4.2.0-incubating"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="metrics-core-3.1.5.jar" name="metrics-core-3.1.5.jar" mvn_uri="mvn:io.dropwizard.metrics/metrics-core/3.1.5"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="zookeeper-3.4.12.jar" name="zookeeper-3.4.12.jar" mvn_uri="mvn:org.apache.zookeeper/zookeeper/3.4.12"/>
        
        <!-- HBase2 group  -->
        <libraryNeededGroup description="HBASE 2.1.0" id="HBASE-2.1.0" name="HBASE-2.1.0">
            <library id="htrace-core4-4.2.0-incubating.jar"/>
            <library id="metrics-core-3.1.5.jar"/>
            <library id="commons-lang3-3.5.jar"/>
            <library id="hbase-client-2.1.0.jar"/>
            <library id="hbase-common-2.1.0.jar"/>
            <library id="hbase-hadoop-compat-2.1.0.jar"/>
            <library id="hbase-hadoop2-compat-2.1.0.jar"/>
            <library id="hbase-http-2.1.0.jar"/>
            <library id="hbase-metrics-2.1.0.jar"/>
            <library id="hbase-metrics-api-2.1.0.jar"/>
            <library id="hbase-procedure-2.1.0.jar"/>
            <library id="hbase-protocol-2.1.0.jar"/>
            <library id="hbase-protocol-shaded-2.1.0.jar"/>
            <library id="hbase-replication-2.1.0.jar"/>
            <library id="hbase-server-2.1.0.jar"/>
            <library id="hbase-shaded-miscellaneous-2.1.0.jar"/>
            <library id="hbase-shaded-netty-2.1.0.jar"/>
            <library id="hbase-shaded-protobuf-2.1.0.jar"/>
            <library id="hbase-zookeeper-2.1.0.jar"/>
            <library id="zookeeper-3.4.12.jar"/>
        </libraryNeededGroup>
        
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-common-1.4.10.jar" name="hbase-common-1.4.10.jar" mvn_uri="mvn:org.apache.hbase/hbase-common/1.4.10"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-client-1.4.10.jar" name="hbase-client-1.4.10.jar" mvn_uri="mvn:org.apache.hbase/hbase-client/1.4.10"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-protocol-1.4.10.jar" name="hbase-protocol-1.4.10.jar" mvn_uri="mvn:org.apache.hbase/hbase-protocol/1.4.10"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-server-1.4.10.jar" name="hbase-server-1.4.10.jar" mvn_uri="mvn:org.apache.hbase/hbase-server/1.4.10"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hbase-hadoop-compat-1.4.10.jar" name="hbase-hadoop-compat-1.4.10.jar" mvn_uri="mvn:org.apache.hbase/hbase-hadoop-compat/1.4.10"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="hive-hbase-handler-2.3.6.jar" name="hive-hbase-handler-2.3.6.jar" mvn_uri="mvn:org.apache.hive/hive-hbase-handler/2.3.6"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="htrace-core-3.1.0-incubating.jar" name="htrace-core-3.1.0-incubating.jar" mvn_uri="mvn:org.apache.htrace/htrace-core/3.1.0-incubating"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="netty-all-4.1.17.Final.jar" name="netty-all-4.1.17.Final.jar" mvn_uri="mvn:io.netty/netty-all/4.1.17.Final"/>
        <libraryNeeded context="plugin:org.talend.designer.components.mrprovider" id="metrics-core-2.2.0.jar" name="metrics-core-2.2.0.jar" mvn_uri="mvn:com.yammer.metrics/metrics-core/2.2.0"/>
        
        <!-- HBase1 group  -->
        <libraryNeededGroup description="HBASE 1.4.10" id="HBASE-1.4.10" name="HBASE-1.4.10">
            <library id="hbase-common-1.4.10.jar" />
            <library id="hbase-client-1.4.10.jar" />
            <library id="hbase-protocol-1.4.10.jar" />
            <library id="hbase-server-1.4.10.jar" />
            <library id="hbase-hadoop-compat-1.4.10.jar" />
            <library id="hive-hbase-handler-2.3.6-amzn-1.jar"/>
            <library id="htrace-core-3.1.0-incubating.jar"/>
            <library id="netty-all-4.1.17.Final.jar"/>
            <library id="metrics-core-2.2.0.jar"/>
            <library id="zookeeper-3.4.12.jar"/>
        </libraryNeededGroup>
      
       <!-- Bigdata laucher group for Google Dataproc -->
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="talend-bigdata-launcher-core-2.4.6.jar" name="talend-bigdata-launcher-core-2.4.6.jar" mvn_uri="mvn:org.talend.bigdata.libs/talend-bigdata-launcher-core/2.4.6"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="talend-bigdata-launcher-dataproc-2.4.6.jar" name="talend-bigdata-launcher-dataproc-2.4.6.jar" mvn_uri="mvn:org.talend.bigdata.libs/talend-bigdata-launcher-dataproc/2.4.6"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="talend-bigdata-launcher-jobserver-2.4.6.jar" name="talend-bigdata-launcher-jobserver-2.4.6.jar" mvn_uri="mvn:org.talend.bigdata.libs/talend-bigdata-launcher-jobserver/2.4.6"/>
       
        <!-- Google Dataproc group -->
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="animal-sniffer-annotations-1.14.jar" name="animal-sniffer-annotations-1.14.jar" mvn_uri="mvn:org.codehaus.mojo/animal-sniffer-annotations/1.14"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="api-common" name="api-common-1.8.1.jar" mvn_uri="mvn:com.google.api/api-common/1.8.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="checker-compat-qual-2.5.2.jar" name="checker-compat-qual-2.5.2.jar" mvn_uri="mvn:org.checkerframework/checker-compat-qual/2.5.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="commons-codec-1.2.jar" name="commons-codec-1.2.jar" mvn_uri="mvn:commons-codec/commons-codec/1.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="commons-logging-1.2.jar" name="commons-logging-1.2.jar" mvn_uri="mvn:commons-logging/commons-logging/1.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="error_prone_annotations-2.1.3.jar" name="error_prone_annotations-2.1.3.jar" mvn_uri="mvn:com.google.errorprone/error_prone_annotations/2.1.3"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="failureaccess-1.0.1.jar" name="failureaccess-1.0.1.jar" mvn_uri="mvn:com.google.guava/failureaccess/1.0.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="gax" name="gax-1.47.1.jar" mvn_uri="mvn:com.google.api/gax/1.47.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="gax-httpjson" name="gax-httpjson-0.64.1.jar" mvn_uri="mvn:com.google.api/gax-httpjson/0.64.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-api-services-storage-v1-rev20181109-1.27.0.jar" name="google-api-services-storage-v1-rev20181109-1.27.0.jar" mvn_uri="mvn:com.google.apis/google-api-services-storage/v1-rev20181109-1.27.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-api-client-1.30.1" name="google-api-client-1.30.1.jar" mvn_uri="mvn:com.google.api-client/google-api-client/1.30.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-http-client-jackson2-1.30.1" name="google-http-client-jackson2-1.30.1.jar" mvn_uri="mvn:com.google.http-client/google-http-client-jackson2/1.30.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-http-client-1.30.1" name="google-http-client-1.30.1.jar" mvn_uri="mvn:com.google.http-client/google-http-client/1.30.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-oauth-client-1.30.1" name="google-oauth-client-1.30.1.jar" mvn_uri="mvn:com.google.oauth-client/google-oauth-client/1.30.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-cloud-datastore-1.83.0.jar" name="google-cloud-datastore-1.83.0.jar" mvn_uri="mvn:com.google.cloud/google-cloud-datastore/1.83.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-cloud-storage-1.73.0" name="google-cloud-storage-1.73.0.jar" mvn_uri="mvn:com.google.cloud/google-cloud-storage/1.73.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-cloud-core-1.73.0" name="google-cloud-core-1.73.0.jar" mvn_uri="mvn:com.google.cloud/google-cloud-core/1.73.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-cloud-core-http-1.73.0" name="google-cloud-core-http-1.73.0.jar" mvn_uri="mvn:com.google.cloud/google-cloud-core-http/1.73.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-http-client-apache-2.1.0.jar" name="google-http-client-apache-2.1.0.jar" mvn_uri="mvn:com.google.http-client/google-http-client-apache/2.1.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-api-services-dataproc" name="google-api-services-dataproc-v1-rev132-1.25.0.jar" mvn_uri="mvn:com.google.apis/google-api-services-dataproc/v1-rev132-1.25.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-auth-library-oauth2-http" name="google-auth-library-oauth2-http-0.16.2.jar" mvn_uri="mvn:com.google.auth/google-auth-library-oauth2-http/0.16.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-auth-library-credentials" name="google-auth-library-credentials-0.16.2.jar" mvn_uri="mvn:com.google.auth/google-auth-library-credentials/0.16.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-api-client-appengine-1.30.2" name="google-api-client-appengine-1.30.2.jar" mvn_uri="mvn:com.google.api-client/google-api-client-appengine/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-api-client-servlet-1.30.2" name="google-api-client-servlet-1.30.2.jar" mvn_uri="mvn:com.google.api-client/google-api-client-servlet/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-api-client-gson-1.30.2" name="google-api-client-gson-1.30.2.jar" mvn_uri="mvn:com.google.api-client/google-api-client-gson/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-api-client-jackson2-1.30.2" name="google-api-client-jackson2-1.30.2.jar" mvn_uri="mvn:com.google.api-client/google-api-client-jackson2/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-api-client-java6-1.30.2" name="google-api-client-java6-1.30.2.jar" mvn_uri="mvn:com.google.api-client/google-api-client-java6/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-api-client-protobuf-1.30.2" name="google-api-client-protobuf-1.30.2.jar" mvn_uri="mvn:com.google.api-client/google-api-client-protobuf/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-api-client-xml-1.30.2" name="google-api-client-xml-1.30.2.jar" mvn_uri="mvn:com.google.api-client/google-api-client-xml/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-http-client-appengine-1.30.2" name="google-http-client-appengine-1.30.2.jar" mvn_uri="mvn:com.google.http-client/google-http-client-appengine/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-http-client-gson-1.30.2.jar" name="google-http-client-gson-1.30.2.jar" mvn_uri="mvn:com.google.http-client/google-http-client-gson/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-http-client-protobuf-1.30.2.jar" name="google-http-client-protobuf-1.30.2.jar" mvn_uri="mvn:com.google.http-client/google-http-client-protobuf/1.30.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-oauth-client-appengine-1.30.1.jar" name="google-oauth-client-appengine-1.30.1.jar" mvn_uri="mvn:com.google.oauth-client/google-oauth-client-appengine/1.30.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-oauth-client-java6-1.30.1.jar" name="google-oauth-client-java6-1.30.1.jar" mvn_uri="mvn:com.google.oauth-client/google-oauth-client-java6/1.30.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-oauth-client-jetty-1.30.1.jar" name="google-oauth-client-jetty-1.30.1.jar" mvn_uri="mvn:com.google.oauth-client/google-oauth-client-jetty/1.30.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="google-oauth-client-servlet-1.30.1.jar" name="google-oauth-client-servlet-1.30.1.jar" mvn_uri="mvn:com.google.oauth-client/google-oauth-client-servlet/1.30.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="grpc-context-1.19.0.jar" name="grpc-context-1.19.0.jar" mvn_uri="mvn:io.grpc/grpc-context/1.19.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="gson-2.8.5.jar" name="gson-2.8.5.jar" mvn_uri="mvn:com.google.code.gson/gson/2.8.5"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="guava-27.0-jre.jar" name="guava-27.0-jre.jar" mvn_uri="mvn:com.google.guava/guava/27.0-jre" />
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="j2objc-annotations-1.3.jar" name="j2objc-annotations-1.3.jar" mvn_uri="mvn:com.google.j2objc/j2objc-annotations/1.3"/>        
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="jdo2-api-2.3-eb.jar" name="jdo2-api-2.3-eb.jar" mvn_uri="mvn:javax.jdo/jdo2-api/2.3-eb"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="jetty-6.1.26.jar" name="jetty-6.1.26.jar" mvn_uri="mvn:org.mortbay.jetty/jetty/6.1.26"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="jetty-util-6.1.26.jar" name="jetty-util-6.1.26.jar" mvn_uri="mvn:org.mortbay.jetty/jetty-util/6.1.26"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="jsr305-3.0.2.jar" name="jsr305-3.0.2.jar" mvn_uri="mvn:com.google.code.findbugs/jsr305/3.0.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="jackson-core-2.8.6.jar" name="jackson-core-2.8.6.jar" mvn_uri="mvn:com.fasterxml.jackson.core/jackson-core/2.8.6"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="json-20170516" name="json-20170516.jar" mvn_uri="mvn:org.json/json/20170516"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="opencensus-api-0.21.0.jar" name="opencensus-api-0.21.0.jar" mvn_uri="mvn:io.opencensus/opencensus-api/0.21.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="opencensus-contrib-http-util-0.21.0.jar" name="opencensus-contrib-http-util-0.21.0.jar" mvn_uri="mvn:io.opencensus/opencensus-contrib-http-util/0.21.0"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="protobuf-java-3.6.1.jar" name="protobuf-java-3.6.1.jar" mvn_uri="mvn:com.google.protobuf/protobuf-java/3.6.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="transaction-api-1.1.jar" name="transaction-api-1.1.jar" mvn_uri="mvn:javax.transaction/transaction-api/1.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="threetenbp" name="threetenbp-1.3.3.jar" mvn_uri="mvn:org.threeten/threetenbp/1.3.3"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="xpp3-1.1.4c.jar" name="xpp3-1.1.4c.jar" mvn_uri="mvn:xpp3/xpp3/1.1.4c"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="jets3t-0.9.4.jar" name="jets3t-0.9.4.jar" mvn_uri="mvn:net.java.dev.jets3t/jets3t/0.9.4"/>

        <!-- DATAPROC-LAUNCHER module -->
        <libraryNeededGroup description="Dataproc compile dependencies" id="DATAPROC-LAUNCHER-DI" name="DATAPROC-LAUNCHER-DI">
            <library id="commons-codec-1.2.jar" />
            <library id="commons-logging-1.2.jar" />
            <library id="google-auth-library-credentials" />
            <library id="google-api-services-storage-v1-rev20181109-1.27.0.jar" />
            <library id="google-api-services-dataproc" />
            <library id="google-cloud-core-1.73.0" />
            <library id="google-cloud-storage-1.73.0" />
            <library id="gax" />
            <library id="gax-httpjson" />
            <library id="threetenbp" />
            <library id="api-common" />
            <library id="google-cloud-core-http-1.73.0" />
            <library id="google-auth-library-oauth2-http" />
            <library id="google-api-client-1.30.1" />
            <library id="google-api-client-appengine-1.30.2" />
            <library id="google-api-client-servlet-1.30.2" />
            <library id="google-api-client-gson-1.30.2" />
            <library id="google-api-client-jackson2-1.30.2" />
            <library id="google-api-client-java6-1.30.2" />
            <library id="google-api-client-protobuf-1.30.2" />
            <library id="google-api-client-xml-1.30.2" />
            <library id="animal-sniffer-annotations-1.14.jar" />
            <library id="checker-compat-qual-2.5.2.jar" />
            <library id="error_prone_annotations-2.1.3.jar" />
            <library id="google-http-client-apache-2.1.0.jar" />
            <library id="j2objc-annotations-1.3.jar" />
            <library id="jdo2-api-2.3-eb.jar" />
            <library id="jets3t-0.9.4.jar" />
            <library id="jetty-6.1.26.jar" />
            <library id="jetty-util-6.1.26.jar" />
            <library id="jsr305-3.0.2.jar" />
            <library id="opencensus-api-0.21.0.jar" />
            <library id="opencensus-contrib-http-util-0.21.0.jar" />
            <library id="protobuf-java-3.6.1.jar" />
            <library id="transaction-api-1.1.jar" />
            <library id="xpp3-1.1.4c.jar" />
            <library id="google-http-client-1.30.1" />
            <library id="google-http-client-appengine-1.30.2" />
            <library id="google-http-client-gson-1.30.2.jar" />
            <library id="google-http-client-jackson2-1.30.1" />
            <library id="google-http-client-protobuf-1.30.2.jar" />
            <library id="google-oauth-client-1.30.1" />
            <library id="google-oauth-client-appengine-1.30.1.jar" />
            <library id="google-oauth-client-java6-1.30.1.jar" />
            <library id="google-oauth-client-jetty-1.30.1.jar" />
            <library id="google-oauth-client-servlet-1.30.1.jar" />
            <library id="grpc-context-1.19.0.jar" />
            <library id="gson-2.8.5.jar" />
            <library id="guava-27.0-jre.jar"/>
            <library id="jackson-core-2.8.6.jar" />
            <library id="jackson-core-asl-1.9.16-TALEND.jar" />
            <library id="jackson-mapper-asl-1.9.16-TALEND.jar" />
            <library id="json-20170516.jar" />
            <library id="failureaccess-1.0.1.jar" />
            <library id="talend-bigdata-launcher-dataproc-2.4.6.jar"/>
            <library id="talend-bigdata-launcher-core-2.4.6.jar"/>
            <library id="talend-bigdata-launcher-jobserver-2.4.6.jar"/>
        </libraryNeededGroup>
        
        <!-- Universal 3.1.X group -->
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="commons-collections-3.2.2.jar" name="commons-collections-3.2.2.jar" mvn_uri="mvn:commons-collections/commons-collections/3.2.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="commons-configuration2-2.1.1.jar" name="commons-configuration2-2.1.1.jar" mvn_uri="mvn:org.apache.commons/commons-configuration2/2.1.1"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="hadoop-auth-3.2.2.jar" name="hadoop-auth-3.2.2.jar" mvn_uri="mvn:org.apache.hadoop/hadoop-auth/3.2.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="hadoop-common-3.2.2.jar" name="hadoop-common-3.2.2.jar" mvn_uri="mvn:org.apache.hadoop/hadoop-common/3.2.2"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="stax2-api-3.1.4.jar" name="stax2-api-3.1.4.jar" mvn_uri="mvn:org.codehaus.woodstox/stax2-api/3.1.4"/>
        <libraryNeeded context="plugin:org.talend.designer.components.bigdata" id="woodstox-core-5.0.3.jar" name="woodstox-core-5.0.3.jar" mvn_uri="mvn:com.fasterxml.woodstox/woodstox-core/5.0.3"/>
        
        <!-- UNIVERSAL-3.1.X-LAUNCHER module -->
        <libraryNeededGroup description="Universal 3.1.x compile dependencies" id="UNIVERSAL-SPARK-3.1.X" name="UNIVERSAL-SPARK-3.1.X">
        	<library id="commons-collections-3.2.2.jar"/>
 			<library id="commons-configuration2-2.1.1.jar"/>
 			<library id="hadoop-auth-3.2.2.jar"/>
            <library id="hadoop-common-3.2.2.jar"/>
  			<library id="stax2-api-3.1.4.jar"/>
  			<library id="woodstox-core-5.0.3.jar" />
  	    </libraryNeededGroup>
      
   </extension>
</plugin>
