<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
        
        <!-- Big Data launcher libraries -->    
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="talend-bigdata-launcher-1.0.0-20150922"
            name="talend-bigdata-launcher-1.0.0-20150922.jar"
            mvn_uri="mvn:org.talend.libraries/talend-bigdata-launcher-1.0.0-20150922/6.0.0">
        </libraryNeeded>
        
        <!-- HDFS libraries -->    
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hadoop-hdfs-hdinsight330"
            name="hadoop-hdfs-2.7.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hadoop-hdfs-2.7.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hadoop-common-hdinsight330"
            name="hadoop-common-2.7.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hadoop-common-2.7.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hadoop-auth-hdinsight330"
            name="hadoop-auth-2.7.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hadoop-auth-2.7.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        
        <!-- Map/Reduce libraries -->    
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hadoop-mapreduce-client-core-hdinsight330"
            name="hadoop-mapreduce-client-core-2.7.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hadoop-mapreduce-client-core-2.7.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hadoop-mapreduce-client-common-hdinsight330"
            name="hadoop-mapreduce-client-common-2.7.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hadoop-mapreduce-client-common-2.7.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hadoop-mapreduce-client-jobclient-hdinsight330"
            name="hadoop-mapreduce-client-jobclient-2.7.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hadoop-mapreduce-client-jobclient-2.7.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hadoop-yarn-api-hdinsight330"
            name="hadoop-yarn-api-2.7.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hadoop-yarn-api-2.7.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hadoop-yarn-client-hdinsight330"
            name="hadoop-yarn-client-2.7.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hadoop-yarn-client-2.7.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hadoop-yarn-common-hdinsight330"
            name="hadoop-yarn-common-2.7.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hadoop-yarn-common-2.7.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hadoop-yarn-server-web-proxy-hdinsight330"
            name="hadoop-yarn-server-web-proxy-2.7.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hadoop-yarn-server-web-proxy-2.7.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        
        <!-- Pig libraries -->    
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="pig-hdinsight330"
            name="pig-0.15.0.2.3.3.1-7-core-h2.jar"
            mvn_uri="mvn:org.talend.libraries/pig-0.15.0.2.3.3.1-7-core-h2/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="parquet-pig-bundle-1.6.0.jar"
            name="parquet-pig-bundle-1.6.0.jar"
            mvn_uri="mvn:org.talend.libraries/parquet-pig-bundle-1.6.0/6.0.0">
        </libraryNeeded>
        
        <!-- Hive libraries -->    
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hive-exec-hdinsight330"
            name="hive-exec-1.2.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hive-exec-1.2.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hive-hcatalog-core-hdinsight330"
            name="hive-hcatalog-core-1.2.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hive-hcatalog-core-1.2.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hive-hcatalog-pig-adapter-hdinsight330"
            name="hive-hcatalog-pig-adapter-1.2.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hive-hcatalog-pig-adapter-1.2.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hive-hcatalog-server-extensions-hdinsight330"
            name="hive-hcatalog-server-extensions-1.2.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hive-hcatalog-server-extensions-1.2.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hive-metastore-hdinsight330"
            name="hive-metastore-1.2.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hive-metastore-1.2.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hive-common-hdinsight330"
            name="hive-common-1.2.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hive-common-1.2.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hive-serde-hdinsight330"
            name="hive-serde-1.2.1.2.3.3.1-7.jar"
            mvn_uri="mvn:org.talend.libraries/hive-serde-1.2.1.2.3.3.1-7/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="parquet-hive-bundle-1.6.0.jar"
            name="parquet-hive-bundle-1.6.0.jar"
            mvn_uri="mvn:org.talend.libraries/parquet-hive-bundle-1.6.0/6.0.0">
        </libraryNeeded>
        
        <!-- Spark libraries -->
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="spark-assembly-hdinsight330"
            name="talend-spark-assembly-2.7.0-hdinsight330.jar"
            mvn_uri="mvn:org.talend.libraries/talend-spark-assembly-2.7.0-hdinsight330/6.0.0">
        </libraryNeeded>                
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="job-server-api_2.10-0.5.3-SNAPSHOT.jar"
            name="job-server-api_2.10-0.5.3-SNAPSHOT.jar"
            mvn_uri="mvn:org.talend.libraries/job-server-api_2.10-0.5.3-SNAPSHOT/6.0.0">
        </libraryNeeded>                

        <!-- Third parties libraries -->
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="avro-hdinsight330"
            name="avro-1.7.7.jar"
            mvn_uri="mvn:org.talend.libraries/avro-1.7.7/6.0.0">
        </libraryNeeded>        
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="avro-compiler-hdinsight330"
            name="avro-compiler-1.7.7.jar"
            mvn_uri="mvn:org.talend.libraries/avro-compiler-1.7.7/6.0.0">
        </libraryNeeded>   
        <!--libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="hadoop-aws-hdinsight330"
            name="hadoop-aws-2.7.0.jar"
            mvn_uri="mvn:org.talend.libraries/hadoop-aws-2.7.0/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="aws-java-sdk-1.7.4.jar"
            name="aws-java-sdk-1.7.4.jar"
            mvn_uri="mvn:org.talend.libraries/aws-java-sdk-1.7.4/6.0.0">
        </libraryNeeded-->        
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="spark-streaming-kinesis-asl-assembly-hdinsight330"
            name="spark-streaming-kinesis-asl-assembly_2.10-1.5.0.jar"
            mvn_uri="mvn:org.talend.libraries/spark-streaming-kinesis-asl-assembly_2.10-1.5.0/6.0.0">
        </libraryNeeded>        
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="amazon-kinesis-client-1.2.1.jar"
            name="amazon-kinesis-client-1.2.1.jar"
            mvn_uri="mvn:org.talend.libraries/amazon-kinesis-client-1.2.1/6.0.0">
        </libraryNeeded>        
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="aws-java-sdk-kinesis-1.9.16.jar"
            name="aws-java-sdk-kinesis-1.9.16.jar"
            mvn_uri="mvn:org.talend.libraries/aws-java-sdk-kinesis-1.9.16/6.0.0">
        </libraryNeeded>        
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="aws-java-sdk-dynamodb-1.9.16.jar"
            name="aws-java-sdk-dynamodb-1.9.16.jar"
            mvn_uri="mvn:org.talend.libraries/aws-java-sdk-dynamodb-1.9.16/6.0.0">
        </libraryNeeded>        
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="aws-java-sdk-cloudwatch-1.9.16.jar"
            name="aws-java-sdk-cloudwatch-1.9.16.jar"
            mvn_uri="mvn:org.talend.libraries/aws-java-sdk-cloudwatch-1.9.16/6.0.0">
        </libraryNeeded>        
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="aws-java-sdk-core-1.9.16.jar"
            name="aws-java-sdk-core-1.9.16.jar"
            mvn_uri="mvn:org.talend.libraries/aws-java-sdk-core-1.9.16/6.0.0">
        </libraryNeeded>        
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="spark-streaming-kafka-hdinsight330"
            name="spark-streaming-kafka_2.10-1.5.0-hdinsight330.jar"
            mvn_uri="mvn:org.talend.libraries/spark-streaming-kafka_2.10-1.5.0-hdinsight330/6.0.0">
        </libraryNeeded>
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.hdinsight330"
            id="kafka_2.10-0.8.2.1.jar"
            name="kafka_2.10-0.8.2.1.jar"
            mvn_uri="mvn:org.talend.libraries/kafka_2.10-0.8.2.1/6.0.0">
        </libraryNeeded>        
        <libraryNeeded
            context="plugin:org.talend.libraries.esb"
            id="joda-time-2.7.jar"
            name="joda-time-2.7.jar"
            mvn_uri="mvn:org.talend.libraries/joda-time-2.7/6.0.0">
        </libraryNeeded>        
        <libraryNeeded
            context="plugin:org.talend.libraries.apache.kafka"
            id="kafka-clients-0.8.2.1.jar"
            name="kafka-clients-0.8.2.1.jar"
            mvn_uri="mvn:org.talend.libraries/kafka-clients-0.8.2.1/6.0.0">
        </libraryNeeded>             
        
        <!-- Groups -->
        
        <!-- Big Data launcher group -->
        <libraryNeededGroup
                description="Big Data launcher libraries for HDInsight 3.3.0"
                id="BIGDATA-LAUNCHER-LIB-HD_INSIGHT_3_3_0"
                name="BIGDATA-LAUNCHER-LIB-HD_INSIGHT_3_3_0"  >
             <library id="talend-bigdata-launcher-1.0.0-20150922" />
        </libraryNeededGroup>
        
        <!-- HDFS group -->
        <libraryNeededGroup
                description="HDFS libraries for HDInsight 3.3.0"
                id="HDFS-LIB-HD_INSIGHT_3_3_0"
                name="HDFS-LIB-HD_INSIGHT_3_3_0"  >
             <library id="hadoop-common-hdinsight330" />
             <library id="hadoop-hdfs-hdinsight330" />
             <library id="hadoop-auth-hdinsight330" />
             <library id="commons-configuration-1.6.jar" />
             <library id="commons-lang-2.6.jar" />
             <library id="commons-logging-1.2.jar" />
             <library id="commons-cli-1.2.jar" />
             <library id="commons-collections-3.2.1.jar" />
             <library id="slf4j-api-1.7.5.jar" />
             <library id="slf4j-log4j12-1.7.5.jar" />
             <library id="guava-12.0.1.jar" />
             <library id="protobuf-java-2.5.0.jar" />
             <library id="org.apache.commons.httpclient_3.1.0.v201012070820.jar" />
        </libraryNeededGroup>
        
        <!-- Map/Reduce group -->
        <libraryNeededGroup
                description="Map/Reduce libraries for HDInsight 3.3.0"
                id="MAPREDUCE-LIB-HD_INSIGHT_3_3_0"
                name="MAPREDUCE-LIB-HD_INSIGHT_3_3_0"  >
             <library id="hadoop-mapreduce-client-core-hdinsight330"/>
             <library id="hadoop-mapreduce-client-common-hdinsight330"/>
             <library id="hadoop-mapreduce-client-jobclient-hdinsight330"/>
             <library id="hadoop-yarn-api-hdinsight330"/>
             <library id="hadoop-yarn-client-hdinsight330"/>
             <library id="hadoop-yarn-common-hdinsight330"/>
             <library id="hadoop-yarn-server-web-proxy-hdinsight330"/>
             <library id="commons-codec-1.9.jar" />
             <library id="jackson-mapper-asl-1.8.8.jar" />
             <library id="jackson-core-asl-1.8.8.jar" />
             <library id="htrace-core-3.2.0-incubating.jar" />
        </libraryNeededGroup>
        
        <!-- Map/Reduce parquet group -->
        <libraryNeededGroup
                description="Map/Reduce parquet libraries for HDInsight 3.3.0"
                id="MAPREDUCE-PARQUET-LIB-HD_INSIGHT_3_3_0"
                name="MAPREDUCE-PARQUET-LIB-HD_INSIGHT_3_3_0"  >
             <library id="parquet-hadoop-bundle-1.6.0.jar" />
             <library id="snappy-java-1.0.5.jar" />
        </libraryNeededGroup>
        
        <!-- Pig group -->
        <libraryNeededGroup
                description="Pig libraries for HDInsight 3.3.0"
                id="PIG-LIB-HD_INSIGHT_3_3_0"
                name="PIG-LIB-HD_INSIGHT_3_3_0">
            <library id="pig-hdinsight330"/>
            <library id="antlr-runtime-3.4.jar"/>
            <library id="jline-2.11.jar"/>
            <library id="joda-time-2.5.jar"/>
            <library id="snappy-java-1.0.5.jar"/>
            <library id="datafu-1.2.0.jar"/>
        </libraryNeededGroup>
        
        <!-- Pig HCatalog group -->
        <libraryNeededGroup
                description="Pig HCatalog libraries for HDInsight 3.3.0"
                id="PIG-HCATALOG-LIB-HD_INSIGHT_3_3_0"
                name="PIG-HCATALOG-LIB-HD_INSIGHT_3_3_0">
            <library id="hive-exec-hdinsight330"/>
            <library id="hive-hcatalog-core-hdinsight330"/>
            <library id="hive-hcatalog-pig-adapter-hdinsight330"/>
            <library id="hive-hcatalog-server-extensions-hdinsight330"/>
            <library id="hive-metastore-hdinsight330"/>
            <library id="jdo-api-3.0.1.jar"/>
            <library id="libfb303-0.9.2.jar"/>
            <library id="libthrift-0.9.2.jar"/>
        </libraryNeededGroup>
        
        <!-- Pig parquet group -->
        <libraryNeededGroup
                description="Pig Parquet libraries for HDInsight 3.3.0"
                id="PIG-PARQUET-LIB-HD_INSIGHT_3_3_0"
                name="PIG-PARQUET-LIB-HD_INSIGHT_3_3_0">
            <library id="parquet-pig-bundle-1.6.0.jar"/>
            <library id="snappy-java-1.0.5.jar" />
        </libraryNeededGroup>
        
        <!-- Pig avro group -->
        <libraryNeededGroup
                description="Pig Avro libraries for HDInsight 3.3.0"
                id="PIG-AVRO-LIB-HD_INSIGHT_3_3_0"
                name="PIG-AVRO-LIB-HD_INSIGHT_3_3_0">
            <library id="avro-hdinsight330" />
            <library id="commons-io-2.4.jar"/>
            <library id="piggybank-cdh5.4.jar"/>
        </libraryNeededGroup>
        
        <!-- Pig RCFile group -->
        <libraryNeededGroup
                description="Pig RCFile libraries for HDInsight 3.3.0"
                id="PIG-RCFILE-LIB-HD_INSIGHT_3_3_0"
                name="PIG-RCFILE-LIB-HD_INSIGHT_3_3_0">
            <library id="hive-common-hdinsight330"/>
            <library id="hive-exec-hdinsight330"/>
            <library id="hive-serde-hdinsight330"/>
            <library id="elephant-bird-core-4.9.jar"/>
            <library id="elephant-bird-hadoop-compat-4.9.jar"/>
            <library id="elephant-bird-rcfile-4.9-patched-hive-1.x.jar"/>
        </libraryNeededGroup>
        
        <!-- Pig SequenceFile group -->
        <libraryNeededGroup
                description="Pig SequenceFile libraries for HDInsight 3.3.0"
                id="PIG-SEQUENCEFILE-LIB-HD_INSIGHT_3_3_0"
                name="PIG-SEQUENCEFILE-LIB-HD_INSIGHT_3_3_0">
            <library id="elephant-bird-core-4.9.jar"/>
            <library id="elephant-bird-hadoop-compat-4.9.jar"/>
            <library id="elephant-bird-pig-4.9.jar"/>
            <library id="pigutil.jar"/>
        </libraryNeededGroup>
        
        <!-- Hive parquet group -->
        <libraryNeededGroup
                description="Hive Parquet libraries for HDInsight 3.3.0"
                id="HIVE-PARQUET-LIB-HD_INSIGHT_3_3_0"
                name="HIVE-PARQUET-LIB-HD_INSIGHT_3_3_0">
            <library id="parquet-hive-bundle-1.6.0.jar" />
            <library id="snappy-java-1.0.5.jar" />
        </libraryNeededGroup>
        
        <!-- Spark group -->
        <libraryNeededGroup
                description="Spark libraries for HDInsight 3.3.0"
                id="SPARK-LIB-HD_INSIGHT_3_3_0"
                name="SPARK-LIB-HD_INSIGHT_3_3_0">
             <library id="spark-assembly-hdinsight330" />
             <library id="jersey-server-1.14.jar" />
             <library id="jersey-servlet-1.14.jar" />
             <library id="jackson-databind-2.2.3.jar" />
             <library id="jackson-core-2.2.3.jar" />
             <library id="jackson-annotations-2.2.3.jar" />
             <library id="snappy-java-1.0.5.jar" />
             <library id="parquet-hadoop-bundle-cdh5.5.0"/>
             <library id="avro-hdinsight330" />
             <library id="avro-compiler-hdinsight330" />
        </libraryNeededGroup>    
        
        <!-- Spark group MRREQUIRED -->
        <libraryNeededGroup
                description="Spark libraries for HDInsight 3.3.0 that are MRREQUIRED"
                id="SPARK-LIB-MRREQUIRED-HD_INSIGHT_3_3_0"
                name="SPARK-LIB-MRREQUIRED-HD_INSIGHT_3_3_0">
             <library id="job-server-api_2.10-0.5.3-SNAPSHOT.jar"/>
        </libraryNeededGroup>
        
        <!-- Spark Parquet group MRREQUIRED -->
        <libraryNeededGroup
                description="Spark libraries for HDInsight 3.3.0 that are MRREQUIRED"
                id="SPARK-PARQUET-LIB-MRREQUIRED-HD_INSIGHT_3_3_0"
                name="SPARK-PARQUET-LIB-MRREQUIRED-HD_INSIGHT_3_3_0">
             <library id="parquet-avro-hdinsight330"/>
             <library id="parquet-hadoop-bundle-hdinsight330"/>
        </libraryNeededGroup>
        
        <!-- Spark S3 group MRREQUIRED -->
        <libraryNeededGroup
                description="Spark S3 libraries for HDInsight 3.3.0 that are MRREQUIRED"
                id="SPARK-S3-LIB-MRREQUIRED-HD_INSIGHT_3_3_0"
                name="SPARK-S3-LIB-MRREQUIRED-HD_INSIGHT_3_3_0">
             <library id="hadoop-aws-hdinsight330"/>
             <library id="aws-java-sdk-1.7.4.jar"/>
             <library id="jets3t-0.9.0" />
             <library id="httpclient-4.2.5.jar" />
             <library id="httpcore-4.2.5.jar" />
        </libraryNeededGroup>
        
        <!-- Spark Hive group MRREQUIRED -->
        <libraryNeededGroup
                description="Spark Hive libraries for HDInsight 3.3.0 that are MRREQUIRED"
                id="SPARK-HIVE-LIB-MRREQUIRED-HD_INSIGHT_3_3_0"
                name="SPARK-HIVE-LIB-MRREQUIRED-HD_INSIGHT_3_3_0">
            <library id="hive-exec-hdinsight330"/>
            <library id="hive-metastore-hdinsight330"/>
            <library id="libfb303-0.9.2.jar"/>            
        </libraryNeededGroup>
        
        <!-- Spark Kinesis group MRREQUIRED -->
        <libraryNeededGroup
                description="Spark Kinesis libraries for HDInsight 3.3.0 that are MRREQUIRED"
                id="SPARK-KINESIS-LIB-MRREQUIRED-HD_INSIGHT_3_3_0"
                name="SPARK-KINESIS-LIB-MRREQUIRED-HD_INSIGHT_3_3_0">
            <library id="spark-streaming-kinesis-asl-assembly-hdinsight330"/>
            <library id="amazon-kinesis-client-1.2.1.jar"/>
            <library id="aws-java-sdk-kinesis-1.9.16.jar"/>
            <library id="aws-java-sdk-core-1.9.16.jar"/>            
            <library id="aws-java-sdk-dynamodb-1.9.16.jar"/>            
            <library id="aws-java-sdk-cloudwatch-1.9.16.jar"/>            
            <library id="joda-time-2.7.jar"/>            
        </libraryNeededGroup>
        
        <!-- Spark Kafka group MRREQUIRED -->
        <libraryNeededGroup
                description="Spark Kafka assembly libraries for HDInsight 3.3.0 that are MRREQUIRED"
                id="SPARK-KAFKA-ASSEMBLY-LIB-MRREQUIRED-HD_INSIGHT_3_3_0"
                name="SPARK-KAFKA-ASSEMBLY-LIB-MRREQUIRED-HD_INSIGHT_3_3_0">
            <library id="spark-streaming-kafka-hdinsight330"/>
            <library id="kafka_2.10-0.8.2.1.jar"/>
            <library id="metrics-core-2.2.0.jar"/>
        </libraryNeededGroup>
        
        <!-- Spark Kafka Client group MRREQUIRED -->
        <libraryNeededGroup
                description="Spark Kafka client libraries for HDInsight 3.3.0 that are MRREQUIRED"
                id="SPARK-KAFKA-CLIENT-LIB-MRREQUIRED-HD_INSIGHT_3_3_0"
                name="SPARK-KAFKA-CLIENT-LIB-MRREQUIRED-HD_INSIGHT_3_3_0">
            <library id="kafka-clients-0.8.2.1.jar"/>
        </libraryNeededGroup>
        
        <!-- Spark Kafka Avro group MRREQUIRED -->
        <libraryNeededGroup
                description="Spark Kafka Avro libraries for HDInsight 3.3.0 that are MRREQUIRED"
                id="SPARK-KAFKA-AVRO-LIB-MRREQUIRED-HD_INSIGHT_3_3_0"
                name="SPARK-KAFKA-AVRO-LIB-MRREQUIRED-HD_INSIGHT_3_3_0">
            <library id="avro-hdinsight330"/>
            <library id="jackson-mapper-asl-1.8.8.jar" />
            <library id="jackson-core-asl-1.8.8.jar" />
        </libraryNeededGroup>            
        
    </extension>
</plugin>